[2021-06-10 17:40] jkesterson commented on #1270
Also having this issue, checks that aren't manually placed into the checkov default checks folder will not load. --external-checks-dir flag seems to do nothing right now (v.2.0.187)

[2021-06-11 07:14] matthieu-audin opened #1284 "Will Checkov support Terragrunt ?"
I would like to know if checkov plan to support terragrunt ? If yes, when it is planned ?

[2021-06-11 23:02] kevincantu opened #1286 "Check suppression in plan-file mode fails half the time"
I'm on macOS Big Sur, running Python 3.9.5 and the pip install of Checkov v2.0.192 with some Terraform v0.12.31 compatible code.

My Terraform code defines a GKE cluster and four node groups.   I've satisfied Checkov in directory mode by adding about a dozen skips for particular things in Terraform comments, so that this reports no failed checks:
[code]

After some initial success with https://git

[2021-06-12 21:40] Porkepix commented on #688
PR https://github.com/bridgecrewio/checkov/pull/745#issuecomment-833226410 should resolve this issue? right?

[2021-06-14 14:09] mikeurbanski1 commented on #1270
@jkesterson Are you also running on a plan file?

[2021-06-14 14:09] mikeurbanski1 commented on #1270
@kartikp10 @schosterbarak could be related to https://github.com/bridgecrewio/checkov/issues/1257

[2021-06-14 17:31] michal-adamkiewicz commented on #1270
Hmm IMHO it looks exactly the same as the "mine" issue in the console. That's right.

[2021-06-15 03:45] kartikp10 commented on #1257
Hey @Marcus-James-Adams could you please update checkov and let me know if this is still failing? For me, I'm getting an output when I use the -f flag to scan a plan file.
[code]

[2021-06-15 10:38] ribbybibby opened #1292 "Allow scanning hidden directories"
It seems like sub-directories that start with a `.` are ignored by checkov: https://github.com/bridgecrewio/checkov/blob/master/checkov/common/runners/base_runner.py#L23.

I can't see a way to workaround this issue, other than copying the contents of the hidden directory to a non-hidden one, or running checkov on the hidden dir separately.

The use case I have in mind is scanning the `.terraform/m

[2021-06-15 11:47] schosterbarak commented on #1292
hey @ribbybibby this is possible by editing CKV_IGNORED_DIRECTORIES environment variable that is described here: https://github.com/bridgecrewio/checkov#skipping-directories

[2021-06-15 11:47] #1292 closed

[2021-06-15 12:55] ribbybibby commented on #1292
@schosterbarak I don't think it is. If you look at the code I linked, it's excluding any directories that start with `.` regardless of what `CKV_IGNORED_DIRECTORIES` is set to:
[code]

This is backed up by my observations:
[code]
I would expect to see failed checks for `./terraform/modules/hidden` here.

[2021-06-15 16:27] #712 closed

[2021-06-16 09:08] lmpardey opened #1296 "Pre-commit hook always shows "passed" from 2.0.49 onwards"
**Describe the bug**
Since version 2.0.49, when checkov runs via `pre-commit`, the result of the hook is always "Passed" even when the scanned code fails checks. This does not happen for versions 2.0.48 and older.

**To Reproduce**
Steps to reproduce the behavior:

Install checkov as a git commit hook with the pre-commit framework:
1. Get a repository with IaC configuration
2. Install pre-commit i

[2021-06-17 07:20] michal-adamkiewicz commented on #1270
I'm sorry guys for focusing very much on this, but I'm only asking - do you think it's something "doable" or it will take longer than thought?

[2021-06-17 12:56] gregn610 opened #1302 "KeyError: 'aws_api_gateway_stage.stage'"
Checkov crashing with KeyError when using `--repo-root-for-plan-enrichment`.
Succeeds when used without that.

Possibly module related???

**To Reproduce**
Steps to reproduce the behavior:
1. Have TF using a module on private github, eg: main.tf
[code]
2.`terraform plan -var-file=dev.tfvars -var EXTERNAL_ID="" -var ROLE_ARN=""  -out tf.plan`
3.`terraform show -json tf.plan | jq '.' > tf.json`
4. `

[2021-06-17 22:10] lelandothegreat commented on #1270
Our team is also very much awaiting this in order to use it

[2021-06-20 15:03] #1302 closed

[2021-06-20 16:40] gruebel commented on #1296
I tried on Linux and it works as intended, could be a Windows issue, hard to say.
Could you try to change the pre-commit config to
[code]
that's basically the the same entry point as in `checkov` configured.

[2021-06-20 17:09] gruebel commented on #1144
@schosterbarak can you close this issue, it was fixed with PR #1134

[2021-06-21 09:45] ribbybibby opened #1312 "Hidden directories are ignored, regardless of CKV_IGNORED_DIRECTORIES"
Opening a new issue seen as #1292 was closed.

**Describe the bug**
Checkov will not recurse into hidden directories like `.terraform`, even when the directory is omitted from `CKV_IGNORED_DIRECTORIES`.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a terraform module in `/tmp/test/module` with some resources that will fail a check
2. Setup another terraform module with failures, but

[2021-06-21 13:59] lmpardey commented on #1296
@gruebel thanks for looking into this! Changing the entry-point didn't help, it still reports passed when it should fail. The same issue happens in PowerShell, CMD and git-bash (Windows 10). Please see the screenshot below for reference (redacted usernames/machine info).

If it helps, if I run `checkov`, either the binary or invoked via python, on the same set of files does returns an exit code of

[2021-06-21 16:49] MarlonMrN opened #1315 "Is there any data being sent anywhere?"
Hi, I'm just opening this issue at first before going deeper in the code to check on that...

But I would like to know if is there any info being sent outside of the machine that's running checkov? If so, is there any way to run it "offline"?

Reading the docs, I saw that in the disclaimer (https://github.com/bridgecrewio/checkov#disclaimer) stating that there's no identifiable information being s

[2021-06-22 06:43] #1143 closed

[2021-06-22 07:42] rdenchev opened #1317 "Check CKV2_AZURE_21 conflicts with rule CKV_AZURE_34"
I have a Azure Storage Account with Azure Storage Container.
To fullfill the check CKV_AZURE_34, I have set "container_access_type=private" for the Azure Storage Container.
To fullfill the check CKV2_AZURE_21, "container_access_type=blob" is required which leads to CKV_AZURE_34. See https://github.com/bridgecrewio/checkov/blob/d32adef6e13ce9f769e86edffd49e6ae1c6f5da5/checkov/terraform/checks/graph

[2021-06-22 12:13] SebastianBalle commented on #1144
I will close the issue.

[2021-06-22 12:13] #1144 closed

[2021-06-22 19:56] gruebel commented on #1317
I think the part
[code]
can be omitted completely, because enabling logging should be not dependable on the allowed/disallowed anonymous access of the storage container. @schosterbarak do you have any thoughts on this?

[2021-06-24 10:19] yuriy-murdza-tm commented on #1203
Also, this issue is present whent use terraform concat function:

resource "aws_security_group" "instance" {
  name        = local.security_group_name
  description = "Security Group for ${var.name_prefix}"
  vpc_id      = data.aws_vpc.vpc.id
  lifecycle {
    create_before_destroy = true
  }
}

#autoscaling_module
security_group_ids                   = concat([aws_security_group.instance.id], var

[2021-06-24 17:18] jkesterson opened #1326 "Add --warn option similar to --check"
There are many great checks that come with Checkov that allow me to block deployments of insecure, noncompliant resources. The problem is, there are many cases where I want devs to be AWARE of a potential security misconfig without entirely blocking their deployment. For example, I wouldn't want to block a deployment of an ALB for not redirecting to HTTPS, but I would like them to KNOW about it.

[2021-06-25 06:49] overallcoma opened #1328 "Specify Output File"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to run checkov via a container and simply output json to a file for subsequent processing.

**Describe the solution you'd like**
A switch that specifies an output file.  Specifically I'm trying to make a scan output a json file and simply save the file.

**Describe alternatives you've considered**
I struggled wi

[2021-06-25 08:39] gruebel commented on #1328
you can just redirect the output with `>`, like
[code]

[2021-06-25 12:02] overallcoma commented on #1328
Checkov errors out if you start a docker container with ">" in the command.  It'll interpret ">" as part of the checkov command along with anything after and spit out the help.

Same if you try to pipe the output and use tee.

[2021-06-25 13:23] gruebel commented on #1328
that's strange, are you on Windows? I just ran following command on my Mac and there was no issue at all
[code]

[2021-06-25 14:02] overallcoma commented on #1328
![image](https://user-images.githubusercontent.com/30637170/123435970-c2cc2680-d593-11eb-9aa1-fcd4c2f79729.png)
This is the relevant section of the docker inspect
![image](https://user-images.githubusercontent.com/30637170/123436131-f1e29800-d593-11eb-8d03-c38b57269bbb.png)
This is what happens if you try to do it this way - the command becomes part of the parameters for checkov.

It could be reme

[2021-06-25 14:07] overallcoma commented on #1328
Relevant section of the docker inspect:
![image](https://user-images.githubusercontent.com/30637170/123436607-69b0c280-d594-11eb-9cff-8adf47ec91f2.png)
Output from the container:
![image](https://user-images.githubusercontent.com/30637170/123436711-84833700-d594-11eb-8a9d-03dd3db1455f.png)

It is due to interpreting the inputs as parameters and checkov trying to analyze them.  I guess you could fi

[2021-06-25 14:17] MikeK184 opened #1329 "Skipping checks in Kubernetes are ignored?"
## Describe the bug
Declaring to skip policies in the job template does not take effect and logs still contain the to be skipped policies in output.

## Expected behavior
The specified policies to be skipped.

## Additional context
As example we would like to skip the CKV_K8S_38 in our Kubernetes Cluster, without having to add annotations to each individual resource and just let checkov know to sk

[2021-06-25 14:25] overallcoma commented on #1328
If I change the entrypoint to /bin/sh and run "'checkov --quiet -o junitxml -d /scan/test-data > /scan/output/checkovscan.xml' - the container can't locate checkov to run it.

If I change the entrypoint to /bin/sh and run "/usr/local/bin/checkov --quiet -o junitxml -d /scan/test-data > /scan/output/checkovscan.xml' I get this:
![image](https://user-images.githubusercontent.com/30637170/123438914-d

[2021-06-28 07:11] #155 closed

[2021-06-28 07:53] michal-adamkiewicz commented on #1270
Seems that unfortunately, I have to look for another solution, as I thought It will be easy solvable :/

[2021-06-28 17:27] njgibbon commented on #688
Hey @Porkepix  et al. Thanks for raising the conversation on this. I think this can close now with ref to the comments i've made here to summarise our state on this topic - https://github.com/bridgecrewio/checkov/pull/745#issuecomment-869174272

[2021-06-30 07:58] rbmarkh opened #1337 "GKE Shielded Node Checks (CKV_GCP_68 and CKV_GCP_72) can crash with dynamic content block"
**Describe the bug**
GKE Shielded Node Checks (CKV_GCP_68, 72) fail if shielded_instance_config present but empty

**To Reproduce**
1. Have an affected resource with an empty shielded_instance_config block:

In our TF, shielded_instance_config is a dynamic block for backward compatibility reasons:
[code]

2. Run checkov against the generated plan
3. You'll get a Python traceback:
[code]

**Expecte

[2021-06-30 13:53] Richard-CDS commented on #741
As with @daviddob, I too am experiencing the same issue having used variables to construct the storage account name (23 chars long).

The accounts are created fine, but the rule check fails.

[2021-06-30 14:57] epaul1 opened #1339 "CKV_GCP_26 is not working as expected when using terraform plan output."
**Describe the bug**
CKV_GCP_26 check is not providing expected output when it is ran against terraform output json file. Check is gives the result as PASSED even if we don't have the flow logs enabled for the subnet. However if we run it against the directory where we have the .tf files then the check returns the FAILED status which is expected.

checkov version used: `2.0.236`
Terraform version

[2021-07-01 15:23] nisargtk opened #1346 "Latest tag 2.0.244 is not available on docker hub and image pull gets failed."
**Describe the bug**
Latest tag bridgecrew/checkov:2.0.244 is not available on docker hub and image pull gets failed.

**To Reproduce**
Steps to reproduce the behavior:
1. Run command from cli :  docker pull bridgecrew/checkov:2.0.244
Getting image pull error
Error response from daemon: manifest for bridgecrew/checkov:2.0.244 not found: manifest unknown: manifest unknown
  Warning: Docker pull fai

[2021-07-01 17:03] nimrodkor commented on #1346
Looking into it

[2021-07-01 17:04] nimrodkor commented on #1346
I think I might have found the issue, pushing https://github.com/bridgecrewio/checkov/commit/291e229f6e3ae2626ed15b741d0ecd1374e25e12

[2021-07-01 17:20] nimrodkor commented on #1346
latest tag, 2.0.246 was released. 👍
Thanks!

[2021-07-01 17:34] #1346 closed

[2021-07-01 17:55] lelandothegreat commented on #1270
Hi guys, any idea on when this would be fixed?

[2021-07-02 16:35] jkesterson commented on #1257
I have also had this issue on latest version (v2.0.247)

[2021-07-02 19:44] ismailyenigul commented on #1284
Hi @matthieu-audin

You can use `terragrunt plan` output in json with checkov.
[code]

[2021-07-05 08:36] nimrodkor commented on #1329
Hi @MikeK184 !

You're right, it seems checkov does not take in the args - see
https://github.com/bridgecrewio/checkov/blob/3cc52743faece587fdd15dd2fe12e8139a61e5cf/kubernetes/Dockerfile
and
https://github.com/bridgecrewio/checkov/blob/3cc52743faece587fdd15dd2fe12e8139a61e5cf/kubernetes/run_checkov.sh
We'd appreciate a contribution there!

[2021-07-05 08:41] nimrodkor commented on #1326
Hey @jkesterson !

We've recently merged #1327 , which adds the flags that can help you do that. try `--soft-fail-on` :)

[2021-07-05 08:41] #1326 closed

[2021-07-05 08:45] nimrodkor commented on #1317
I'd like to propose this change to the definition:
[code]

WDYT @gruebel @rdenchev ?

[2021-07-05 08:49] nimrodkor commented on #1315
Hi @MarlonMrN !

Checkov uses the internet for 2 things:
1. Retrieving the guidelines, which can be turned off as you stated.
2. Integration with the Bridgecrew platform, which requires a Bridgecrew API key. The data that is passed in that case is related to the findings only.

Regarding checkov.io - we did improve it a little I hope. Let me know if it is still super slow!

[2021-07-05 12:17] nimrodkor commented on #1270
Hey guys!
Sorry for the late response @lelandothegreat . Plan scanning does not generate a graph (no rendering is needed) and so custom graph checks do not run on it.
I've written a small workaround, will open a PR soon
@michal-adamkiewicz FYI

[2021-07-06 08:09] #1270 closed

[2021-07-06 13:24] AntonelaCukurin opened #1351 "The junitxml output is missing the `guide` links"
**Describe the bug**
The junitxml output is missing the `guide` section. The output consists of, for example:

[code]
It provides needed data, but it is missing a link to the guide. The issue was found when we tried to publish results in the Azure DevOps pipeline and saw there were no links to the solution.

**To Reproduce**
Steps to reproduce the behavior:
1. docker pull bridgecrew/checkov:2
2. d

[2021-07-06 20:32] g-linville opened #1352 "Running the official checkov Docker image on a Helm chart does not produce the expected output"
**Describe the bug**
Running checkov on a Helm chart using the Docker container does not produce the same output when run on the same files and with the same options locally outside of Docker.

**To Reproduce**
1. Run checkov locally on a directory that contains a Helm chart (e.g. `checkov -d /path/to/my/helm/chart`
2. Run checkov using the Docker image: `docker run -t -v /path/to/my/helm/chart:/c

[2021-07-07 06:06] spreger5 commented on #1329
The script /app/run_checkov.sh calls checkov but does not include any arguments passed to run_checkov.sh
Add "$@" on the two lines calling checkov

Created a pull request https://github.com/bridgecrewio/checkov/pull/1355/files

[2021-07-07 11:38] vmorkunas opened #1356 "Selecting AWS policies fields"
Hello,

I am trying to write a YAML custom check to check if the SQS policy has a "*" in resources block of policy:

[code]

Then i pass this policy to aws_sqs_queue_policy resource and run a check on it:

[code]

But this doesn't work and it always matches even if I change value in the check.

Could this case with policy reading be added to the docs?

[2021-07-07 11:51] #1329 closed

[2021-07-07 16:42] ericdeflaminis commented on #1203
I started seeing this today on LB resources out of the blue, same code and versions. Not sure if it's related but definitely a false positive on my end. A simplified example below:

[code]

[2021-07-08 02:40] ninjahck opened #1358 "Can we Integrate CheckOv with Atlantis if Yes How , if Not please add it"
I wanted to integrate checkov with Atlantis so that I can run this with every PR to check for compliance and fail the PR.

[2021-07-08 09:35] efernandes-dev-ops opened #1359 "Incorrect warning failure (CKV2_AWS_23) when referring resource value from terraform module"
**Describe the bug**
Checkov warning check incorrect for creating a route53 A record with an alias when getting the alb value from a module.

Get the following warning out:

Check: CKV2_AWS_23: "Route53 A Record has Attached Resource"

**To Reproduce**
Steps to reproduce the behavior:
1. Use a terraform module to create an alb. Example: terraform-aws-modules/alb/aws
2. Create a terraform route53 r

[2021-07-08 12:39] camaeel commented on #1359
I have the same issue with CNAME record:

[code]

[2021-07-08 13:54] crbunney opened #1360 "Checkov crashes with UnicodeEncodeError under gitbash"
**Describe the bug**
When I try to run checkov I get an error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `pip install checkov==2.0.259`
2. `checkov`

**Expected behavior**
Checkov should run without crashing

**Desktop (please complete the following information):**
 - OS:
   - Edition	Windows 10 Enterprise
Version	20H2
OS build	19042.1052
Experience	Windows Feature Experience Pa

[2021-07-08 14:51] willholley opened #1361 "False positive CKV_SECRET_6 after upgrading to 2.0.253"
**Describe the bug**
After updating checkov to 2.0.253 (including https://github.com/bridgecrewio/checkov/pull/1350), checkov started failing on an apparent false positive match for `CKV_SECRET_6`:

[code]

I can see that `api_key` might trigger a secret match but it seems that this should generate `CKV_SECRET_10` instead?

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected beha

[2021-07-09 09:09] daniel-intenthq opened #1363 "check CKV_SECRET_6 fails even when suppressed"
**Describe the bug**
Checkov raises FAILED check CKV_SECRET_6 when running against a project even if the check is suppressed. However if running checkov on a single terraform file it doesn't flag the same error.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a single terraform file and save in under a new dir (test/main.tf) with a resource would fail this check but make a comment so

[2021-07-09 19:07] g-linville commented on #1352
So I ran the container with `LOG_LEVEL=debug` passed in as an environment variable, and in the logs I observed these two lines:

[code]

Why isn't the Docker image equipped to check Helm charts? Is there any way to modify it so that it can check Helm charts?

[2021-07-11 01:48] wahlfeld commented on #1359
Same 🤌🤌🤌

[2021-07-11 07:07] schosterbarak commented on #1358
hey @ninjahck take a look at: https://github.com/nitrocode/atlantis-terraform-module/blob/master/atlantis.yaml

[2021-07-11 07:07] #1358 closed

[2021-07-11 07:54] #1315 closed

[2021-07-12 04:34] fabasoad commented on #1359
I have the same with `type = "A"`.

[2021-07-12 12:05] JamesWoolfenden commented on #1359
fixed in https://github.com/bridgecrewio/checkov/pull/1369

[2021-07-12 14:59] schosterbarak commented on #1359
thanks @JamesWoolfenden !

[2021-07-12 14:59] #1359 closed

[2021-07-12 16:49] nisargtk opened #1370 "return value or exit code comes zero even if scan result has failed check"
**Describe the bug**
return value or exit code comes zero even if scan result has failed check. Earlier if was 1 for failed checks which we used in our scripts to post the result as success or failed but after upgrading from version 2.0.256 to 2.0.265 and even 2.0.266 exit code comes 0 in terraform plan scan.

**To Reproduce**
Steps to reproduce the behavior:
1. run terraform plan and output it as

[2021-07-12 18:59] gruebel commented on #1363
super interesting, it works when you are in the folder and do the check like
[code]
but it fails, when doing it from the parent folder, like you did it.

[2021-07-13 02:47] dullest opened #1373 "CKV2_AWS_23 warns if alias has data resources"
**Describe the bug**
This is similar to https://github.com/bridgecrewio/checkov/issues/1359
`aws_route53_record` has data as alias in this case.
Is this warned by design of `CKV2_AWS_23` rule?

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a zone and a LB  by aws console or separated terraform codes.
2. Create `data`(refers a zone and a LB what were created by step1) and `aws

[2021-07-13 09:45] JamesWoolfenden commented on #1360
@metahertz look like our old friend is back in new ways. i bet those quotes aren't standard.

[2021-07-13 10:44] JamesWoolfenden commented on #1206
Id say it has more to do with the module reference.

[2021-07-13 13:03] JamesWoolfenden commented on #1373
this is just awaiting https://github.com/bridgecrewio/checkov/pull/1375 #1375

[2021-07-13 18:28] fraserc182 opened #1378 "TypeError on "Ensure no hard coded AWS access key and secret key exists in provider for configuration""
**Describe the bug**
We run in terraform cloud and use workspace variables to set sensitive variables, this means having placeholders in the variables.tf file like so:

[code]
However, this is causing checkov to crash with:
[code]

Traceback:
[code]

Setting the following placeholders;

[code]
Let me run checkov without any issues.

**To Reproduce**
1. Set empty access key & secret key in variable

[2021-07-13 23:36] dullest commented on #1373
Thank you for the fix.

[2021-07-15 07:38] #1206 closed

[2021-07-15 07:38] #1373 closed

[2021-07-15 08:03] #1021 closed

[2021-07-15 10:29] #1363 closed

[2021-07-15 14:24] gruebel commented on #1378
Maybe I'm missing something, but why not use an empty string as default -> `default = ""`

[2021-07-15 17:31] ac-hibbert commented on #1286
I get similar issues to this, although with AWS resources

[2021-07-15 17:38] ac-hibbert opened #1389 "Dockerfile output for CKV_DOCKER_7 and CKV_DOCKER_2 messed up"
**Describe the bug**
A clear and concise description of what the bug is.

Seems like results of check CKV_DOCKER_2 should be showing for CKV_DOCKER_7

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run checkov for a fairly standard Dockerfile using an image with the latest tag and no healthcheck

**Expected behavior**
Checks show the correct output

**Screenshots**
If applicable, add

[2021-07-15 18:09] JamesWoolfenden commented on #1378
You don't ever have to set those vars for a provider as you can just define them as env vars as shown here https://learn.hashicorp.com/tutorials/terraform/cloud-workspace-configure as terraform now uses the aws keychain properly, pretty sure this way you end up putting them in your statefile and your git repo.

[2021-07-15 22:00] fraserc182 commented on #1378
These are both better ideas.
Maybe the reason we're using this is legacy and I've just went with it. I'll test out moving to environment variables and report back.

[2021-07-16 04:15] fproulx-boostsecurity opened #1390 "Missing equivalent check as tfsec for sensitive data in terraform variable"
**Is your feature request related to a problem? Please describe.**
tfsec has some general checks (https://tfsec.dev/docs/general/home/) for detecting passwords and other things in terraform variables. There does not appear to be an equivalent for checkov

**Describe the solution you'd like**
For now we run both checkov and tfsec side by side, which is wasteful

**Describe alternatives you've consi

[2021-07-16 09:49] nisargtk commented on #1370
Issue was in the config file used with tag softfail. I changed the value to false and it resolved the issue.

[2021-07-16 09:49] #1370 closed

[2021-07-16 12:23] hpapadopoulos opened #1392 "CKV_AWS_111 & CKV_AWS_109 Only work when Effect is Deny"
**Describe the bug**
Looks like checks:
- Check: CKV_AWS_111: "Ensure IAM policies does not allow write access without constraints"
- Check: CKV_AWS_109: "Ensure IAM policies does not allow permissions management / resource exposure without constraints"

Fail although there are conditions in place when the effect is `Allow`

**To Reproduce**
Steps to reproduce the behavior:
Failing although should

[2021-07-16 13:29] pete-leese opened #1393 "Unexpected token Token('RPAR', ')') - Error parsing file"
**Describe the bug**
I am validating some terraform and using the following functions to generate a tag value, this works, and terraform validate / apply completes with no issue, however checkov is unable to parse the file.

[code]

**Expected behavior**
It is expected that the chekov is able to parse the code.

By bridgecrew.io | version: 2.0.276

terraform scan results:

Passed checks: 0, Failed

[2021-07-16 13:59] larryboymi commented on #560
In addition, I am trying to figure out how a skip would work in a remote module (git source) scenario. Currently I'm using something like the above script to add in the comment suppressions, but while this module is downloaded and placed into the `.terraform` directory, I'm not sure that is checked during the "plan enrichment"/ #1221 flag checking.

After a successful `terraform init` I go in and

[2021-07-18 08:17] #1351 closed

[2021-07-18 12:54] AntonelaCukurin commented on #1351
Great 😊 Thank you, I can see Guideline now!

[2021-07-18 20:45] gruebel commented on #1361
@willholley can you try it with the newest version (currently 2.0.280) again?

[2021-07-19 20:00] dbbc96 opened #1402 "failed test on resource "aws_volume_attachment""
So i did a yaml file for checking all resources for missing tags that we are requiring.  Only so far tested on an AWS EC2 terraform deployment.  I noticed that its failing on aws_volume_attachment.  The test passed on the EBS volumes themselves so i know its picking up that but the attachment doesn't have any tagging capabilities in Terraform so it shouldn't be flagging that.

Not sure if your cod

[2021-07-20 08:04] willholley commented on #1361
I can't reproduce with 2.0.280 so this appears to be fixed. Thanks!

[2021-07-20 08:04] #1361 closed

[2021-07-21 07:51] alexppg opened #1409 "CKV2_AWS_5 should dettect when a SG is attached to an ELB"
**Describe the bug**
This check is: `Ensure that Security Groups are attached to an other resource`.

But when reading the [documentation](https://docs.bridgecrew.io/docs/ensure-that-security-groups-are-attached-to-ec2-instances-or-elastic-network-interfaces-enis), it says: `Security Groups are not attached to EC2 instances or ENIs`.

As you can read on `aws_lb` resource [documentation](https://re

[2021-07-21 08:43] schosterbarak commented on #1409
hey @alexppg thank you for reporting this. would you be able to provide a terraform snippet demonstrating it?

[2021-07-21 08:46] schosterbarak commented on #1389
@ac-hibbert would you mind sharing a sample dockerfile?

[2021-07-21 08:47] schosterbarak commented on #1378
@fraserc182 i'm closing for now. please let us know if this reproduces

[2021-07-21 08:47] #1378 closed

[2021-07-23 14:13] AlexDexsoon opened #1414 "Parsing errors if resource name is null"
**Describe the bug**
I have errors when I try to use a resource with "null" name

**To Reproduce**
Steps to reproduce the behavior:
1. Example terraform code:
[code]
2. Run cli command:
[code]
3. See an error:
[code]
**Expected behavior**
As for me, shouldn't be a problem if the name of resources is null.

**Desktop (please complete the following information):**
 - OS: Docker
 - Checkov Version: 2

[2021-07-25 15:42] jbratto opened #1416 "CKV2_GCP_3 seems to be doing the opposite of what it says it is doing"
**Describe the bug**
Hello, it appears that this check (Ensure there are only GCP-managed service account keys for each service account) is in fact failing unless you actually create a user managed service account key.  Either I'm misunderstanding something, or this check is setup to do the opposite of what it says it is doing.

**To Reproduce**
To demonstrate this, I used the sample code provided

[2021-07-26 11:25] ddezoysa commented on #1130
Any updates on this fix?

[2021-07-26 19:05] kmcquade opened #1423 "KMS Encryption rule for aws_elasticache_replication_group"
aws_elasticache_replication_group supports KMS key Encryption https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/elasticache_replication_group#kms_key_id

There should be a rule to check for Elasticache encryption.

**Compliant code example**

[code]

[2021-07-26 19:11] kmcquade opened #1424 "KMS Encryption for aws_emr_cluster"
[aws_emr_cluster](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/emr_cluster) supports KMS Encryption. There should be a rule for this.

## Problematic code (missing security configuration)

[code]

## Problematic code (using wrong encryption type)

[code]

## Correct code

[code]

[2021-07-28 08:06] michal-adamkiewicz opened #1433 "Custom checks gives wrong guide link"
**Describe the bug**
Custom checks gives wrong URL in **guide** section. There is always URL pointing about NACLs and subnets :)
https://docs.bridgecrew.io/docs/ensure-that-all-nacl-are-attached-to-subnets

**To Reproduce**
Steps to reproduce the behavior:
Launch any custom-check using plan stored in JSON

**Expected behavior**
Guide section should or omitted or there should be a way to inject cus

[2021-07-29 08:01] JamesWoolfenden commented on #1424
Check that EMR cluster has a security configuration that uses SSE-KMS?

[2021-07-29 08:14] andormarkus opened #1438 "Extend CKV2_AWS_5 to EMR"
**Is your feature request related to a problem? Please describe.**
Hi All,

Currently, `CKV2_AWS_5` only checks if security group is attached to EC2 or ELB. We have security groups which are only attached EMR.

Thanks,
Andor

Logs:
[code]

Code to preproduce:
[code]

[2021-07-29 08:38] schosterbarak commented on #735
done thanks to @ne0z :)

[2021-07-29 08:38] #735 closed

[2021-07-29 11:02] schosterbarak commented on #1438
fixed on latest thanks to @JamesWoolfenden

[2021-07-29 11:02] #1438 closed

[2021-07-29 15:24] kmcquade commented on #1424
Yes and that it uses a Customer Managed Key.

Details on the parameters: https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-create-security-configuration.html#emr-encryption-cli-parameters

[2021-07-29 18:25] JamesWoolfenden commented on #1424
i see 3 different checks:
1. Encryption in transit is set checking -"EnableInTransitEncryption" : true/false
2. Check that EMR cluster has a security configuration that uses SSE-KMS
3. Check local disk encryption is

[2021-07-29 18:56] JamesWoolfenden commented on #1409
This rule already does check against aws_llb and aws_elb

[2021-07-29 19:15] JamesWoolfenden commented on #1402
Have you tried setting default tags via the provider instead?

[2021-07-29 19:21] JamesWoolfenden commented on #1390
Have your tried the new secret scanner in checkov?

[2021-07-30 03:02] dbbc96 commented on #1402
even with doing default tags, checkov still reports as missing tags.  The tagging is correct in terraform deployment but just reporting missing in ebs attachments (which there isn't tagging possible for that resource).  One thing i don't know is if checkov "all" resources will flag every resource whether or not tagging is possible for that resource.

[2021-07-30 07:32] darren-johnson opened #1444 "CKV2_AZURE_4 Doesn't Process azurerm_mssql_server_extended_auditing_policy"
We configure our Azure SQL Server auditing policy using the azurerm_mssql_server_extended_auditing_policy resource as opposed to configuring inline in the azurerm_mssql_server resource via the extended_auditing_policy block.

With this in mind, I have added the line below to the azurerm_mssql_server resource:

checkov:skip=CKV_AZURE_24:this is Enabled and handled by a separate resource 'azurerm_ms

[2021-07-30 07:44] iaacautomation opened #1445 "Group Checks to enable or disable a set"
**Is your feature request related to a problem? Please describe.**
Currently when you enable checkov all the checks are enabled by default.

**Describe the solution you'd like**
An option --aws-foundation --aws-pcidss etc to enable only a subset of checks. If the org is not implementing a certain set of checks they are not executed.

**Describe alternatives you've considered**
Skip checks files gr

[2021-07-30 07:51] darren-johnson opened #1446 "CKV2_AZURE_3 Doesn't Process azurerm_mssql_server_vulnerability_assessment"
We configure vulnerability assessment periodic scans using the azurerm_mssql_server_vulnerability_assessment resource and this is set to 'true'.  However when running checkov CKV2_AZURE_3 it is failing on the azurerm_mssql_server_security_alert_policy resource which I belive to be wrong as this is not where it is configured.  I have added the line below to the azurerm_mssql_server_security_alert_p

[2021-07-30 08:01] darren-johnson opened #1447 "CKV2_AZURE_5 Doesn't Process azurerm_mssql_server_vulnerability_assessment"
We configure vulnerability assessment periodic scans using the azurerm_mssql_server_vulnerability_assessment resource and set email_subscription_admins to 'false' as we send to different email addresses.  However when running checkov CKV2_AZURE_5 it is failing on the azurerm_mssql_server_security_alert_policy resource which I belive to be wrong as this is not where email_subscription_admins is con

[2021-07-30 09:07] JamesWoolfenden commented on #1402
can you post a code sample and the error please

[2021-07-30 10:01] JamesWoolfenden commented on #1423
There exists already:
CKV_AWS_29: "Ensure all data stored in the Elasticache Replication Group is securely encrypted at rest"
CKV_AWS_30: "Ensure all data stored in the Elasticache Replication Group is securely encrypted at transit"

[2021-07-30 15:29] Rumbles opened #1449 "Checkov returns KeyError: 'suppress_comment' at the end of check"
When I run checkov on my terraform code I get this stacktrace:

[code]

I am running 2.0.318, I tried older versions and the issue stopped in 2.0.314 (first noticed in 2.0.315)

I am running on MacOS and our build server runs ubuntu both on x86_64

The following tests were being run if it helps:

[code]

[2021-07-30 15:52] dbbc96 commented on #1402
here is the error. this is using default tags and not tagging within resources.

Check: CUSTOM_AWS_2: "Check that all resources are tagged with the key - agency"
        FAILED for resource: aws_volume_attachment.ec2_D
        File: /main.tf:93-97

                93 | resource "aws_volume_attachment" "ec2_D" {
                94 |   device_name = "xvdb"
                95 |   volume_id   = aws_eb

[2021-07-30 16:51] JamesWoolfenden commented on #1402
looks like all resources is just that, if you wait for https://github.com/bridgecrewio/checkov/pull/1336 you should have a check for provider default tags which i think is what you want?

[2021-07-30 18:12] ac-hibbert commented on #1389
Example Dockerfile

[code]

Results:

[code]

[2021-07-30 19:19] MMerzinger opened #1450 "Multi-Stage Dockerfile without latest tag triggers policy CKV_DOCKER_7"
**Describe the bug**
Scanning a multi stage Dockerfile without any stage relying on a latest tag results in the violation of policy CKV_DOCKER_7 "Ensure the base image uses a non latest version tag".

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Dockerfile (I generated one via VS Code on a fresh dotnet webapi project)
[code]
2. Run a Checkov scan
[code]
3. As you can see - policy

[2021-07-30 19:19] dbbc96 commented on #1402
so in our environment we might have cases where we are using default tags but others cases where we are just using modules and resource deployments.  in the case where we are not using provider default tags, would need to understand why checkov is flagging it as "missing tags" when ebs attachments don't offer tagging capabilities.  As in my original post, it picks up the tags for the ebs volumes a

[2021-08-01 10:32] #1449 closed

[2021-08-02 07:18] royblit opened #1455 "Dockerfile misconfigurations code block is incorrect"
**Describe the bug**
When running on Dockerfile, output shows wrong code block (off by one).

**To Reproduce**
For example, run checkov on the following Dockerfile:

Code block of CKV_DOCKER_4 ("Ensure that COPY is used instead of ADD in Dockerfiles") is
[code]
**Expected behavior**
Code block should be
[code]

**Desktop:**
 - OS: Linux & Mac
 - Checkov Version: 2.0.313

[2021-08-02 07:39] santoshankr opened #1456 "Skip annotations are sometimes ignored in terraform_plan mode"
**Describe the bug**

The  [handle_skipped_checks loop](https://github.com/bridgecrewio/checkov/blob/2.0.324/checkov/common/output/report.py#L348) removes elements from a list it is iterating on. This can cause some skip annotations to be ignored, making Checkov report findings as failures even if there is a comment on the resource asking for the finding to be suppressed.

**To Reproduce**
Steps t

[2021-08-02 07:55] #1456 closed

[2021-08-02 15:44] luchetto81 opened #1458 "CKV_AWS_78 misreported"
**Describe the bug**
Checkov is returning as vulnerability CKV_AWS_78, but the solution breaks Terraform validation.

Accordigly to Checkov if `encryption_disabled = false` is not set in the main block it can be considered a vulnerability

[code]
as described here: https://docs.bridgecrew.io/docs/bc_aws_general_30

Unfortunately in Terraform v1.0.3 `encryption_disabled` is not available in that lo

[2021-08-02 15:57] mikelax opened #1460 "Issue with CKV2_AWS_27 check for MS SQL server RDS instances"
**Describe the bug**
We are now receiving warnings in our codebase for `CKV2_AWS_27` on `aws_db_instance` resources that are not postgres, but ms sql servers. This check appears to have been added in PR #1428 .

**To Reproduce**
Steps to reproduce the behavior:
Here is a terraform snippet that is generating the warning:

[code]

**Expected behavior**
This alert should only be triggered for Postgre

[2021-08-03 10:07] marcmodin opened #1464 "CKV_AWS_61: Consider adding Federated to Principal"
I have a module where **Iam_role** is adding trust by either` ['Principal']['AWS']` or `['Principal']['Federated']`, when `Federated` is set I also need to set `['AWS']` and point my account even though I don't want that.

**Describe the solution you'd like**
Is it possible to add condition for Federated and not only AWS ?

[2021-08-03 11:24] schosterbarak commented on #1464
makes since. @marcmodin we will accept a pull request on it

[2021-08-04 13:44] rdenchev opened #1469 "Checkov scan of Terraform file and the corresponding plan file produces different results for module"
**Describe the bug**
Scanning a module itself produces the same correct results for the Terraform file and the corresponding plan file.
Scanning the same module via a module call produces different results. The scan result of the plan file is wrong.

**To Reproduce**
For a better understanding, I have put together a sample project under https://github.com/rdenchev/checkov-terraform-scan-vs-plan.gi

[2021-08-04 18:51] rdenchev commented on #1317
@nimrodkor the following part is obsolete as the connection between azurerm_storage_container and azurerm_storage_account is required by default (see azurerm_storage_container.storage_account_name in  https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/storage_container)

[code]
I have successfully tested your code without the above part:

[code]

I like your proposal a

[2021-08-05 20:09] larryboymi opened #1473 "Is CKV_AWS_119 still a valid check?"
Since DynamoDB is now encrypted at rest by default, is check CKV_AWS_119 still necessary? I realize it wasn't always this way.

The [source code](https://github.com/bridgecrewio/checkov/blob/master/checkov/terraform/checks/resource/aws/DynamoDBTablesEncrypted.py#L14) simply checks for the presence of the SSE flag.

The [AWS docs](https://docs.aws.amazon.com/dynamodb-encryption-client/latest/devgui

[2021-08-07 12:01] marcmodin commented on #1464
I don't know go!

You can close this unless you want it around for reference.

[2021-08-09 08:37] JamesWoolfenden commented on #1464
@marcmodin if you supply ans example trust policy that you wish to be valid?

[2021-08-09 09:02] JamesWoolfenden commented on #1473
Maybe the check should now check for a supplied Customer managed KMS key?

[2021-08-09 10:49] JamesWoolfenden commented on #1458
The actual check looks at encryption inside of the artifacts block, the suggested fix is incorrect and ive updated the docs. There is also currently a bug where any value causes the check to fail, a fix for that is in the pipe, but since it has the default value you want, its best to remove this attribute.

[2021-08-09 10:49] #1458 closed

[2021-08-09 13:04] larryboymi commented on #1473
It could but it would probably change the spirit of the original check quite a bit (less backwards compatible). That would be a more useful check given the new SSE default though.

[2021-08-09 19:44] jkesterson opened #1483 "Allow multiple output formats"
When implementing checkov use-cases, I'd love to be able to see both the cli formatted output for human consumption, as well as json format for logging purposes without having to run two scans.

Multiple -o flag compatibility would resolve this as I could specify -o cli AND -o json and receive both formats output to stdout.

Alternatively, I could run two scans on the same plan/directory with json

[2021-08-10 10:22] JamesWoolfenden commented on #1460
@mikelax hopefully this issue has resolved for you?

[2021-08-10 10:52] JamesWoolfenden commented on #1146
I don't see this issue with 2.0.344:
`resource "aws_subnet" "pub_sub" {
	# checkov:skip=CKV_AWS_130: no reason
    count = length(var.azs)
    vpc_id= aws_vpc.vpc.vpc_id
    map_public_ip_on_launch=true
    cidr_block = cidrsubnet(
        var.cidr_block,
        var.pub_subnet_mask - local.vpc_mask,
        count.index
    )
    availability_zone=element(var.azs, count.index)
}`

Is suppressed ju

[2021-08-10 14:45] aholler2 opened #1486 "AKS ARM template, AKSLoggingEnabled.py, TypeError: string indices must be integers"
**Describe the bug**
Python is evaluating the following input as true and therefore breaking on the next line. If I change the name of variable "omsagentAddonFinal" to say "dfasdfasdf", the test will run fine.
[code]
[code]

**To Reproduce**
[code]

**Desktop (please complete the following information):**
 - OS: Windows
 - Checkov Version 2.0.344

**Additional context**
Full ARM Template:
[code]

[2021-08-11 07:40] johnwongapi opened #1487 "K8S Resource written in terraform format(.tf)"
**Is your feature request related to a problem? Please describe.**
currently Checkov seems do not check K8S Resource written in terraform format(.tf), e.g.:
[code]

The above sample violate CKV_K8S_21(The default namespace should not be used) but no fail cases shown.

**Describe the solution you'd like**
Should checkov be able to check k8s resource written in .tf files?

[2021-08-11 14:34] larryboymi commented on #739
Had the same issue with 2.7 & pip

[2021-08-11 15:23] schosterbarak commented on #739
@ckea @larryboymi checkov works with python 3.7 and above. it will not work with 2.7

[2021-08-11 15:28] larryboymi commented on #739
I think I could install some older versions but none of the new. Thanks!

[2021-08-11 15:41] nimrodkor commented on #1487
Hey @johnwongapi !

You're right, we don't scan the `kubernetes` provider by default. Feel free to contribute new checks in a new dir here:
https://github.com/bridgecrewio/checkov/tree/master/checkov/terraform/checks/resource

[2021-08-11 15:45] nimrodkor commented on #1473
I guess we can review the check title, as the check should be verifying a custom KMS key is being used.
In most cases, the default KMS encryption does not help compartmentalize sensitive data as all AWS users have access to the default key...

WDYT?

[2021-08-11 15:52] nimrodkor commented on #1469
Hey @rdenchev !
I looked at the check - it includes a `connection` condition. Plan files do not have graph connections as they are, by design, resolved from a variable / value perspective. Any ideas how we can make connection queries for this usecase? I don't have any...

[2021-08-11 18:55] acdha commented on #1203
I retested this after #1186 and am seeing it on groups attached to ECS, RDS, VPC Endpoints, and EC2 servers. Some of this may be due to my use of modules:

[code]

[code]

[2021-08-11 20:33] vince-franco opened #1488 "Checkov Runs Inconsistently in containers"
**Describe the bug**
Running checkov on a local machine(macOS) works well.  When running checkov inside a container (python:3.8-slim) it does not produce an output

**To Reproduce**
Steps to reproduce the behavior:
1. docker run python:3.8-slim image, mount git repo with helm/kubernetes yaml files
2. Run pip3 install checkov
3. Run cli command "checkov -d /path/to/mounted/files/ --framework (helm/

[2021-08-12 12:36] #1488 closed

[2021-08-15 13:57] n2qz opened #1495 "checkov fails with junit-xml==1.8"
**Describe the bug**
checkov fails with junit-xml==1.8

**To Reproduce**
Steps to reproduce the behavior:
1. pip3 install junit-xml==1.8
2. checkov -d .
3. See error:

[code]

**Expected behavior**
checkov runs fine with junit-xml==1.9 so a reasonable fix would be to pin that version (or greater) in setup.py install_requires.

**Screenshots**
If applicable, add screenshots to help explain your pro

[2021-08-15 16:22] n2qz commented on #1495
Submitted PR #1497

[2021-08-16 12:11] nwokou01 commented on #1389
Having same issues, I could see though that this seems to be more related with the results not pointing to the correct line with the identifies error,  CKV_DOCKER_2 and CKV_DOCKER_3 all seem to be pointing to the line for  CKV_DOCKER_7:

Version: 2.0.350

Sample result with this error:

Check: CKV_DOCKER_7: "Ensure the base image uses a non latest version tag"
        PASSED for resource: Dockerfi

[2021-08-16 14:52] #1495 closed

[2021-08-16 19:02] bobziuchkovski opened #1502 "Add option to output checks skipped from baseline"
**Is your feature request related to a problem? Please describe.**
Yes.  We've inherited a terraform repo with a lot of legacy problems.  We've introduced checkov to ensure new config going
forward meets our standards.  We've also generated baseline files for all of the existing legacy terraform config, so that we only fail checks for new problems.  However, we'd like to keep visibility on all of

[2021-08-16 22:01] njgibbon opened #1503 "Checkov Action permissions defect probably related to recent dockerfile changes"
**Describe the bug**
Hello,

Today the GitHub Action started showing a permissions issue. All working successfully until today. We are using the public github actions runners for this.

**Issue logs**
[code]

**Actions Config**
[code]

Checkov does still run successfully and report results but this causes the action step to return a none zero exit code.

I've worked around very roughly by just sho

[2021-08-17 06:07] nimrodkor commented on #1503
Hmmmm.
Might this get resolved in #1504 ?

[2021-08-17 06:21] nimrodkor commented on #1502
Sounds very interesting. We're open for contributions here, should be implemented somewhere near this:
https://github.com/bridgecrewio/checkov/blob/ca2673633080910d69ae5a6c8133eefdaeb36787/checkov/common/output/baseline.py#L13

[2021-08-17 07:43] nimrodkor commented on #1503
You're right @njgibbon . I'm reverting that change for now, will revisit when I have more time

[2021-08-17 18:34] yvonnerogell opened #1512 "Skip checks now throws exception"
This same command worked fine the other day.

Today:
![image](https://user-images.githubusercontent.com/8989751/129779993-a8b54cdd-7db3-45c8-86d3-c64dcce79889.png)

4 days ago:
![image](https://user-images.githubusercontent.com/8989751/129779943-3ce9c5b9-f132-4c29-a640-0e168fadbc83.png)

Docker image context (pipeline file):
![image](https://user-images.githubusercontent.com/8989751/129780436-89f6

[2021-08-18 04:35] coffeecoco commented on #1203
I see same problem as @acdha when using aws_security_group and a module, it does not seem to work out its attached to the module

[2021-08-18 09:20] coffeecoco opened #1515 "terraform merge and variables that cant be resolved"
I have a check that looks for mandatory tags

there seems to be a scenario when tags and terraform merge is used, and when checkov is unable to evaluate the variable
resource "aws_iam_policy" "lambda_ssm_policy" {
  name        = "${local.full_name}-policy"
  description = "IAM policy for reading from SSM parameter store"
  policy      = <<EOF
{
  "Version": "2012-10-17",
  "Statement": [
    {

[2021-08-18 09:23] coffeecoco opened #1516 "variables with single quote checks dont run"
variable "tags" {
  type        = map(string)
  description = "Shared/default tags to apply to **ALL** taggable resources"
  default     = {
    "Name" = "test"
    "Product"                = 'test'
    "Application"            = "test"
    "Service"                = "test"
    "Environment"            = "test"
    "Owner"                  = "test"
    "Client"                 = "test"
    "Team"

[2021-08-19 12:26] heggenu commented on #147
Added an improvement #1519 to support AWS WAFv2 to this check.

[2021-08-19 15:07] ejohn20 opened #1521 "GitHub CodeQL Upload SARIF Results Failure"
Uploading the SARIF formatted output to the GH repo fails. It does not appear to be valid SARIF according to the parser. Using the `github/codeql-action/upload-sarif@v1` produces an error message with invalid data.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a GH Action with the following steps to run the checkov scan and generate a `checkov.sarif` results file:

[code]

2. Add an

[2021-08-19 15:17] ejohn20 commented on #1521
Further analysis of the JSON file shows that the rule ids appear to be duplicated based on how many "results" are in the findings. For example, I'm seeing two `CKV_AWS_121` ids in the `rules` array. Also 17 `CKV_AWS_111` rule ids in the array.

I believe the `rules` array is intended to be a distinct list of all rules supported by the scanner. The `results` array is intended to hold the  1 ---> ma

[2021-08-19 16:26] CCOLLOT opened #1522 "Terraform Plan Parsing Error when running checkov -f tfplan.json on multi-provider Terraform Configuration"
Hi, I am currently facing an issue while passing a terraform plan (json format) to the checkov -f command (parsing ERROR) as follows:

terraform plan  -var-file=values.prod.tfvars --out=tfplan.binary
terraform show -json tfplan.binary > tfplan.json
checkov -f tfplan.json
[code]

It cannot provide the material to reproduce the bug, since it would require me to give you my current plan / var file. I

[2021-08-21 14:41] #1464 closed

[2021-08-23 09:25] mtcolman commented on #1503
Hi @nimrodkor I think you might be having issues related to this sorry saga: https://github.community/t/docker-action-cant-create-folder-in-runners-home-directory/17816/5.

The checkov [entrypoint.sh](https://github.com/bridgecrewio/checkov/blob/master/github_action_resources/entrypoint.sh) tries to do the following:
[code]

and the errors you are seeing are:
[code]

I believe the initial `cp /usr

[2021-08-23 11:32] mtcolman commented on #1503
[This](https://docs.github.com/en/actions/creating-actions/dockerfile-support-for-github-actions) is root cause of issue:

In trials we have seen:
[code]

Whereby the container mounts are performed by user=1001, group=121 and therefore the user in the container (checkov: uid=1000,gid=1000) can't access the directories.

[2021-08-23 12:16] nimrodkor commented on #1521
@ejohn20  you're absolutely right!

We'd love a contribution, should be around here somewhere:
https://github.com/bridgecrewio/checkov/blob/d181aa0c29d2b5220e24c8f24f3f426870ff9dd3/checkov/common/output/report.py#L192

[2021-08-23 12:18] nimrodkor commented on #1516
Hey @coffeecoco !

 I do believe you can actually not use quotes at all, i.e.
[code]

Which checks are you planning to implement?
And does single-quote tags work as expected when deployed?

[2021-08-23 13:15] schosterbarak commented on #1522
hey @CCOLLOT would you be able to share plan file sample?

[2021-08-23 13:54] Saarett commented on #1512
Hi @yvonnerogell, and thanks for the input!

It seems like this issue was fixed in [this](https://github.com/bridgecrewio/checkov/pull/1517) PR.
Please update checkov to the latest version, try again, and let us know if the issue persists.

[2021-08-24 15:29] VAnagani commented on #1433
Ability to inject custom URL to custom checks would be great. Looking forward for this feature.

[2021-08-24 20:42] fproulx-boostsecurity opened #1530 "Legacy (0.11) variable interpolation not (well) supported?"
**Describe the bug**
I'm trying to scan some files which are using old interpolation syntax (0.11) - https://github.com/jestovar1980/portfolio/blob/master/terraform/account-regional/dynamodb.tf#L3

I am getting a bunch of parsing errors on that repo.

While `tfsec` supports scanning it just fine on the same files...

**Expected behavior**
Checkov supports 0.11 (minimally)

[2021-08-25 11:41] tomaszdudek7 commented on #934
Was this fixed by any chance?

[2021-08-25 12:14] Zordrak opened #1531 "Thread Pools"
**Is your feature request related to a problem? Please describe.**

Checkov v2 does not successfully execute on our largest terraform root module. It is highly complex with many provider configurations and countable modules across multiple provider regions.

It appears that Checkov is entirely single-threaded, and I wonder if there is space in the codebase for some thread pools to parallelise the

[2021-08-25 12:24] tomaszdudek7 opened #1532 "Skipping checks inside CloudFormation examples?"
Is it possible to skip some checks in CloudFormation?

[code]
is a Terraform example given in the docs.

Is it sufficient to just add `#checkov:skip=CKV_AWS_20` inside CFN Resource? If so, it would be great to have that in the docs too.

[2021-08-25 13:30] chrisjaimon2012 opened #1533 "Failed to parse tags for entity"
**Describe the bug**
Parser for CloudFormation throws a warning when tag keys have intrinsic functions
[code]
Here tag1 where Key: testkey works properly, but the second tag throws the warning
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use the below cloudformation template
[code]
2. Run cli command  `checkov -f filename.yaml`
3. Error
[code]

**Expected behavior**
Tag keys using

[2021-08-25 13:59] shukla2009 commented on #1151
Where can I see the skipped check count one which are passed as parameter as we have requirement to demonstrate what all check we skipped.

[2021-08-25 14:49] nimrodkor commented on #1532
That's a great one @tomaszdudek7
I think we can add support for it - **in yaml templates**. JSON format doesn't allow for suppressions.
Another way about it is to add the suppressions in the `Metadata` section of the template.

What do you think? Which way would be better?

[2021-08-25 15:00] schosterbarak commented on #1531
Interesting. I love the suggestion. What should be our benchmark for performance or a test terraform repo we can try?

[2021-08-25 16:19] deric4 commented on #1483
other tooling in this space supports this feature (i.e. inspec)

[2021-08-25 17:08] mtcolman opened #1536 "Secrets check appears not to work"
**Describe the bug**
I am trying to see if checkov discovers secrets/passwords in files. I am running `bridgecrew/checkov:2` which is version 2.0.371. I have created 3 files on my local machine and I then mount the directory containing them into the container. I am trying to recreate what has been detailed in this [bridgecrew blog](https://bridgecrew.io/blog/checkov-secrets-scanning-find-exposed-c

[2021-08-25 19:36] meghaddn opened #1538 "Graph checks defined in checkov are being considered as external checks"
Hello Checkov Team,

Using checkov==2.0.360

All graph_checks defined at https://github.com/bridgecrewio/checkov/tree/master/checkov/terraform/checks/graph_checks/aws are being considered external Checks.

**What I've done**
Looking into the code I noticed load_checks function which is called for external and graph checks at https://github.com/bridgecrewio/checkov/blob/master/checkov/common/runner

[2021-08-26 08:19] JamesWoolfenden opened #1540 "CKV2_AWS_5 needs to include references to mq_broker resources"
**Describe the bug**
In my module for mq_broker i get this check raised as i use an sq in attaqchment. This is valid and rule should not be activated.

[2021-08-26 10:47] JamesWoolfenden opened #1542 "Checkov no longer analyses local modules on windows"
Clone https://github.com/JamesWoolfenden/terraform-aws-dynamodb

[code]

You see multiple check results.

run
[code]

Expected: 1st pass results +1 more.
Actual: just the contents of examplea folder and not the local module referenced

This used to work, works as expect on wsl and mac/linux

v 2.0.367

[2021-08-27 09:39] #1540 closed, assigned to JamesWoolfenden

[2021-08-28 19:56] coffeecoco commented on #1516
mandatory tagging,  of all terraform resources, i scraped up all the terraform resources from the aws provider.

[2021-08-29 13:11] shukla2009 commented on #1151
I went with the annotation option for helm/Kubernetes which I believe is the better auditable manner of skipping the checks and also available in skipped check count and details.
[code]

[2021-08-29 15:51] yvonnerogell commented on #1512
Great, thank you!

[2021-08-29 15:51] #1512 closed

[2021-08-30 11:51] rajuvadarevu opened #1549 "CKV2_AZURE_10 Error for Azure Linux Virtual Machines"
Creating Azure Linux Virtual Machine using Terraform.
Passed main.tf file to checkov and then it gives:
**CKV2_AZURE_10: "Ensure that Microsoft Antimalware is configured to automatically updates for Virtual Machines"**

But when I checked Azure Documentation here: **https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/iaas-antimalware-windows**
It says, "The Microsoft Antimalware sol

[2021-08-30 20:14] kevincantu commented on #1151
Yeah: but last time I was exploring, for Terraform there were still some things you couldn't skip through the inline annotations (particularly when validating plan files).

[2021-08-31 13:29] izunadropx opened #1556 "CKV_AWS_173 - slight bug"
**Describe the bug**
Checkov flags this failure if there is a KMS key set, but no env variables. It would make more sense to skip if there are no env vars, rather than failing if there is a key and no vars present.

**To Reproduce**
Steps to reproduce the behavior:
Set kms_key_arn on a lambda_function with no environment vars declared for the function.

**Expected behavior**
I expect this check to

[2021-09-01 07:54] karolpivo opened #1559 "--repo-id argument format issue"
checkov -v

2.0.387

checkov does not accept --repo-id that are comprised of more than two parts.

From checkov log:

[code]

checkov code explicitly allows only two part long repo names, see [](https://github.com/bridgecrewio/checkov/blob/master/checkov/main.py
)
[code]

[2021-09-01 09:13] gruebel commented on #1556
@JamesWoolfenden I think you added this check and also the comment
[code]

[2021-09-01 09:38] JamesWoolfenden commented on #1556
@gruebel I did, the check is correct, if you set the key and there are no env vars then you cause a state mismatch in your tf. If you read the documentation for aws_lambda_function   [aws_lambda_function](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/lambda_function ) - "If this configuration is provided when environment variables are not in use, the AWS Lambda API do

[2021-09-01 09:54] laurensknoll opened #1561 "CKV2_AZURE_4 Points To Wrong Documentation Page"
**Describe the bug**
Check `CKV2_AZURE_4` fails with an invalid message and an invalid documentation page reference. An example error looks like:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Get the working example from the documentation: https://docs.bridgecrew.io/docs/ensure-that-va-setting-send-scan-reports-to-is-configured-for-a-sql-server
2. Remove the emails from the vulnera

[2021-09-01 12:16] #1312 closed

[2021-09-01 15:03] #1446 closed

[2021-09-01 17:05] aochsner opened #1563 "serverless.yml parsing null values results in parse errors"
**Describe the bug**
Yaml allows null values, in fact, the [Datadog Serverless Plugin](https://docs.datadoghq.com/serverless/libraries_integrations/plugin/#to-create-a-recommended-monitor-with-the-default-values) leverages that fact for their monitors.  The serverless parser leverages the cloudformation parser which [doesn't allow nulls](https://github.com/bridgecrewio/checkov/blob/25388a34231e09a

[2021-09-02 12:34] Saarett opened #1566 "Support evaluation of CFN Fn::Sub with a mapping"
**Is your feature request related to a problem? Please describe.**
During CFN Graph creation, checkov evaluates different CFN functions like Ref, Fn::GetAtt, Fn::FindInMap, Fn::Sub. Currently checkov evaluates Fn::Sub without a mapping, e.g.
`{ "Fn::Sub": "arn:aws:ec2:${AWS::Region}:${AWS::AccountId}:vpc/${vpc}" }
`
But it does not evaluate Fn::Sub with a mapping, e.g.
`{ "Fn::Sub": [ "www.${Domai

[2021-09-02 12:55] nisargtk opened #1567 "EIP is associated with NAT gateway generated with Terraform vpc module 2.70.0 but still it throws CKV2_AWS_19 as failed check"
**Describe the bug**
EIP is associated with NAT gateway generated with Terraform vpc module 2.70.0 but still it throws CKV2_AWS_19  as failed check

**To Reproduce**
Create vpc with terraform vpc code( sample code as below) . It allocates an EIP and create NAT gateway and associate EIP with it but checkov scan shows failed CKV2_AWS_19  : "Ensure that all EIP addresses allocated to a VPC are attach

[2021-09-02 13:10] acheraime commented on #1522
Same issue here!  checkov -f tfplan.json returns the below error.

[code]

[2021-09-03 12:14] taha-hachicha opened #1571 "CKV2_AWS_1 is failing, the NACLs already attached"
**Describe the bug**
Check: CKV2_AWS_1: "Ensure that all NACL are attached to subnets"
FAILED for resource: aws_network_acl.elasticache
File: /tfplan.json:2623-2683
Guide: https://docs.bridgecrew.io/docs/ensure-that-all-nacl-are-attached-to-subnets

	2624 |               "values": {
	2625 |                 "arn": "arn:aws:ec2:us-east-1:907320361432:network-acl/acl-0ed5xxxx42a675e",
	2626 |

[2021-09-03 14:36] #1483 closed

[2021-09-03 15:02] usuryadevara opened #1573 "Jenkins checkov: [Checks API] No suitable checks publisher found."
**Describe the bug**
Using jenkins 2.308 and following the document https://www.checkov.io/4.Integrations/Jenkins.html i am getting the errors from the scan results

Error:  running command where i have .tf files
[Pipeline] sh (hide)
+ pipenv run checkov --directory modules/service_layer/ -o junitxml
+ true
[Pipeline] junit
Recording test results
[Checks API] No suitable checks publisher found.

*

[2021-09-05 06:48] #1521 closed

[2021-09-06 18:06] calexandre opened #1580 "Checkov is not using all the frameworks by default to scan for vulnerabilities"
**Describe the bug**
Checkov is not using all the frameworks to check when the directory is at the root level

**To Reproduce**

Just run the following on a project that contains both `terraform` and `kubernetes` resources:

[code]

**Expected behavior**

It is expected for checkov to scan for violations in both frameworks: `terraform` and `kubernetes`

**Additional context**

- Currently, checkov

[2021-09-07 09:36] shotty1 opened #1582 "BC_AWS_PUBLIC_1 does not take Conditions into account"
**Describe the bug**
BC_AWS_PUBLIC_1 seems to only look for the principal in a ECR Resource Policy. If you want to control access to a repo based on the pricipals AWS Organization ID, you have to do this using a condition instead of a Principal. It seems like checkov does not take this into account.

Example:

[code]

**To Reproduce**
Create the above mentioned resource in cloudformation and scan

[2021-09-07 12:08] paliwalvimal commented on #1146
weird. still fails for me on the latest version

<img width="817" alt="Screenshot 2021-09-07 at 5 36 52 PM" src="https://user-images.githubusercontent.com/34170345/132341818-6ec94174-606d-402b-8d29-30dc2d0099d7.png">
<img width="453" alt="Screenshot 2021-09-07 at 5 37 27 PM" src="https://user-images.githubusercontent.com/34170345/132341873-edbd00a3-6217-4bc9-bf7e-60e8c6e0910a.png">
<img width="778

[2021-09-07 15:14] JaimePolo opened #1583 "VS Code Extension not working"
**Describe the bug**
when running Checkov scan on the command palette on VS Code nothing happens and the Checkov extension has an "X" next to it.

**Expected behavior**
Scan TF files.

**Screenshots**
![image](https://user-images.githubusercontent.com/13440682/132369026-495295d6-1718-4757-8f42-ca46758fce3e.png)

**Desktop (please complete the following information):**
 - OS: macOS Big Sur, version

[2021-09-07 15:53] aucheun-tu opened #1584 "Failure scanning plan of aws_autoscaling_group resource with tags argument"
**Describe the bug**
When scanning the terraform plan output of an aws_autoscaling_group resource that utilizes the tags argument. I receive a "checkov.terraform.context_parsers.tf_plan.node.TemplateAttributeError: str_node.keys" is invalid error.

**To Reproduce**
Create a main.tf file using the following template.
[code]
Run the following commands.
[code]
Below is the error that occurs.
[code]

[2021-09-07 16:30] larryboymi opened #1585 "Plan file scan slowness - json.loads custom decoder"
**Describe the bug**
With a larger plan JSON to check, seeing times of 20-30 minutes due to slowness using [custom decoder](https://github.com/bridgecrewio/checkov/blob/3081a8560f6369465314ee8f4ac8a8ec01649d68/checkov/terraform/context_parsers/tf_plan/tf_plan_json.py#L346) in the plan parsing section of the code.

When I remove the custom parser, and use either the regular `json` or `ujson` decode

[2021-09-07 18:33] meghaddn commented on #1538
[https://github.com/bridgecrewio/checkov/pull/1575](url) PR created for this. Already merged

[2021-09-07 19:20] #1538 closed

[2021-09-07 19:52] harringj commented on #1521
As it turns out, my fix for this issue contains a bug:
![image](https://user-images.githubusercontent.com/21954788/132401167-31f085d3-7fa5-45e1-b803-a6ab7a1bbebd.png)
As the screenshot indicates, the cause is https://github.com/bridgecrewio/checkov/blob/507340f8bc7e9d9b58263c9a66bbdd05752dae3a/checkov/common/output/report.py#L212 The call to rules.index(rule) is searching for the current rule obje

[2021-09-07 19:54] harringj opened #1586 "Fix for #1521 (GH CodeQL Upload Sarif) contains a bug"
As it turns out, my fix for this issue contains a bug:
![image](https://user-images.githubusercontent.com/21954788/132401167-31f085d3-7fa5-45e1-b803-a6ab7a1bbebd.png)
As the screenshot indicates, the cause is https://github.com/bridgecrewio/checkov/blob/507340f8bc7e9d9b58263c9a66bbdd05752dae3a/checkov/common/output/report.py#L212 The call to rules.index(rule) is searching for the current rule obje

[2021-09-07 21:24] #1586 closed

[2021-09-08 00:56] dwagon opened #1588 "Return value wrong unless specifying framework explicitly"
**Describe the bug**
Return value of a successful (no issues found) run is 1 unless a framework is specified.

**Expected behavior**
If no errors are found I would expect the checkov command to return 0

**Screenshots**
 Running without framework has a return code of 1 even with no failures
[code]

 Running the same check but specifying framework has a return code of 0
[code]

**Desktop (please co

[2021-09-08 02:55] dwagon commented on #1588
If I remove the `--skip-checks` and use the inline method then this issue doesn't manifest

[2021-09-08 04:03] TLaborde opened #1589 "Scan is slow since 2.0.357"
**Describe the bug**
Running the scan at the root of the repo is 6 times slower than running it for each subfolder. The issue appeared around version 2.0.357.

**To Reproduce**
Steps to reproduce the behavior:
1. downgrade to 2.0.356, time a scan of the repo
2. update to current version, time a scan of the repo
3. Compare

**Expected behavior**
The scan should be faster.

**Screenshots**
version -

[2021-09-08 11:36] JamesWoolfenden commented on #1146
@paliwalvimal  if you post your code rather than an image, i could verify?

[2021-09-08 15:44] paliwalvimal commented on #1146
@JamesWoolfenden sure
`resource "aws_subnet" "pub_sub" {
  # checkov:skip=CKV_AWS_130: Public IP required in public subnet
  count                   = length(var.azs)
  vpc_id                  = aws_vpc.vpc.id
  map_public_ip_on_launch = var.map_public_ip_for_public_subnet
  cidr_block = cidrsubnet(
    var.cidr_block,
    var.pub_subnet_mask - local.vpc_mask,
    count.index,
  )
  availability_z

[2021-09-08 16:41] larryboymi commented on #1585
I'm thinking it's how many times it is calling the `count` method for strings inside of the `get_beg_end_mark` function, looks borrowed from [cfn-lint](https://github.com/aws-cloudformation/cfn-lint/blob/main/src/cfnlint/decode/cfn_json.py)

[2021-09-08 17:42] schosterbarak commented on #1585
@larryboymi you are correct. the code is inspired by cfn-lint. we will accept a PR to fix performance

[2021-09-08 22:23] vangundy-jason-pfg commented on #1536
I think this is very similar / related to: https://github.com/bridgecrewio/checkov/issues/1580

[2021-09-09 16:52] AjkayAlan opened #1594 "feat(operators): Add less_than, less_than_or_equals, greater_than, and greater_than_or_equals for graph"
## The Problem

We would like to write tests which can assert that numbers are less than our greater than a value. For example, given we have the following CloudFormation:

[code]

We would like to write a rule that makes sure that the `PortRange` on `AWS::EC2::NetworkAclEntry` does not encompass port 22 for ingress. Right now, we have a rule like the following for ingress

[code]

This rule will

[2021-09-09 17:06] AjkayAlan opened #1595 "feat(metadata): Allow custom policies to provide guideline urls"
## The Problem

Currently if I write a custom policy, and someone's resource violates that policy, they get the feedback in the console which states that they failed, but don't get a "guide" url. It would be hugely beneficial if my custom policies can incorporate guides to help engineers fix their resources.

## The Solution

This can be tackled in a number of ways. A few ideas:

- Allow "guide" i

[2021-09-10 13:38] nickgibbon-nationwide commented on #1433
Hello @michal-adamkiewicz - Could you please show you're custom check implementation?

It's outputting this URI because CKV2_AWS_1 is an ID which maps to this guide here: https://www.bridgecrew.cloud/api/v1/guidelines

The question is whether you are including a check ID in your custom check configuration? In which case your can probably just change it. Or, it is setting this CKV2_AWS_1 as a defau

[2021-09-10 13:42] njgibbon commented on #1433
Hello @michal-adamkiewicz - Could you please show you're custom check implementation?

It's outputting this URI because CKV2_AWS_1 is an ID which maps to this guide here: https://www.bridgecrew.cloud/api/v1/guidelines

The question is whether you are including a check ID in your custom check configuration? In which case your can probably just change it. Or, it is setting this CKV2_AWS_1 as a defau

[2021-09-10 15:12] njgibbon commented on #1595
This has also been requested as part of this issue: https://github.com/bridgecrewio/checkov/issues/1433 which will be closed because the bug part can be easily worked around.

[2021-09-10 15:14] njgibbon commented on #1433
I am fairly sure if you mark you're custom check id fields with an ID `CKV2_CUSTOM_1` for example that this will work for you. I believe you have copied `CKV2_AWS_1` from the guide, but there it is meant as an example to be replaced. Still, this could be made a bit clearer for custom checks.

[2021-09-10 15:18] njgibbon commented on #1595
Also requested here: https://github.com/bridgecrewio/checkov/issues/1115

[2021-09-10 15:25] njgibbon commented on #1595
The current implementation obtains the IDs dynamically with an API call which has all of the Check ID to Check Guideline mappings.

I think that adding it as an optional field to the base class would be a good thing. If it's set then the guideline is used. If it's not set then nothing will change and the guideline will be obtained dynamically if it exists.

I think that I will look in to implement

[2021-09-10 16:41] njgibbon commented on #1109
I'll work on resolving this :)

[2021-09-10 19:19] harringj opened #1599 "Bug: file preview not working with SARIF results uploaded from Checkov to Github"
Being able to view the code responsible for a security alert in Github's code scanning feature is crucial for developers. The file preview provides important contextual information for devs that helps them arrive at a fix without a lot of context switching.

Other tools, like CodeQL and tfsec, currently display file previews in code scanning without issue. The individual result view for Checkov, h

[2021-09-12 10:25] #1580 closed

[2021-09-12 10:26] nimrodkor commented on #1536
Was resolved by #1601 . Release version 2.0.407 (released in the following minutes) should set this straight. thanks for reporting @mtcolman !

[2021-09-12 10:26] #1536 closed

[2021-09-12 10:30] nimrodkor commented on #1594
Hey @AjkayAlan !

We're completely open to these operators. Feel free to try yourself, would look into the `checkov/common/checks_infra/solvers/attribute_solvers` package. Specifically, I believe an operator similar to https://github.com/bridgecrewio/checkov/blob/master/checkov/common/checks_infra/solvers/attribute_solvers/equals_attribute_solver.py should be good!

[2021-09-12 10:33] nimrodkor commented on #1599
Hey @harringj !

Yes, we prepend `/` to all the paths in the record I believe. If sarif needs it without the `/` - we're open to a contribution removing this `/` specifically for sarif. The snippet you put in the issue seems like the right place to me :)

[2021-09-12 16:19] mtcolman commented on #1536
@nimrodkor I've just tested this and I don't believe it's fixed.
[code]

[2021-09-12 16:30] mtcolman commented on #1536
But again if I make the terraform directory I get:
[code]

[2021-09-12 16:31] mtcolman commented on #1536
It's still not finding secrets:
[code]

[2021-09-12 16:35] mtcolman opened #1603 "Secrets framework scan not working in 2.0.407"
**Describe the bug**
This is to duplicate #1536 which has been closed. I don't believe the issue has been resolved.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. See above and details in #1536

**Expected behavior**
I expect secrets to be detected.

**Desktop (please complete the following information):**
 - running the checkov container
 - Checkov Version: 2.0.204

**Additional co

[2021-09-13 06:21] roymartinezblanco opened #1605 "Access to Terraform Plan `resource_changes`"
**Is your feature request related to a problem? Please describe.**

In a `Terraform` plan, we have additional sections `resource_changes` & `output_changes` and  `plan_parser.py` only looks at `resources` meaning there is no way to access
https://github.com/bridgecrewio/checkov/blob/eee62f8147bbe59e8e6d00d57c0ab01301287551/checkov/terraform/plan_parser.py#L126-L145

Example use case:
I'm looking t

[2021-09-14 02:30] gruebel commented on #1603
Before I dig into this topic deeper, just a quick heads up. `checkov` doesn't check all files, only with specific file extensions. The `secrets` are only checked in following file extensions
- .tf
- .yml
- .yaml
- .json
- .template
so the secret in `password.txt` will not be flagged.

Your `access_key` is not a "real" AWS Access Key, therefore it is not flagged. A real one needs to validate agains

[2021-09-14 09:09] steffencircle opened #1609 "--no-guide not working. Checkov still tries to access www.bridgecrew.io"
We want to run checkov in a completely offline manner as part of our Terraform Pipeline.

So in order to disable any online checks we run checkov using to "--no-guide" parameter.

However, when we set the LOG_LEVEL to debug , we can still see that checkov tries to access www.bridgecrew.io/api/v1/guidelines via our Proxy.

The container has the "https_proxy" environment variable set for Terraform t

[2021-09-14 09:12] mtcolman commented on #1603
@gruebel if you see this blog - the secret_password.yaml is exactly as per the example given: https://bridgecrew.io/blog/checkov-secrets-scanning-find-exposed-credentials-in-iac/.

[2021-09-14 09:45] mtcolman commented on #1536
I've amended the password files and given this another go at versions `2.0.407` and `2.0.413`. It is now finding the AWS secret, but still failing to find the "Base64 High Entropy String" (as per https://docs.bridgecrew.io/docs/git_secrets_6):
[code]

I can't see any difference between what I'm doing with `secret_password.yaml` and what was shown in the [blog](https://bridgecrew.io/blog/checkov-se

[2021-09-14 09:45] mtcolman commented on #1603
I've amended the password files and given this another go at versions `2.0.407` and `2.0.413`. It is now finding the AWS secret, but still failing to find the "Base64 High Entropy String" (as per https://docs.bridgecrew.io/docs/git_secrets_6):
[code]

I can't see any difference between what I'm doing with `secret_password.yaml` and what was shown in the [blog](https://bridgecrew.io/blog/checkov-se

[2021-09-14 13:43] larryboymi commented on #1585
With the merging of PR #1596 this issue is good to close. Thanks!

[2021-09-14 13:43] #1585 closed

[2021-09-14 15:01] mtcolman commented on #1603
@gruebel that probably explains it then! Please let me know how this progresses, thank you.

[2021-09-14 16:06] Homopatrol opened #1612 "Failing to perform Checkov Scan against Helm chart "[ERROR] Failed to run check:... ""
**Describe the bug**
I am performing a Checkov scan again the dependency track chart in [this](https://github.com/evryfs/helm-charts/tree/master/charts/dependency-track) repo. Instead of receiving scan results the scan fails and exits stating `"[ERROR]  Failed to run check:....at file: /dependency-track/templates/frontend/deployment.yaml"` i'm not sure what is causing this, could it be a configura

[2021-09-15 08:07] mtcolman commented on #1612
This is the error/output I get when trying the same:
[code]

[2021-09-15 08:09] mtcolman commented on #1612
If I then skip that specific check, it continues to error, but for a different check:
[code]

[2021-09-15 08:15] mtcolman commented on #1612
If I then perform `helm template` prior to mounting into a container and then run `checkov -d ./` (using v4.0.413) I get:
[code]

**Note:** `'runAsUser': 101,`

[2021-09-15 08:20] mtcolman commented on #1612
I've just spotted:
[code]

I've just inserted a dummy value and replaced the `null` and then when I scan I get:
[code]

[2021-09-15 16:29] punkerside commented on #762
Me acabo de dar con la sorpresa que no esta soportado el proveedor de kubernetes para terraform :(

[2021-09-15 20:07] #1599 closed

[2021-09-16 04:06] gwvandesteeg opened #1619 "Ability to disable the ASCII art logo to make app more automation friendly"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

When running checkov as part of automation and process tooling such as pre-commit, the many lines of ASCII art overwhelm the meaningful output of the checks themselves (what passed and what failed).

**Describe the solution you'd like**
Ma

[2021-09-16 08:32] bilelmoakhar opened #1620 "Failing to pull latest image (2.0.417)"
**Describe the bug**
We are unable to pull latest image for latest version of checkov.

**To Reproduce**
Steps to reproduce the behavior:
1. Run /usr/bin/docker pull bridgecrew/checkov:2.0.417

**Expected behavior**
image should be pulled correctly.

**Screenshots**
![image](https://user-images.githubusercontent.com/63244399/133578389-1445f722-70c6-4013-8f20-8aa5bdc318f2.png)

**Desktop (please co

[2021-09-16 11:10] mtcolman commented on #1612
@schosterbarak although the error is with our chart, I believe Checkov needs to be handling it better, as we couldn't really do anything with:
[code]

[2021-09-16 14:07] bilelmoakhar commented on #1620
this has been resolved. thank you.

[2021-09-16 14:07] #1620 closed

[2021-09-16 14:57] solaris187 opened #1621 "NoneType Object is not Iterable with Custom Policy and Terraform"
**Describe the bug**
Created a custom rule in YAML to check for existence of tags on resources. When running checkov against a plan in json format I get the following error:
`
Traceback (most recent call last):
  File "C:\Users\pacea\AppData\Roaming\Python\Python39\Scripts\checkov", line 8, in <module>
    exit(run())
  File "C:\Users\pacea\AppData\Roaming\Python\Python39\site-packages\checkov\mai

[2021-09-17 18:23] AjkayAlan commented on #1594
Closing this since #1618 covered it. Thanks @mikeurbanski1!

[2021-09-17 18:23] #1594 closed

[2021-09-17 20:35] kmcquade commented on #1584
@schosterbarak we are hitting this issue too :(

[2021-09-19 07:20] schosterbarak commented on #1589
@TLaborde we had a contribution by @gruebel fixing a few performance issues that should be released in the next 30minutes. please reopen the ticket if it still an issue

[2021-09-19 07:20] #1589 closed

[2021-09-20 11:34] tonycbr opened #1630 "external-modules-download-path not recognized"
**Describe the bug**
When using --external-modules-download-path test, module are downloaded inside .external_modules folder instead of test.

**To Reproduce**
Steps to reproduce the behavior:

➜  `checkov --external-modules-download-path test --config-file ../../.checkov.yml --show-config`

[code]

➜  `checkov --external-modules-download-path test --config-file ../../.checkov.yml`

[code]

➜  `ca

[2021-09-20 13:40] mikeurbanski1 commented on #1609
Hi @steffencircle , we will look into this; in the meantime you can set the environment variable `BC_SKIP_MAPPING=TRUE`

[2021-09-20 19:17] harishachappa opened #1631 "CKV2_AWS_19 does not check for aws_transfer_server"
**Describe the bug**
The CKV2_AWS_19 needs to be updated to check for aws_transfer_server.

Check: CKV2_AWS_19: "Ensure that all EIP addresses allocated to a VPC are attached to EC2 instances"
        FAILED for resource: aws_eip.eip
        File: /sftp.tf:147-163
        Guide: https://docs.bridgecrew.io/docs/ensure-that-all-eip-addresses-allocated-to-a-vpc-are-attached-to-ec2-instances

**To Rep

[2021-09-21 17:29] vangundy-jason-pfg commented on #563
https://github.com/bridgecrewio/checkov/pull/750 does not seem to be working as expected.  For a simple recreation I have a file with an aws secret in it.  The following fails appropriately:

[code]

But then the following wildcard attempt to skip this check does _not_ work (i.e. it still runs and fails):

[code]

Would it be best to file this as a new / separate issue @metahertz ?

[2021-09-21 19:14] schosterbarak commented on #563
can you please open a new issue? @vangundy-jason-pfg

[2021-09-21 19:15] schosterbarak commented on #1631
thanks for reporting @harishachappa fixed by @mikeurbanski1

[2021-09-21 19:15] #1631 closed

[2021-09-21 19:16] schosterbarak commented on #1612
@mtcolman i agree. let me see what can we do to for better output there

[2021-09-22 06:40] schosterbarak commented on #1531
If you’ll try to scan the root of: https://github.com/cloudposse/terraform-aws-components
with the command `checkov -d`you’ll see results in 34 seconds
if you use the command
`IGNORE_HIDDEN_DIRECTORY_ENV=false checkov -d . --quiet --compact --download-external-modules True --external-modules-download-path .external_modules`
you’ll see results in 26 minutes

I saw that most of the time checkov’s is

[2021-09-22 06:47] #1630 closed

[2021-09-22 06:56] schosterbarak commented on #610
fixed at: https://github.com/bridgecrewio/checkov/pull/1629

[2021-09-22 06:56] #610 closed

[2021-09-22 06:56] schosterbarak commented on #777
fixed at: https://github.com/bridgecrewio/checkov/pull/1629

[2021-09-22 06:56] #777 closed

[2021-09-22 08:13] gruebel commented on #1531
@schosterbarak from my point of view the logic behind downloading external modules need to be refactored in general. I started in the past #1287 and made some good progress, but hit a road block on how external modules are looked up by graph checks. I think it would be great, if I talk with @rotemavni and @nimrodkor on a good way to implement it there and then both of your points should be also in

[2021-09-22 08:51] #1409 closed

[2021-09-22 08:52] #1556 closed

[2021-09-22 12:46] nimrodkor commented on #1621
Hey @solaris187 !

When using the `all` resource type, you need to specify the relevant provider in the scope. Try this:
[code]

[2021-09-22 12:56] nimrodkor commented on #1619
Hey @gwvandesteeg !

I do believe the JSON output does not include the ASCII art. Will that work for you?

[2021-09-22 13:15] nimrodkor commented on #1603
@gruebel for IaC, we're looking for cross-matches of the entropies + the secret keyword matcher (i.e. `password`, `secret` etc). So I'm not too worried about the noise. I'm open to reducing the threshold there

[2021-09-22 13:16] nimrodkor commented on #1612
While we think about how to solve it, I've done a few fixes which should now handle this case without crashing. Will be released in the next release

[2021-09-22 14:26] gwvandesteeg commented on #1619
Not really, JSON output is not human friendly without post-processing, and doesn't really suit for local development.  I think I've gotten around it with pre-commit if there are no issues, but would still like to be able to do this when there are issues so that they can be actioned.

[2021-09-22 15:38] schosterbarak commented on #1583
hey @JaimePolo can you check again on latest version?

[2021-09-22 15:39] schosterbarak commented on #1595
@njgibbon @AjkayAlan currently centralized guideline management is a platform feature at bridgecrew.cloud . you can start using it for free :)

[2021-09-22 16:22] solaris187 commented on #1621
Thanks for the reply. Here is what I have now tried:

`---
metadata:
  name: "Ensure that Invesco required tags are present on all resources"
  id: "AWS_IVZ_01_Tags"
  category: "CONVENTION"
  scope:
    provider:
      - aws
definition:
  and:
    - cond_type: attribute
      resource_types: all
      attribute: tag.ApplicationCI
      operator: exists

    - cond_type: attribute
      resource_t

[2021-09-22 18:32] JaimePolo commented on #1583
I updated to version 2.0.420 and still the same. I am running on a M1 Mac architecture.

[2021-09-22 18:32] vangundy-jason-pfg opened #1641 "`--skip-check` wildcarding is not working properly"
**Describe the bug**
`--skip-check` is supposed to support wildcards per https://github.com/bridgecrewio/checkov/issues/563 and https://github.com/bridgecrewio/checkov/pull/750

**To Reproduce**

1. Create a file with a secret in it (e.g. iac/CKV_SECRET_2.json)
[code]

2. run `checkov --file iac/CKV_SECRET_2.json` which properly produces the failure

[code]

3. run `checkov --file iac/CKV_SECRET_2

[2021-09-22 19:55] vangundy-jason-pfg commented on #1641
also a related question - is this wildcard behavior (at least supposed to be) only implemented for `--skip-check`?  i am hoping to leverage wildcarding in `--check` and `--soft-fail-on`, additionally.

[2021-09-23 08:15] Saarett commented on #822
Hi everyone,
We've added a timeout for the HCL2 parsing method by using a child process - it has 60 seconds to parse the file or otherwise the process is terminated. Unparsed files will be added to the report as:
`Error parsing file <file_path>`
Feel free to share your thoughts on this

[2021-09-23 12:16] schosterbarak commented on #1605
@roymartinezblanco we have a community contribution on the way at: https://github.com/bridgecrewio/checkov/pull/1598 that might be a good way to solve your need too. wdyt?

[2021-09-23 15:01] bpoole commented on #1522
Can you try the code in my PR? I believe it will fix these issues.

https://github.com/bridgecrewio/checkov/pull/1642

[2021-09-23 15:02] bpoole commented on #1584
Can you try the code in my PR? I believe it will fix these issues.

https://github.com/bridgecrewio/checkov/pull/1642

[2021-09-23 17:08] raghavtan opened #1648 "Multiline output from github-action trimmed"
**Describe the bug**
Multiline CHECKOV_RESULTS fails. That is because the set-output notation only works on single line input

**To Reproduce**
Steps to reproduce the behavior:
[code]
            ${{ steps.checkov.outputs.results }}
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/10398915/134552364-68a9abdd-8e57-4bc7-8c17-5265350a2e0d.png)

**Desktop (please complete the

[2021-09-23 21:34] vangundy-jason-pfg commented on #1641
i found my answer to this!  as a result: https://github.com/bridgecrewio/checkov/pull/1650 and i will be working on equivalent support for `--soft-fail-on`

[2021-09-24 05:25] fabasoad opened #1651 "CKV2_AWS_27 warning is shown even when it's fixed"
**Describe the bug**
Query logging should be implemented to fix `CKV2_AWS_27` warning. Based on [AWS documentation](https://aws.amazon.com/premiumsupport/knowledge-center/rds-postgresql-query-logging/) to enable it I need to define 2 parameters: `log_statement` and `log_min_duration_statement`. This is what I did in Terraform file:

[code]

But anyway I have this warning:

[code]

**To Reproduce**

[2021-09-24 05:34] brukau commented on #1651
on the policy here https://github.com/bridgecrewio/checkov/blob/master/checkov/terraform/checks/graph_checks/aws/PostgresRDSHasQueryLoggingEnabled.yaml#L22

it should connect with **aws_db_parameter_group** instead of _aws_rds_cluster_parameter_group_

[2021-09-24 06:02] fabasoad commented on #1651
@brukau yeah, it is connected with `aws_db_parameter_group` as described in description. Or you meant vice versa - should be `aws_rds_cluster_parameter_group`?

[2021-09-24 06:41] brukau commented on #1651
@fabasoad your example is good, policy should be changed to use db_parameter_group instead of cluster_parameter_group

or maybe not instead but together

basically there are two ways how Postgres can be deployed with RDS:
- `aws_db_instance` together with `aws_db_parameter_group`
- or using RDS Aurora Cluster `aws_rds_cluster` and `aws_rds_cluster_parameter_group`

[2021-09-24 06:48] fabasoad commented on #1651
So, I use `aws_db_instance` + `aws_db_parameter_group`. The problem is that `checkov` is still showing `CKV2_AWS_27` warning.

[2021-09-27 13:26] #1603 closed

[2021-09-27 13:27] #1641 closed

[2021-09-27 16:59] calexandre opened #1659 "False positive for `CKV_SECRET_6` for `google_secret_manageR_secret_version` resource"
**Describe the bug**
Checkov is detecting a false

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Run cli command  '....'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 -

[2021-09-27 17:02] calexandre opened #1660 "False positive for `CKV_SECRET_6` for `google_secret_manager_secret_version` resources"
**Describe the bug**
Checkov 2.0.446 is detecting a false positive regarding the secret manager usage.

Basically it is showing multiple failed check for resources declared in the following format:

[code]

With the error:

[code]

**Expected behavior**
Checkov should not detect this is a failed check, because this is the secret-id, and not the secret value.

**Desktop (please complete the followi

[2021-09-27 17:07] calexandre commented on #1659
wrong click.

[2021-09-27 17:07] #1659 closed

[2021-09-27 23:25] ddanf opened #1663 "Since 2.0.438, Error parsing all files"
**Describe the bug**
Since release 2.0.438, I have been seeing "Error parsing file /Users/s0046840/src/redi/redi-terraform/outputs.tf" repeated for every file in my tf project.  The errors are happening well before the 60s timeout that was implemented with 2.0.438.

**To Reproduce**
Steps to reproduce the behavior:
                                ${pipenv} --python 3

[2021-09-28 00:33] coffeecoco commented on #1148
I also still have this issue
terraform plan -out tf.plan
terrarorm show -json tf.plan  > tf.json
checkov -f tf.json

Check: CKV_AWS_84: "Ensure Elasticsearch Domain Logging is enabled"
	FAILED for resource: aws_elasticsearch_domain.es
	File: /tfplan.json:214-315

		215 |                 "advanced_security_options": [
		216 |                   {
		217 |                     "enabled": false,
		218 |

[2021-09-28 00:37] coffeecoco opened #1664 "Check: CKV_AWS_84: "Ensure Elasticsearch Domain Logging is enabled""
I also still have this issue which is same seen here
https://github.com/bridgecrewio/checkov/issues/1148
terraform plan -out tf.plan
terrarorm show -json tf.plan  > tf.json
checkov -f tf.json

`
Check: CKV_AWS_84: "Ensure Elasticsearch Domain Logging is enabled"
	FAILED for resource: aws_elasticsearch_domain.es
	File: /tfplan.json:214-315

		215 |                 "advanced_security_options": [
		2

[2021-09-28 02:07] coffeecoco opened #1665 "checkov -f plan.json does not download external terraform modules for enrichment"
with a sample config when file is used for tfplan.json
i can see it does not download the external terraform modules ( my scenario is a git source )
i can see when --directory is used it does download the external terraform module

I thought the enrichment should download the external module so the enrichment can work and suppression and so forth
I only use the #comment suppression.

[code]

[2021-09-28 06:18] hazcod opened #1666 "checkov GCP container cluster checks do not take node_pool into account"
**Describe the bug**

CKV_GCP_69 and CKV_GCP_67 are triggered when `node_config` is not defined In a `google_container_cluster`.
However, this is often defined in the `google_container_node_pool` which is attached to the cluster via the `cluster` attribute.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a simple `google_container_cluster` block without a `node_config` block.
2. Creat

[2021-09-28 13:28] ddanf commented on #1660
I was getting this in jenkins but when I ran on desktop without the -o and redirect, I discovered that I was really getting a ton of file parse errors (https://github.com/bridgecrewio/checkov/issues/1663).  limiting to 2.0.437 has resolved the issue for now.

[2021-09-28 15:16] ddanf commented on #1663
This is the first file that fails to parse:

`output "logging_bucket_domain_name" {
  value = module.data.logging_bucket_domain_name
}

output "headers_lambda_qualified_arn" {
  value = module.web.headers_lambda_qualified_arn
}`

tflint reports no errors and tf plan and apply work with no issues.

[2021-09-28 15:23] ddanf commented on #1663
also, after the file parse errors, I am getting the false positives on CKV_SECRET_6 reported in issue #1660.

example:

[2021-09-28 20:21] yocally opened #1670 "Checkov fails to parse multi-line for expression"
**Describe the bug**
When using a for expression to create a map of objects, checkov crashes with a parsing error. This only happens if it is multi line.

**To Reproduce**
Steps to reproduce the behavior:
1. Run checkov against this file:
[code]
2. See this error:
[code]

Note that this only happens when the for expression is multi-line. If I change the locals section of the above file to this:
[c

[2021-09-28 21:39] kibnelbachyr opened #1671 "Can't run checkov locally - An error occurred setting up the Bridgecrew platform integration."
**Describe the bug**
I got the error below when I run checkov command locally:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. brew install checkov
2. checkov --directory .
3. See error

**Expected behavior**
Checkov's normal output/report.

**Screenshots**
<img width="1218" alt="Screenshot 2021-09-28 at 23 38 05" src="https://user-images.githubusercontent.com/31845236/135169378-5ac33

[2021-09-29 10:35] makemesteaks commented on #1663
bump

[2021-09-29 16:53] nmaki opened #1680 "Silently skipping cfn templates based on suffix breaks existing usecases"
**Describe the bug**
[This](https://github.com/bridgecrewio/checkov/pull/1634) change will silently skip a template provided with -f in the event its not in the CF_POSSIBLE_ENDINGS list. This is problematic for usecases that involve scanning cloudformation templates with arbitrary file extensions and is a backwards incompatible change.

The cloudformation docs specifically say that the files can b

[2021-09-29 17:40] chenrui333 opened #1681 "parsing error with checkov 2.0.450"
During the regressing testing with checkov 2.0.450, I am running into some parsing error with the tool, relates to https://github.com/Homebrew/homebrew-core/pull/86113

[code]

[2021-09-29 17:44] chenrui333 commented on #1681
looks like it works for 454 release
[code]

[2021-09-30 02:41] chenrui333 commented on #1681
I will take it back, it looks like it does not have any issue with the `pip install checkov=2.0.450`, I will research a bit on my end.

[2021-09-30 02:41] #1681 closed

[2021-09-30 07:13] #1648 closed

[2021-09-30 08:31] nimrodkor commented on #1671
Hey @kibnelbachyr , do you have a config file by any chance?

[2021-09-30 08:33] nimrodkor commented on #1671
Do you mind running checkov with lower log level to help us gather data? i.e.:
[code]

[2021-09-30 13:32] kibnelbachyr commented on #1671
@nimrodkor, sure! Here is the output:

`> LOG_LEVEL=DEBUG checkov --directory .
2021-09-30 15:32:14,843 [MainThread  ] [INFO ]  Resultant set of frameworks (removing skipped frameworks): all
2021-09-30 15:32:14,843 [MainThread  ] [DEBUG]  terraform_runner declares no system dependency checks required.
2021-09-30 15:32:14,843 [MainThread  ] [DEBUG]  cloudformation_runner declares no system dependen

[2021-10-01 07:54] rollwagen commented on #152
FYI - as far Cloudformation goes, it seems this is still not possible on an EC2 instance level; still marked as 'open' on the roadmap. For details see <https://github.com/aws-cloudformation/cloudformation-coverage-roadmap/issues/655>

[2021-10-01 18:44] jasonckeating commented on #1583
Same here on version 2.0.461.
Macbook Pro 2017.

I believe this is a vsCode extension issue, since 1.0.48 displays the 'x' no matter what.

@JaimePolo, If you revert the vsCode extension to 1.0.47, which still uses checkov v2.0.461, it scans properly.

Created a [checkov-vscode issue](https://github.com/bridgecrewio/checkov-vscode/issues/70) for this.

[2021-10-02 01:37] AErmie opened #1695 "JUnit Output for TestCase.Name Property Prefixes "None" to String"
**Describe the bug**
After running Checkov (via the Docker container method), and retrieving output in JUnit format, when the results are populated in an Azure DevOps pipeline, it includes the word "None" as a prefix to the name/title.

NOTE: This line corresponds to the testcase.name property in the XML file

**To Reproduce**
[code]

**Expected behavior**
A user-friendly title.

**Screenshots**
!

[2021-10-02 02:01] rafaeelaudibert commented on #1619
Hey! Could I work on this? I think that a `--quiet` or a `--no-art` flag would be a great addition to the tool.

[2021-10-02 02:55] Pretty-19 commented on #1444
Hi @schosterbarak  is this taken up can I have a look at it?

[2021-10-02 04:03] Pretty-19 commented on #1695
Hi, @AErmie  what should be mentioned as an alternative to  None ?

[2021-10-02 18:24] AErmie commented on #1695
Hey @Pretty-19, why is "None" included in the first place? What is it supposed to represent?

If you look at how the results are published by [TFSec](https://github.com/aquasecurity/tfsec), they just show the rule/check name.

![TFSec-Results](https://user-images.githubusercontent.com/10376796/135727793-4597cd61-c9cc-4edf-ba8e-9de0b49906a1.png)

[2021-10-03 08:09] #1619 closed

[2021-10-03 11:01] #1516 closed

[2021-10-03 19:52] askalik commented on #1027
this still open?  I would like to take a swing at this

[2021-10-03 19:54] askalik commented on #432
is this still open, and needed ?  could i be assigned

[2021-10-03 23:26] kyteinsky commented on #1549
Hey I would like to work on this issue.
I found this file (terraform/checks/graph_checks/azure/AzureAntimalwareIsConfiguredWithAutoUpdatesForVMs.yaml) with the information mentioned in the issue description, am I looking at the right place?

Secondly, I need to include a condition to exclude Linux, right?

Thanks.

[2021-10-04 04:12] mohitsaxenaknoldus commented on #1103
If this is still available can you please assign it to me? I'll do it.

[2021-10-04 08:14] JamesWoolfenden commented on #432
Go for it @askalik!

[2021-10-04 08:43] JamesWoolfenden commented on #1103
go for it!

[2021-10-04 11:41] CodebyJazz opened #1706 "warning for external checks"
**Describe the bug**
Checkov  2.0.468 getting exited while running on terraform and GCP modules

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  terraform directory having GCP modules , run terraform init.
2. Run cli command  ' $ LOG_LEVEL=DEBUG checkov --directory .'
3. See warning below:
there is no error and no info available on it in documents. It exit after the warning and there i

[2021-10-04 13:29] raghavtan opened #1707 "Severity levels for Checks"
**Description**
A bit quirky Question about checkov usage

If there is a way to add severity to certain checks
as in that high severities would return fail exit code … warnings would return a different exit code
and a mix of both would definitely be fail

[2021-10-04 15:26] yuvalyacoby opened #1709 "CKV2_AWS_27 not working as expected"
**Describe the bug**
CKV2_AWS_27 throws a failure when configuration seems to be defined properly:

[code]

**Expected behavior**
Should not fail when `db_cluster_parameter_group_name` is defined with parameters "log_statement" "log_min_duration_statement"

**Desktop (please complete the following information):**
 - OS: macOS Big Sur 11.5.2
 - Checkov Version 2.0.468

[2021-10-04 22:15] gruebel commented on #1709
Thanks for adding the example 💪 , I found the problem and will create a fix tomorrow.

[2021-10-05 03:18] askalik commented on #432
@JamesWoolfenden  did you already correct this issue?  I am looking at both the azure mariadb ssl and azure mysql it seems like the ssl enabled check is already present

[2021-10-05 05:27] hazcod opened #1713 "Crash: Ensure Google compute firewall ingress does not allow unrestricted ssh access"
**Describe the bug**

checkov v13 seems to crash when parsing my ingress YAML.

**Expected behavior**

Working.

**Log**

[code]

**Desktop (please complete the following information):**
checkov-action v13

**Additional context**

[code]

[2021-10-05 06:16] schosterbarak commented on #1713
@hazcod thanks for reporting.  what version of checkov is being used? (run checkov -v)

[2021-10-05 06:52] hazcod commented on #1713
Hi @schosterbarak , as I mentioned it's `checkov-action@v13`. So `Downloading checkov-1.0.338-py3-none-any.whl (202 kB)`.

[2021-10-05 08:23] schosterbarak commented on #1713
this is an old version.
not sure what checkov-action@v13 is. please use latest release mentioned at: https://github.com/bridgecrewio/checkov-action/releases or master

[2021-10-05 08:23] #1713 closed

[2021-10-05 08:31] hazcod commented on #1713
@schosterbarak v13 is a tag: https://github.com/bridgecrewio/checkov-action/releases/tag/v13

[2021-10-05 08:45] schosterbarak commented on #1713
good shout @hazcod . removing the tag now

[2021-10-05 10:45] mohitsaxenaknoldus commented on #1103
@JamesWoolfenden I checked the repo and the required files are already there I think.

[2021-10-05 10:56] schosterbarak commented on #1103
@mohitsaxenaknoldus where?

[2021-10-05 11:00] mohitsaxenaknoldus commented on #1103
https://github.com/bridgecrewio/checkov/tree/master/tests/terraform/checks/resource/linode

[2021-10-05 12:45] krishguptadev opened #1716 "GitHub Issue Forms"
YAML files is now supported and you can read more about it here

After Replacing the current markdown with yaml it would look something like below:

![](https://user-images.githubusercontent.com/66218496/135619900-020681fd-e936-4854-9a02-180ed26b71ff.png)

[2021-10-05 12:45] krishguptadev commented on #1716
I would love to work on this issue

[2021-10-05 18:15] oliver-pham commented on #1502
I'm interested in giving this a try. Has anyone worked on this issue yet?

[2021-10-05 19:51] bobziuchkovski commented on #1502
Our team at my company had intended to, but haven't been able to prioritize it yet.  Would still love to see this, though.

[2021-10-05 19:53] magnologan commented on #1243
Same issue here. It happened after I tried to integrate the results with Bridgecrew via bc_api_key. Afterward, it kept happening even when not using the bc_api_key parameter anymore. Tried reinstalling it, but it didn't do the trick. The only option was using the Docker version.

<img width="1792" alt="Screen Shot 2021-10-05 at 3 51 28 PM" src="https://user-images.githubusercontent.com/1558043/136

[2021-10-05 20:22] schosterbarak commented on #1243
hey guys looks like you are working under a VPN or a firewall that is changing the cert
try using --ca-certificate CA_CERTIFICATE flag to keep encrypted traffic with your cert

[2021-10-05 20:28] magnologan commented on #1243
Hi Barak,

No firewalls or VPNs here AFAIK. And it was working properly before I used the --bc_api_key parameter. The Docker version works fine in the same environment.

[2021-10-05 20:29] schosterbarak commented on #1243
do you use --bc_api_key with the docker version too?

[2021-10-05 20:38] magnologan commented on #1243
no, I didn't.

[2021-10-05 20:39] magnologan commented on #1243
What is curious is that even after I stopped using the bc_api_key with the command locally the issue still persisted, even after reinstalling checkov.

[2021-10-06 20:41] gruebel commented on #1706
@schosterbarak I checked the code regarding the warning message should we keep it and just lower the log level or should I remove it completely? There is also an other one before that one, which I think can be removed.
https://github.com/bridgecrewio/checkov/blob/65f23c31decdae13b5286fddbb30639073bc6840/checkov/json_doc/runner.py#L29-L37

@CodebyJazz do you maybe have a terraform file with the res

[2021-10-06 23:18] ndegory opened #1721 "Checkov fails with Python 3.10"
**Describe the bug**

Checkov errors with Python 3.10 with the backtrace below:
[code]

**To Reproduce**

Steps to reproduce the behavior:

1. build an image with checkov and Python 3.10

[code]

2. build the image

[code]

3. Run checkov in the container

[code]

**Expected behavior**

Shouldn't fail.
Changing the base image to python:3.7-alpine

[code]

**Desktop (please complete the following i

[2021-10-07 04:15] idivyanshbansal opened #1725 "Justify logo of README.md for darkmode"
For a dark mode of GitHub, the logo is not justified.

![Screenshot 2021-10-07 085459](https://user-images.githubusercontent.com/86911142/136319254-73b1cf5a-9fb4-4479-b086-06742ed8d75d.png)

[2021-10-07 07:10] shreemaan-abhishek opened #1728 "`of` mentioned twice in `What is Checkov.md`."
See [this](https://github.com/bridgecrewio/checkov/blob/2c7f33ea108c21121d5d63d12a42e816eaee22f2/docs/1.Welcome/What%20is%20Checkov.md#L10) line.

[2021-10-07 08:09] shreemaan-abhishek opened #1730 "Typo in `Custom Policies Overview.md`"
Contribute is spelled contibute. See [this](https://github.com/bridgecrewio/checkov/blob/2c7f33ea108c21121d5d63d12a42e816eaee22f2/docs/3.Custom%20Policies/Custom%20Policies%20Overview.md#L15) line.

[2021-10-07 08:30] JamesWoolfenden commented on #1103
let me know if you need any support on this.

[2021-10-07 08:44] shreemaan-abhishek opened #1733 "Documentation issue in `GitLab CLI.md`"
Expected:

Found:

See [this](https://github.com/bridgecrewio/checkov/blob/2c7f33ea108c21121d5d63d12a42e816eaee22f2/docs/4.Integrations/GitLab%20CLI.md#L106) line.

[2021-10-09 09:03] gruebel commented on #1706
@CodebyJazz I found the reason. None of the resources you have their have any security issues related to it. If you had for example this
[code]
 then you will see something like this
[code]

[2021-10-09 09:04] gruebel commented on #1706
@schosterbarak should we show the checkov banner even if there were no checks invoked?

[2021-10-09 09:08] schosterbarak commented on #1706
I think we should say maybe how many files or objects have been scanned.
Maybe as part of the report summary line. Wdyt?

On Sat, Oct 9, 2021, 12:04 Anton Grübel ***@***.***> wrote:

[2021-10-09 20:02] nmarchini opened #1740 "CKV_K8S_31 failure with DockerDefault configured"
**Describe the bug**
CKV_K8S_31 failure when the seccompProfile type is configured as Docker/Default or Runtime/Default

**To Reproduce**
Define security context as below.

[code]
2. Run checkov for kubernetes.
[code]
**Expected behavior**
CKV_K8S_31 to pass with the following configuration.

[code]

**Actual Behaviour**
[code]

**Desktop (please complete the following information):**
 - OS: Big S

[2021-10-11 14:49] Lakshay-Pruthi commented on #1725
@idivyanshbansal Hey, I would like to work on this issue.

[2021-10-12 07:25] simonwendel commented on #1707
The combination of severity levels and configurability which level to fail on would be a good tool for multi-team scenarios.

[2021-10-12 09:41] willholley commented on #1663
I'm seeing this as well - seems like a regression of https://github.com/bridgecrewio/checkov/issues/1361

[2021-10-12 15:57] abhi06991 opened #1750 "Possibility of Parsing a variable while creating custom policies"
Hi Team,

I am not sure whether this is already possible, but I have trued everything but not able to make this work.

so, there is this `TF `file, which contains an IAM policy defined as JSON in a `variables` file. Assuming the policy is vulnerable and some important attributes missing, checkov doesn't identify that, since it didn't parse the variable.

We are writing some custom Checkov rules, i

[2021-10-12 17:55] njgibbon commented on #1609
Hi all,

I'm unable to replicate.

If I just download checkov, disconnect my computer from the internet and run checkov against some arbitrary terraform module it runs fine without guidelines.

[code]

[2021-10-13 05:37] luedigernet opened #1752 "All releases above 2.0.459 stop working on checking terraform plan outputs."
**Describe the bug**
Since 2.0.459 checkov crashes on checking a terraform plan output.

**To Reproduce**
Steps to reproduce the behavior:
run checkov in docker container with a tag of 2.0.460 or greater (2.0.485 is also affected)

Use the following gist as myPkan.json for the input of the check

https://gist.github.com/luedigernet/7ee1434211c4a7086563de4cddbb3b1b

[code]

**Expected behavior**
ru

[2021-10-13 06:36] nimrodkor commented on #1621
We should have a better log message for this case though, to make the error clearer

[2021-10-13 10:41] rohiraanjali opened #1755 "[Alignment Bug] CTA button are aligned to the center instead of left."
Call to Action buttons at bridgecrew.io are aligned to the center when the text around it is aligned to left. This looks like an alignment issue.
![Screenshot (24)](https://user-images.githubusercontent.com/74822422/137118113-a2964ea8-4b7a-4f32-b206-4444272f395e.png)

Can be fixed by:
CSS:
.cta-row--center {
text-align: left;
}

[2021-10-13 10:41] rohiraanjali commented on #1755
I can fix it by raising a pr. Please review.

[2021-10-13 14:53] zamoose commented on #1621
Huh, interesting. The docs didn't indicate that `scope:` was a valid top-level block, or I misread them entirely.

When I use the approach you outlined, I got:

[code]

[2021-10-13 16:46] oguzhanaygn opened #1756 ""Reached too many edge duplications of 90% for 4 iterations. breaking" error"
Hi,
I'm using checkov for the first time. when I run it, it gives
```Reached too many edge duplications of 90% for 4 iterations. breaking.```
Error and as far as I understood, it has a limitation and because of this, my infra checking has not completed. Question is, how can increase these limitations? Is there a possible way to do it? I have almost 200 resources created via Terraform.

Any help wi

[2021-10-15 04:52] abhijeet007rocks8 commented on #1027
@schosterbarak May I work on this issue

[2021-10-15 12:12] bgoareguer opened #1764 "CKV_GCP_32 not working with terraform plan output"
**Describe the bug**
When running Checkov on the `terraform plan` output, the `CKV_GCP_32` check does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Terraform script that creates a `google_compute_engine` resource with `block-project-ssh-keys` set to `true`
2. Run cli command  'terraform init'
3. Run cli command  'terraform plan --out review.tfplan.binary'
4. Run cli comm

[2021-10-16 03:28] Arun-kc opened #1765 "Checkov may fail at checks due to use of "if" conditions instead of "get" method"
**Describe the bug**

Checking if the `key` is in a `dictionary` using a `get` method gives more sense than using an `if` condition.

`if` condition just checks if the value is in the target or not.  The target can be a dictionary or list or string or any other data structure. But since in our case, it's a dictionary it's more sensible to use a `get` method for the key check.

**To Reproduce**

Us

[2021-10-16 03:29] Arun-kc commented on #1765
I can do a PR if you find this a valid issue. Thanks @schosterbarak

[2021-10-17 01:04] gustavoortega opened #1768 "Checkov parsing error on TF plan that uses encrypted_secret and pgp_key in a aws_iam_access_key resource"
**Describe the bug**
Checkov parsing error on a terraform plan (for AWS resources) that use pgp_key and output with encrypted_secret

**To Reproduce**
Steps to reproduce the behavior:
I am using a TF resource of type "aws_iam_access_key", using the argument pgp_key, and an output with value = aws_iam_access_key.pipeline_user_key.encrypted_secret".
In the first run, when the AWS object doesn't exis

[2021-10-17 13:08] elfring opened #1771 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

Would you like to integrate anything from a transformation result which c

[2021-10-17 16:11] myvali95 commented on #735
Can I ask what the output should be to get results in Sarif? What I am looking to achieve is to get the output of the results in the CLI in SARIF format. So far I am running this:

[2021-10-18 11:00] calexandre opened #1777 "`CKV_GCP_69` needs to be updated to be compliant with the new provider changes around `workload_metadata_config` configuration block"
**Describe the bug**
The code block `workload_metadata_config` has changed and checkov needs to follow up with an upgrade, so that `CKV_GCP_69` is compliant to the new model, as described here: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster#workload_metadata_config

**To Reproduce**

First update the google provider to `3.88.0` (in my case I bumped

[2021-10-18 15:04] wyarde opened #1778 "`--external-checks-git` broken in combination with current folder as input"
**Describe the bug**
When using `--directory .` together with `--external-checks-git`, checkov breaks. The root cause seems to be that the temporary folder in which the git repository is cloned is within the current directory, which is then iterated over.

**To Reproduce**
Steps to reproduce the behavior:

1. Run `checkov --directory . --external-checks-git https://github.com/wyarde/my-custom-poli

[2021-10-18 16:54] jhop310 opened #1779 "Terraform Override Support"
**Describe the bug**
Currently if you provide a terraform override file, as defined [here](https://www.terraform.io/docs/language/files/override.html) checkov will provide a false positive on the override resource because it is not a full resource definition pre-merge.

**To Reproduce**

Example compliant s3 bucket resource in main.tf:

[code]

Example override.tf
[code]

Checkov output:
[code]
**

[2021-10-18 19:11] lpzdvd-packlink opened #1780 "Suppressing/Ignoring a check does not work in kubernetes manifests"
**Describe the bug**
Suppressing/Ignoring a check does not work in kubernetes manifests

**To Reproduce**
Steps to reproduce the behavior:
1. I try to set `checkov.io/skip1: CKV_SECRET_6` annotation in a CronJob
2. run `checkov -f cronjob.yaml`
3. Output still state `Check: CKV_SECRET_6: "Base64 High Entropy String"`

It's not very clear in the documentation where we should place annotations accor

[2021-10-18 23:40] benglerHIG opened #1782 "Parsing error scanning terraform file with "[*]""
**Describe the bug**
Receiving the error "Error parsing file c:\Users\BE53599\Documents\GitHub\cto_awsdocs\examples\hig_tfe_rhel7_ec2_server_fleet\dev\output.tf" when scanning a file of terraform code in Checkov that contains the string "[*]" (without quotes). We use the [*] token in Ansible for post-provisioning configuration management. Removing the [*] string allows the file to be scanned witho

[2021-10-18 23:53] benglerHIG opened #1783 "--skip-path not skipping files"
**Describe the bug**
Using the --skip-path argument does not skip files, Only currently able to skip directories.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a directory that contains the file test1.tf
2. Run cli command  'checkov -d . --skip-path test1.tf'
3. Checkov scans the test1.tf file

**Expected behavior**
Checkov should not scan files included in the --skip-path argument

[2021-10-19 00:14] benglerHIG opened #1785 "--external-checks-git generates error, custom policies not checked"
**Describe the bug**
The --external-checks-git argument generates the following error and custom policies are not checked:
"Error in atexit._run_exitfuncs:
Traceback (most recent call last):
  File "C:\Users\BE53599\AppData\Local\Programs\Python\Python39\lib\shutil.py", line 616, in _rmtree_unsafe
    os.unlink(fullname)
PermissionError: [WinError 5] Access is denied: 'c:\\Users\\BE53599\\Document

[2021-10-19 09:20] JamesWoolfenden opened #1786 "Suppression in variable data is clumsy"
Using CHECKOV 2.0.495

If i have CKV_SECRET_6 triggered and i want to suppress it i have to add the suppression exactly before the triggering line, but in this case it makes no sense to break up json value like this. I would prefer it that the suppression worked at the variable level as indicated.

[code]

[2021-10-19 17:03] spothound opened #1790 "Update wrong paths in Contribute YAML-based custom policies doc"
I have tried to follow the Contribute YAML-based custom policies documentation but some of the referenced paths don't exist in the current version of the repository.

It would be required to update the following paths:

- https://github.com/nimrodkor/checkov/tree/master/checkov/graph/terraform/checks
- https://github.com/nimrodkor/checkov/tree/master/tests/graph/terraform/checks/resources
- tests/

[2021-10-19 18:08] kartikp10 commented on #1782
Hey @benglerHIG, I tested this out and found that if I scan a directory with a file that has a splat expression `[*]`, the scanning works (you're probably not seeing results from the output.tf file in the last screenshot since there might not be any findings). See the example below:

[code]

That said if a file is scanned using the `-f` flag, scanning is failing. I think that's the problem here. I

[2021-10-19 19:55] jwesty opened #1793 "Checkov isn't handling tags"
**Describe the bug**
I am using Checkov CLI inside a python application to deliver the Terraform resource block, but it is not figuring out the tags and instead is handing me "var.common_tags", "var.tags", "local.", etc as the tag value.

**To Reproduce**
I have included a sample Terraform resource and the python code to reproduce. It's a pretty straight-forward use of the Checkov base classes: ht

[2021-10-19 23:17] acdha opened #1794 "CKV_AWS_117 (require VPC networking for Lambdas) is often counterproductive"
Checkov currently flags any Lambda which doesn't have VPC networking configured with CKV_AWS_117 / BC_AWS_GENERAL_65:

https://docs.bridgecrew.io/docs/ensure-that-aws-lambda-function-is-configured-inside-a-vpc-1

I think this check should be more nuanced because a Lambda which only calls AWS services, which is extremely common, would have increased security risk if this check is followed. The AWS-

[2021-10-19 23:26] acdha opened #1795 "Is CKV_AWS_116 still relevant?"
CKV_AWS_116 flags any Lambda without a dead-letter queue (DLQ) enabled. There's no explanation given for this recommendation:

https://docs.bridgecrew.io/docs/ensure-that-aws-lambda-function-is-configured-for-a-dead-letter-queue-dlq

AWS has retired it from their Foundational Security Best Practices controls on August 31, 2021:

https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-

[2021-10-20 07:17] syphernl opened #1797 "Using external checks results in 'utf-8' codec can't decode byte error"
**Describe the bug**
We've been using a repository with custom checks (Python-based):

[code]

This worked fine up until we suddenly got an error:

[code]

The checks itself haven't changed for the past 8 months, it's not really clear to me what causes this.

**To Reproduce**
Steps to reproduce the behavior:

* Use External checks based on Python (loosely based on the [example in the docs](https:/

[2021-10-20 09:38] rams3sh opened #1798 "Support for kustomize based kubernetes yamls"
**Is your feature request related to a problem? Please describe.**
Currently I use lot of my k8 deployments based on kustomize to manage the definitions easily. I wanted to have checkov configured as part of my pipeline for code linting. I tried the current version with my k8 yamls but it ended up showing as parse error.

**Describe the solution you'd like**
It would be good if checkov could suppo

[2021-10-20 16:47] daniel-shuy commented on #1337
Created a PR at #1804 to support dynamic blocks for `shielded_instance_config`

[2021-10-20 19:54] jshrack-ssi commented on #1257
Add me to the list.

![image](https://user-images.githubusercontent.com/6249804/138162538-ad402824-dd03-442f-8a6b-b8ec82b2b651.png)

[2021-10-20 19:59] jkesterson commented on #1257
@jshrack-ssi looks like your tfplan has parsing issues, my issue was that there was 0 output other than the banner, but I realized that was from no resources being created in my plan (i think)

[2021-10-20 20:05] jkesterson commented on #1257
@jshrack-ssi woah you may have found the issue, just found that another issue of mine (where one plan fails a check, and a nearly identical plan doesnt), the plan that passes is 0.1, the one that fails is 0.2

[2021-10-20 20:18] jshrack-ssi commented on #1257
I think to truly validate the assumption would require outputting a tfplan <v0.15 with format_version '0.1' and seeing what the outputs are. It's suspect checkov cannot auto-identify the output format as it perviously did without specifying --framework terraform_plan.

[2021-10-21 11:14] schosterbarak commented on #1795
@gruebel can we verify if "on failure" is set in IaC too?
also. can you suggest an edit at: https://docs.bridgecrew.io/docs/ensure-that-aws-lambda-function-is-configured-for-a-dead-letter-queue-dlq ?

i think we should change the check name if "on failure" can be inspected. "Ensure lambda message delivery in DLQ or Failure behiavor" maybe?

[2021-10-21 11:18] gruebel commented on #1795
Yeah that's possible, but needs to be a YAML check, because we need to check if the Lambda function has a connection to `aws_lambda_function_event_invoke_config` https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/lambda_function_event_invoke_config

[2021-10-21 11:43] YaaraVerner opened #1810 "parallelize checkov runners in windows"
**Is your feature request related to a problem? Please describe.**
checkov is running single-threaded in windows.
I already opened a [PR](https://github.com/bridgecrewio/checkov/pull/1758) for using multi-processing in unix os to run the runners in `runner_registry`, but in windows processes can't fork so it won't work.

**Describe the solution you'd like**
I would like to find a way to run the ru

[2021-10-21 17:34] daniel-shuy commented on #1035
I see that in #155 that the feature to correlate multiple resources has been added in #1023, is there any example of how to do so? The #1023 PR is too big to go through

[2021-10-21 21:30] benglerHIG opened #1813 "Failed to parse tags for entity error"
**Describe the bug**
Receive the error message:
2021-10-21 17:18:50,639 [MainThread  ] [WARNI]  Failed to parse tags for entity {'AppResourceGroup': {'Type': 'AWS::ResourceGroups::Group', 'Properties': {'Description': {'Fn::Sub': 'Resource group for APP-${AppId}_${Environment}'}, 'Name': {'Fn::If': ['HasEnvironment', {'Fn::Sub': 'APP-${AppId}-${Environment}'}, {'Fn::Sub': 'APP-${AppId}'}]}, 'Resou

[2021-10-21 21:31] benglerHIG commented on #1813
Screenshots:
Producing the error:
![image](https://user-images.githubusercontent.com/92762953/138359692-038507de-2f8d-45eb-8572-1d7181dde79c.png)

Code producing error:
![image](https://user-images.githubusercontent.com/92762953/138359783-3ff07297-54f3-4c79-bf8a-c7abf9a838e5.png)

OS: Windows 10
Checkov 2.0.505

[2021-10-22 02:07] adamjq opened #1815 "CKV_AWS_107: AWS::IAM::Policy for action ecr:GetAuthorizationToken with resource "*" for CloudFormation"
**Describe the bug**

Checkov returns an error `Check: CKV_AWS_107: "Ensure IAM policies does not allow credentials exposure"` when using a CloudFormation IAM Policy with action `ecr:GetAuthorizationToken` and `resource "*"`. `ecr:GetAuthorizationToken` doesn't allow for ARN restriction so the rule should not apply to this action. AWS CDK also generates this policy by default when using ECR with a

[2021-10-25 06:41] Biki-das opened #1838 "Consider using a set comprehension"
happen to find a bunch of code where we can optimise it by using a set comprehension

this is what it currently looks like now-
`  passed_check_resources = set([c.resource for c in report.passed_checks])`

we can do something like this-
`passed_check_resources = {c.resource for c in report.passed_checks}`

[2021-10-25 06:56] #1790 closed, assigned to nobody

[2021-10-25 07:15] Biki-das opened #1839 "Bug: Use of `len(seq) - 1` to get last element of an iterable"
debugging through out i found out these piece of code-

`  if len(s) > 0 and s[0] == '"' and s[len(s)-1] == '"':`
` if len(s) > 0 and s[0] == "'" and s[len(s)-1] == "'":`

we can improve the above code using `s[-1]` as we are just getting the last element of the iterable
`if len(s) > 0 and s[0] == '"' and s[-1] == '"':`
`if len(s) > 0 and s[0] == "'" and s[-1] == "'":`

[2021-10-25 07:30] #1838 closed, assigned to schosterbarak

[2021-10-25 07:40] Biki-das opened #1841 "Unnecessary `pass` statement"
i am not sure but what are these `pass` doing below the code

` def pre_scan(self):
        """Runs before any runners"""
       pass`

` def pre_scan(self):
21        """Runs before any runners"""
22        pass`

`
28    def post_runner(self, scan_reports):
29        """Runs after each runner completes"""
30        pass`

[2021-10-25 20:10] bdausses opened #1849 "Variable evaluation fails silently when using -f CLI option."
**Describe the bug**
When using the `-f somefile.tf` command line option, variable evaluation fails silently.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/try-bridgecrew/terragoat
2. Run cli command  `LOG_LEVEL=DEBUG checkov -f ~/github/try-bridgecrew/terragoat/terraform/aws/s3.tf -c CKV_AWS_21`
3. See error.
  - `2021-10-25 16:06:12,649 [MainThread  ] [DEBUG]  Fi

[2021-10-26 10:12] gruebel opened #1855 "pip install dependency issues with awscli"
**Describe the bug**
If someone tries to install `awscli` and `checkov` at the same time it results in `pip` trying to find compatible versions and installing not the latest `checkov` version, rather a very old one (current latest `checkov` version is `2.0.520`).

**To Reproduce**
[code]

**Expected behavior**
Install latest version of both packages.

**Screenshots**
If applicable, add screenshots

[2021-10-26 11:52] Biki-das opened #1858 "Bug: Found multiple imports"
Found multiple imports which we can remove
filepath-https://github.com/bridgecrewio/checkov/blob/master/checkov/common/bridgecrew/platform_integration.py
`from os import path`-- already imported at line 3 , reimported at line 8
filepath- https://github.com/bridgecrewio/checkov/blob/master/tests/terraform/runner/test_runner.py
` from checkov.terraform.checks.resource.registry import resource_regist

[2021-10-26 21:07] #1841 closed, assigned to schosterbarak

[2021-10-26 21:35] gruebel opened #1861 "Terraform graph checks are inconsistent"
**Describe the bug**
If in one Terraform file the same module is used several times, the graph checks only flag the resource inside the module and not the reference in the root file, like normal checks.

**To Reproduce**
I limited the checks to show the different behaviour.
[code]

**Expected behavior**
`CKV2_AWS_6` should be listed twice and show the calling ref to the root file.

**Desktop (plea

[2021-10-27 05:49] Biki-das opened #1863 "Bug: imports from same package are not grouped"
found imports which were not grouped together, which can lead to problems in future

![Web capture_27-10-2021_112739_github com](https://user-images.githubusercontent.com/72331432/139008198-688a8b25-0772-4aad-82d4-3ddc43f198ac.jpeg)

[2021-10-27 09:32] #1863 closed, assigned to schosterbarak

[2021-10-27 10:12] BesartSulejmani opened #1866 "check CKV_SECRET_6 fails even when suppressed"
**Describe the bug**
Checkov raises FAILED check CKV_SECRET_6 when running against a project even if the check is suppressed.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a module with Terraform and suppress the check for CKV_SECRET_6

[code]

2. Create a Terraform file where the module is called upon:

[code]

3. Run Checkov scan in Azure DevOps pipeline:

[code]

**Expected beha

[2021-10-27 21:02] #1793 closed, assigned to schosterbarak

[2021-10-28 08:23] #1858 closed, assigned to schosterbarak

[2021-10-29 09:53] rtollevik opened #1871 "Error parsing multiline expression"
checkov (2.0.510 and 2.0.528) fails to parse terraform multiline expressions when a line starts with a new operator.  The following expressions all parses ok:
[code]
These expressions all fails to parse:
[code]

[2021-10-29 19:24] chtnnh commented on #1795
Hey @schosterbarak, can I take this up?

[2021-10-29 19:25] chtnnh commented on #1317
@schosterbarak, I would love to take this up!

[2021-10-29 19:25] chtnnh commented on #1502
@nimrodkor I could give this a shot, if @oliver-pham isn't already working on this

[2021-10-29 21:25] benglerHIG opened #1873 "Parsing error with odd quotation mark"
**Describe the bug**
When scanning a file with Checkov that has a non-standard quotation mark, a parsing error is generated and the file is not scanned properly. This problem is isolated to only files with the odd quotes. Removing the odd quotation mark allows checkov to scan the file normally.

Copy/paste of the code triggering the issue:
search_path: "$user”,public"

Screenshot of the code trigg

[2021-10-29 21:27] benglerHIG commented on #1873
Log from scan
[checkov_parsing_error_log1.txt](https://github.com/bridgecrewio/checkov/files/7444978/checkov_parsing_error_log1.txt)

[2021-10-30 13:55] kartikp10 commented on #1782
Sounds good. Closing per the latest comment.

[2021-10-30 13:55] #1782 closed

[2021-10-30 19:44] gruebel commented on #1873
thanks for reporting, is it a CloudFormation template?

[2021-10-30 19:50] gruebel commented on #1777
thanks for reporting, yeah this should definitely be updated.

[2021-10-30 19:53] gruebel commented on #1795
@chtnnh sure, go ahead. Do you know what you need to do?

[2021-10-31 09:45] schosterbarak commented on #1866
@BesartSulejmani  which version of checkov are you using?

[2021-10-31 09:46] schosterbarak commented on #1873
@benglerHIG  can you share the template file?

[2021-10-31 09:47] schosterbarak commented on #1871
@arielkru would it be easy to add support of this?

[2021-10-31 12:54] chtnnh commented on #1795
@gruebel I went through the previous comments, but am not a 100% sure. Could you give me a quick rundown?

[2021-10-31 20:57] gruebel commented on #1871
@schosterbarak it should be easy to add, but I don't know, if it will have some side effects.

[2021-10-31 22:01] arielkru commented on #1871
@schosterbarak It might be one of the cases where the lark parser type gets confused if we add the change but Im not sure, need to look into it

[2021-11-01 01:55] oliver-pham commented on #1502
@chtnnh you can go ahead 🚀

[2021-11-01 07:00] BesartSulejmani commented on #1866
@schosterbarak This is when I use the latest version of Checkov.

I found a version which doesn't bring up errors that my secrets don't match the required entropy string and that is version 2.0.355

[2021-11-01 15:25] benglerHIG commented on #1873
@schosterbarak good news, latest version fixed this problem. I retested this morning before providing you the template file and found it's working well now. Thank you!

[2021-11-01 15:48] #1873 closed

[2021-11-01 16:43] mzwennes commented on #1777
@calexandre @gruebel Hopefully this will help: https://github.com/bridgecrewio/checkov/pull/1877

[2021-11-02 09:21] iwt-marvynzalewski commented on #1797
Same issue with yaml custom check but using version 2.0.456 is fine.

[code]

[2021-11-02 20:32] mzwennes commented on #1416
@spothound @jbratto See https://github.com/bridgecrewio/checkov/pull/1884.

[2021-11-02 20:38] manuel-sommer opened #1885 "Bump boto3 to the latest version"
**Describe the bug**
I am trying to installing checkov and the latest boto3 version within an environment. However, checkov depends on  version 1.17.*

Could you please bump boto3 to the latest version?

[2021-11-02 22:33] benglerHIG opened #1887 "Parsing error scanning terraform plan output"
**Describe the bug**
Receiving a parsing error when scanning terraform plan output. parsing error is in the cloudformation scan results. the file being scanned contains no cloudformation code. the terraform_plan scan results are reporting well

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a folder which contains the output of a terraform plan piped into a tf.json file
2. Run cli comm

[2021-11-02 22:47] benglerHIG opened #1888 "CKV2_AWS_5 false positive"
**Describe the bug**
The CKV2_AWS_5 check is reporting as FAILED on a SG which is attached to another resource. I recently submitted a PR which was merged and included in the version I'm testing with to add support for the codestarconnections_host resource type being used in this case: https://github.com/bridgecrewio/checkov/pull/1872

**To Reproduce**
Steps to reproduce the behavior:
1. Go to fol

[2021-11-03 13:34] jkesterson commented on #1887
I have had this issue quite a bit as well.

[2021-11-03 13:44] JamesWoolfenden opened #1891 "new check: Ensure WAFs have any ACLs"
We have checks that resource must have WAF's but that is just theatre if the WAFs dont have any rules. So this is a rule to check that any WAF has more than zero ACLs

[2021-11-03 13:47] #1891 closed

[2021-11-03 16:20] khorwood opened #1896 "IndexError: list index out of range"
**Describe the bug**
With the latest available checkov (2.0.537) and prior versions (2.0.446) I'm seeing an `IndexError: list index out of range` popping up when processing a large serverless definition.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run `checkov -d . --framework serverless` from the repository folder

**Expected behavior**
No errors.

**Screenshots**
N/A

**Desktop

[2021-11-03 19:48] tophersmith commented on #1450
https://github.com/bridgecrewio/checkov/pull/1899

[2021-11-04 03:25] #1515 closed

[2021-11-04 14:02] calexandre commented on #1416
I'm also being questioned by our security team regarding this check.
It does not make any sense for checkov to recommend the creation of the service-account-keys to pass the security check.

I believe this is an **urgent** issue, because checkov might be recommending the application of a bad-practice.

[2021-11-04 14:36] Pellovic26 opened #1903 "Check of Json file including null values results in parsing error"
**Describe the bug**
Checking a Terraform Plan output saved as json results in parsing error if there is at least one parameter set to null, even if null is an accepted value. Checking directly the main.tf file is working without parsing error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Terraform configuration, in which the corresponding plan includes at least one null value. S

[2021-11-04 16:36] Prashanthkool7 opened #1904 "Checkov unable to scan all ther serverless.yml in root directory"
Hello Team,
Here is the my current checkov_scan.yml file
name: Run Checkov action serverless
        id: checkov1
        uses: bridgecrewio/checkov-action@master
        with:
          #skip_check: CKV_AWS_23 # optional: skip a specific check_id
          #quiet: true # optional: display only failed checks
          #log_level: DEBUG # optional: set log level. Default WARNING
          output_fo

[2021-11-04 16:58] schosterbarak commented on #1904
checkov is looking for serverless files named serverless.yml and it is defined here:
https://github.com/bridgecrewio/checkov/blob/0f64314b7ae727606a376d81478ae8418d25512f/checkov/serverless/runner.py#L27
if you'd like to contribute a PR that extract those to an environment variable that can be overridden we will accept this contribution

[2021-11-05 09:41] gruebel commented on #1450
This should be fixed now in version 2.0.549. @tophersmith thanks for the fix 🚀

[2021-11-05 09:41] #1450 closed

[2021-11-05 14:16] Prashanthkool7 commented on #1904
checkov/checkov/serverless/runner.py

 SLS_FILE_MASK = ["serverless.yml", "serverless.yaml", serverless-nonprod.yml]

[2021-11-05 16:23] #1584 closed

[2021-11-06 14:18] #1885 closed

[2021-11-06 20:43] gruebel commented on #1721
this was fixed with #1742

[2021-11-06 20:43] #1721 closed

[2021-11-08 14:58] Prashanthkool7 commented on #1904
moving forward will he having bunch of serverless-xxxx.yml file in the same directory

can you please let me know how are we handling additional files for checkov to scan.

[2021-11-08 15:13] schosterbarak commented on #1904
The code change should enable SLS_FILE_MASK to read values from an environment variable CKV_SLS_FILE_MASK

A similar code exists for the env variable CKV_IGNORED_DIRECTORIES

[2021-11-09 00:28] jmcvetta opened #1917 "CKV2_AWS_13 wants a Backup Plan for Redshift - but AWS Backup Plan does not support Redshift"
**Describe the bug**
CKV2_AWS_13 wants a Backup Plan for Redshift - but AWS Backup Plan does not support Redshift.  Instead, Redshift uses snapshots for backup.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup code as described [in the docs](https://docs.bridgecrew.io/docs/ensure-that-redshift-clusters-has-backup-plan-of-aws-backup).
2. Run cli command  `terraform apply`.
3. AWS returns

[2021-11-09 03:39] kaefahtech commented on #465
Hello,
I don't get any scan results when I run checkov for helm charts or kubernetes manifests. How do I solve this problem? I have helm installed already.

[2021-11-09 07:12] nimrodkor opened #1918 "test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Run cli command  '....'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):*

[2021-11-09 07:12] #1918 closed

[2021-11-09 09:18] gruebel commented on #1917
You are correct 😄 if we wait long enough, then AWS will offer support for Redshift for sure 😄
@schosterbarak any thoughts about it?

[2021-11-09 09:31] nimrodkor commented on #1531
#1919 Should improve the performance of this issue greatly. From my tests - 37 minutes turned into ~10.
Leaving this issue open as parallelizing modules is still an open issue!

[2021-11-09 12:25] antoinert commented on #1903
I also ran into this and for documentation's sake I proceeded reproduce the original case in a notebook with latest Ubuntu.

[https://www.tinnable.com/tins/2250abc7-04b9-4ac3-8840-a2b705619122](https://www.tinnable.com/tins/2250abc7-04b9-4ac3-8840-a2b705619122?utm_source=github&utm_campaign=1ST2021)

[2021-11-09 15:12] gruebel commented on #1777
thanks to @mzwennes it should be fixed in version `2.0.559` 🚀

[2021-11-09 15:12] #1777 closed

[2021-11-09 16:59] pandrel commented on #1671
@nimrodkor  Same error today .. checkov worked fine till yesterday .. suddenly stopped working today. Any solution for this issue ?

[2021-11-09 21:10] pandrel commented on #1671
found fix for this error. It appears i have subscribed for levelup checkov and registered with an email id which creates an api key and the key is not valid any more.

remove ~/.bridgecrew/credentials if you are using free checkov version.

[2021-11-10 08:06] JamesWoolfenden commented on #1917
We are soo ahead of AWS

[2021-11-10 09:25] gruebel commented on #1416
thanks to @mzwennes it is fixed in version `2.0.563` 💪

[2021-11-10 09:25] #1416 closed

[2021-11-10 14:22] bogdan-milescu commented on #1660
I can confirm that this is still present. I'm using version: 2.0.563.

[2021-11-11 08:43] BesartSulejmani commented on #1866
@schosterbarak @gruebel Any update on your side for this issue?

[2021-11-11 11:40] anhdle14 opened #1925 "CKV_AZURE_53 is a duplicate of CKV_AZURE_90"
**Is your feature request related to a problem? Please describe.**
CKV_AZURE_53 is a duplicate of CKV_AZURE_90. We should use only one.

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-11-11 14:43] nicholas-marchini commented on #1665
I have the same behaviour when running the latest version from my Windows OS. when we run checkov via GH actions it does download the external modules to the ./external_modules folder and scans the files. Doing it locally that process does not happen.

[2021-11-11 15:14] nimrodkor commented on #1531
Hello again!

#1922 reworks the module downloading to further imporve the performance. From my tests, what was ~10 minutes is now ~6 minutes. 🎊

[2021-11-11 15:57] gruebel commented on #1925
@schosterbarak looks like both do really the same, but `CKV_AZURE_53` looks better on how it is programmed 🙂

[2021-11-11 17:38] brettcurtis opened #1927 "Parsing error with Helm values file"
**Describe the bug**
When running checkov against a few helm installed applications we use (GoCD & Hazelcast) we get a parsing error back.

**To Reproduce**
Steps to reproduce the behavior:

**GoCD**

1. `helm repo add gocd https://gocd.github.io/helm-chart`
2. `helm inspect values gocd/gocd > gocd.yaml`
3. `checkov -f gocd.yaml`

**Hazelcast**

1. `helm repo add hazelcast https://hazelcast-charts

[2021-11-11 19:59] gruebel commented on #1855
was fixed after unpinning `boto3` dependency

[2021-11-11 19:59] #1855 closed

[2021-11-11 22:23] fproulx-boostsecurity opened #1929 "SARIF now only outputs to file"
**Describe the bug**
This https://github.com/bridgecrewio/checkov/pull/1894 PR introduced breaking change which made it more annoying to consume SARIF. We liked to have the standard output like other formats for SARIF (`--output json` goes to stdout). I understand that this is good for GitHub Action maybe but I would like to have a flag to control this

[2021-11-12 10:26] tekdj7 opened #1931 "Allow suppression to be done in Metadata properties of the AWS CloudFormation template and/or resources"
Allow suppression to be done in Metadata properties of the template and/or resources

[2021-11-12 14:42] mzwennes commented on #727
This issue can be closed.

[2021-11-12 16:26] pete-leese commented on #1393
Hey @schosterbarak - This has been outstanding for some months, and still facing the exact same issue - are you able to take a look at this please?

[2021-11-14 06:45] #1925 closed

[2021-11-15 08:30] #1531 closed

[2021-11-15 10:44] metahertz commented on #1927
Taking a look at this @brettcurtis
Thanks for the detailed issue report!

[2021-11-15 11:08] metahertz commented on #1927
Interesting!

So the helm support in Checkov is designed to find helm charts themselves (directories containing `Chart.yaml`'s) then auto-template them out to K8S manifests and then run them through the kubernetes policies, with some logic to ensure we know which resource from the chart mapped to the templated resource etc.

As this is not a Chart, but a values file, Checkov doesn't know what to d

[2021-11-15 13:31] brettcurtis commented on #1927
Thanks Matt, makes sense now. I'm glad my lack of understanding could lead to a potential use case :D The W/A is good, maybe in the future we could put some comment in the file that checkov looked for so it would know it was a values file and the k8s templating could all happen in the background like ya mention.

[2021-11-15 17:15] brnsmns13 opened #1940 "Custom terraform checks fail to resolve `merge()` calls with `for_each` references"
**Describe the bug**
Custom terraform checks fail to resolve `merge()` calls with `for_each` references.

**To Reproduce**
1. In an empty directory, create the following files.

`check.yml`
[code]

`for_each_merge_example.tf`
[code]

2. In the same directory, run the following cli command to validate the custom check against the provided example.
    `checkov --external-checks-dir . -c tag_merge -

[2021-11-15 18:05] jmeredith16 opened #1941 "COMMENT_REGEX does not skip custom checks with non-numerical endings"
**Describe the bug**
The COMMENT_REGEX for skipping checks does not account for custom checks with a non-numerical naming schema.

[code]

The above regex matches checks like what Checkov uses internally `CKV_AWS_20`, but does not match something like `ABC_AWS_MyCheckName`. Specifically, the `MyCheckName` section which is not captured by the `\d` in the regex.

I believe changing the regex to some

[2021-11-16 07:22] JohnNMwangi opened #1943 "CKV_AWS_129: Ensure that respective logs of RDS are enabled."
**Describe the bug**
I am running this check against an example from a module but the check still fails.

**To Reproduce**

module "rds_instance_complete" {
  source                              = "./../"
  subnet_ids                          = data.aws_subnet_ids.rds.ids
  name                                = "randominstancecomplete"
  username                            = random_string.rds_usr.

[2021-11-16 08:57] madpah opened #1944 "Bump `cyclonedx-python-lib` to `0.11.*`"
A number of fixes have been made since `0.6.*` and the library is now typed according to PEP 561.

[2021-11-16 09:01] madpah commented on #1944
See #1945

[2021-11-16 13:30] wiliansilvazup opened #1947 "Error on install checkov with dockerfile"
**Describe the bug**
I have an Dockerfile with installation of the checkov inside

**To Reproduce**
Steps to reproduce the behavior:
1. Create Dockerfile in any place:
[code]
2. Run cli command in some place of the dockerfile:
[code]
3. See error:
[code]

**Expected behavior**
No error installing checkov

**Desktop (please complete the following information):**
 - OS: Linux Ubuntu 20.04
 - Checkov

[2021-11-16 14:21] gruebel commented on #1947
hi @wiliansilvazup we added new packages for leveraging `asyncio` and it seems like Alpine has a few issues with it, because those packages have to be created especially for the OS. We also create an Alpine based Docker image, so probably this can help you
https://github.com/bridgecrewio/checkov/blob/de5425d974fcfea749f4924678b426faa8af9e14/Dockerfile#L5-L7
this is based on the `3.9-alpine` image

[2021-11-16 15:30] manuel-sommer opened #1948 "Checkov output to json leads to TypeError"
**Describe the bug**
I run the latest checkov version 2.0.579 and I use the json output:
`checkov --framework terraform -d folder/ --output json`
The python versions, I tried:
- 3.10.0
- 3.9
- 3.8.10

Whenver I use `--output json`, the output fails to the following error:
Traceback (most recent call last):
  File "/usr/local/bin/checkov", line 9, in <module>
    sys.exit(run())
  File "/usr/local/

[2021-11-16 15:34] tonnyhideyori commented on #1948
I am facing the same problem with the new version

[2021-11-16 16:25] orhovy opened #1949 "Checkov failure on F driver windows"
**Describe the bug**
When running checkov from the jetbrains plugin using this command:
```checkov -s --bc-api-key **-**-**-** --repo-id jetbrains/extension -f F:\Code\modules\test2\s3.tf -o json ```
We are getting this error:
 File "c:\Python39\Scripts\checkov.cmd", line 53, in <module>
    run()
  File "C:\Users\MESH User\AppData\Roaming\Python\Python37\site-packages\checkov\main.py", line 232,

[2021-11-16 18:51] madrum commented on #1948
Not sure this is directly related, but I have an issue getting properly formatted JSON output.
When running a command like this, where I'm checking helm charts and terraform:
`checkov -d ./charts -d ./terraform -o json --quiet --framework terraform --framework kubernetes`
The JSON is not well formed and looks like two JSON object strings were concatenated.

`{
    "check_type": "kubernetes",
    "

[2021-11-16 21:49] wiliansilvazup commented on #1947
tnks for you support @gruebel i changed and works fine. If you want to see more about horusec we are using checkov in conjunction with other security tools in [Horusec](https://github.com/ZupIT/horusec). 🚀

[2021-11-16 21:49] #1947 closed

[2021-11-17 12:25] AbhijithGanesh commented on #1904
@schosterbarak Can I please get assigned to this issue ?I am new to the Checkov project, I have experience with Python.

[2021-11-17 13:50] GiladMark opened #1953 "Add OCI TF check - OCI Block Storage Block Volume is not restorable"
RQL template - config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-block-storage-volume' as X; config from cloud.resource where api.name = 'oci-block-storage-volume-backup' as Y; filter 'not($.X.id equals $.Y.volumeId)'; show X;

[2021-11-17 13:51] GiladMark opened #1954 "Add OCI TF check - OCI Default Security List of every VCN allows all traffic on SSH port (22)"
RQL equivalent query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-networking-security-list' AND json.rule = (displayName contains "Default Security List for") and (ingressSecurityRules[?any((source equals 0.0.0.0/0) and (((*.destinationPortRange.min == 22 or *.destinationPortRange.max == 22) or (*.destinationPortRange.min < 22 and *.destinationPortRange.max > 22)) or (p

[2021-11-17 13:52] GiladMark opened #1955 "Add OCI TF check - OCI Event Rule and Notification does not exist for IAM group changes"
RQL equivalent query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-events-rule' AND json.rule = '(isEnabled equals true) and (actions.actions[?any( actionType equals ONS and isEnabled equals true and lifecycleState equals ACTIVE)] exists) and (condition.eventType[*] contains com.oraclecloud.identitycontrolplane.creategroup and condition.eventType[*] contains com.oraclecl

[2021-11-17 14:55] mikeurbanski1 commented on #1949
@gruebel `relpath` isn't really the problem here. It actually stems from [here](https://github.com/bridgecrewio/checkov/blame/master/checkov/terraform/graph_builder/graph_components/blocks.py#L26).

`self.path = os.path.realpath(self.path)`

Before this statement, the path is what you would expect, e.g. `F:\path\to\some\dir`. But then `realpath` converts it to `\\network\drive\path\to\some\dir`.

[2021-11-17 14:55] phgogo opened #1956 ""Failed to run check" on azurerm_kubernetes_cluster"
**Describe the bug**
When checking a terraform plan containg an azurerm_kubernetes_cluster, checkov crashes.

**To Reproduce**
Steps to reproduce the behavior:

1. Install Checkov using pip3
2. Create Terraform project invoking a module, that deploys an `azurerm_kubernetes_cluster`
3. Produce a Terraform Plan
4. Run Checkov for that plan using:
`checkov -f plan.json --framework terraform_plan -o j

[2021-11-17 14:56] GiladMark opened #1957 "Add OCI TF check - OCI Event Rule and Notification does not exist for IAM policy changes"
RQL equivalent query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-events-rule' AND json.rule = '(isEnabled equals true) and (actions.actions[?any( actionType equals ONS and isEnabled equals true and lifecycleState equals ACTIVE)] exists) and (condition.eventType[*] contains com.oraclecloud.identitycontrolplane.createpolicy and condition.eventType[*] contains com.oraclec

[2021-11-17 14:56] GiladMark opened #1958 "Add OCI TF check - OCI Event Rule and Notification does not exist for Identity Provider changes"
RQL equivalent query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-events-rule' AND json.rule = '(isEnabled equals true) and (actions.actions[?any( actionType equals ONS and isEnabled equals true and lifecycleState equals ACTIVE)] exists) and (condition.eventType[*] contains com.oraclecloud.identitycontrolplane.createidentityprovider and condition.eventType[*] contains c

[2021-11-17 14:57] GiladMark opened #1959 "Add OCI TF check - OCI Event Rule and Notification does not exist for Identity Provider Group (IdP) group mapping changes"
RQL equivalent query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-events-rule' AND json.rule = '(isEnabled equals true) and (actions.actions[?any( actionType equals ONS and isEnabled equals true and lifecycleState equals ACTIVE)] exists) and (condition.eventType[*] contains com.oraclecloud.identitycontrolplane.createidpgroupmapping and condition.eventType[*] contains co

[2021-11-17 14:57] GiladMark opened #1960 "Add OCI TF check - OCI Event Rule and Notification does not exist for network gateways changes"
RQL equivalent query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-events-rule' AND json.rule = '(isEnabled equals true) and (actions.actions[?any( actionType equals ONS and isEnabled equals true and lifecycleState equals ACTIVE)] exists) and (condition.eventType[*] contains com.oraclecloud.virtualnetwork.createdrg and condition.eventType[*] contains com.oraclecloud.virt

[2021-11-17 14:59] GiladMark opened #1961 "Add OCI TF check - OCI Event Rule and Notification does not exist for Network Security Groups changes"
Equivalent RQL query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-events-rule' AND json.rule = '(isEnabled equals true) and (actions.actions[?any( actionType equals ONS and isEnabled equals true and lifecycleState equals ACTIVE)] exists) and (condition.eventType[*] contains com.oraclecloud.virtualnetwork.changenetworksecuritygroupcompartment and condition.eventType[*] c

[2021-11-17 14:59] GiladMark opened #1962 "Add OCI TF check - OCI Event Rule and Notification does not exist for route tables changes"
Equivalent RQL query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-events-rule' AND json.rule = '(isEnabled equals true) and (actions.actions[?any( actionType equals ONS and isEnabled equals true and lifecycleState equals ACTIVE)] exists) and (condition.eventType[*] contains com.oraclecloud.virtualnetwork.changeroutetablecompartment and condition.eventType[*] contains co

[2021-11-17 14:59] GiladMark opened #1963 "Add OCI TF check - OCI Event Rule and Notification does not exist for security list changes"
Equivalent RQL query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-events-rule' AND json.rule = '(isEnabled equals true) and (actions.actions[?any( actionType equals ONS and isEnabled equals true and lifecycleState equals ACTIVE)] exists) and (condition.eventType[*] contains com.oraclecloud.virtualnetwork.changesecuritylistcompartment and condition.eventType[*] contains

[2021-11-17 15:00] GiladMark opened #1964 "Add OCI TF check - OCI Event Rule and Notification does not exist for user changes"
Equivalent RQL query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-events-rule' AND json.rule = '(isEnabled equals true) and (actions.actions[?any( actionType equals ONS and isEnabled equals true and lifecycleState equals ACTIVE)] exists) and (condition.eventType[*] contains com.oraclecloud.identitycontrolplane.createuser and condition.eventType[*] contains com.oracleclo

[2021-11-17 15:00] GiladMark opened #1965 "Add OCI TF check - OCI Event Rule and Notification does not exist for VCN changes"
Equivalent RQL query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-events-rule' AND json.rule = '(isEnabled equals true) and (actions.actions[?any( actionType equals ONS and isEnabled equals true and lifecycleState equals ACTIVE)] exists) and (condition.eventType[*] contains com.oraclecloud.virtualnetwork.createvcn and condition.eventType[*] contains com.oraclecloud.virt

[2021-11-17 15:01] GiladMark opened #1966 "Add OCI TF check - OCI File Storage File System access is not restricted to root users"
Equivalent RQL query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-file-storage-export' AND json.rule = exportOptions[?any( identitySquash equals ROOT and (anonymousGid does not equal 65534 or anonymousUid does not equal 65534))] exists

[2021-11-17 15:01] GiladMark opened #1967 "Add OCI TF check - OCI File Storage File System Export is publicly accessible"
Equivalent RQL query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-file-storage-file-system' as X; config from cloud.resource where api.name = 'oci-file-storage-export' AND json.rule = (exportOptions[?any(source equals 0.0.0.0/0 and requirePrivilegedSourcePort is false and access equals READ_WRITE and identitySquash equals NONE)] exists) as Y; filter '($.X.id equals $.Y.

[2021-11-17 15:01] GiladMark opened #1968 "Add OCI TF check - OCI IAM local (non-federated) user account does not have a valid and current email address"
Equivalent RQL query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-iam-user' AND json.rule = externalIdentifier contains null and (email does not exist or emailVerified is false)

[2021-11-17 15:02] GiladMark opened #1969 "Add OCI TF check - OCI IAM password policy for local (non-federated) users does not have minimum 14 characters"
Equivalent RQL query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-iam-authentication-policy' AND json.rule = 'passwordPolicy.minimumPasswordLength less than 14'

[2021-11-17 15:02] GiladMark opened #1970 "Add OCI TF check - OCI MFA is disabled for IAM users"
Equivalent RQL query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-iam-user' AND json.rule = 'isMfaActivated is false'

[2021-11-17 15:02] mikeurbanski1 commented on #1949
@gruebel

I do not think the root cause of this is running on a drive other than where Checkov is installed.

There is another interesting way a similar issue that just got raised yesterday, specifically related to network drive mappings.

It actually comes from [here](https://github.com/bridgecrewio/checkov/blame/master/checkov/terraform/graph_builder/graph_components/blocks.py#L26).

`self.path

[2021-11-17 15:03] GiladMark opened #1971 "Add OCI TF check - OCI Network Security Group allows all traffic on RDP port (3389)"
Equivalent RQL query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-networking-nsg' AND json.rule = (securityRules[?any((((*.destinationPortRange.min == 3389 or *.destinationPortRange.max == 3389) or (*.destinationPortRange.min < 3389 and *.destinationPortRange.max > 3389)) or (protocol equals "all") or ((tcpOptions does not exist) and (udpOptions does not exist) and (pro

[2021-11-17 15:10] GiladMark opened #1972 "Add OCI TF check - OCI Network Security Groups (NSG) has stateful security rules"
Equivalent RQL query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-networking-nsg' AND json.rule = securityRules[?any( direction equals INGRESS and (isStateless does not exist or isStateless is false) )] exists

[2021-11-17 15:10] GiladMark opened #1973 "Add OCI TF check - OCI security group allows unrestricted ingress access to port 22"
Equivalent RQL query
config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-networking-nsg' AND json.rule = (securityRules[?any((((*.destinationPortRange.min == 22 or *.destinationPortRange.max == 22) or (*.destinationPortRange.min < 22 and *.destinationPortRange.max > 22)) or (protocol equals "all") or ((tcpOptions does not exist) and (udpOptions does not exist) and (protocol doe

[2021-11-17 15:10] GiladMark opened #1974 "Add OCI TF check - OCI Security List allows all traffic on SSH port (22)"
Equivalent RQL query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-networking-security-list' AND json.rule = (ingressSecurityRules[?any((source equals 0.0.0.0/0) and (((*.destinationPortRange.min == 22 or *.destinationPortRange.max == 22) or (*.destinationPortRange.min < 22 and *.destinationPortRange.max > 22)) or (protocol equals "all") or ((tcpOptions does not exist) a

[2021-11-17 15:11] GiladMark opened #1975 "Add OCI TF check - OCI security lists allows unrestricted ingress access to port 3389"
Equivalent RQL query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-networking-security-list' AND json.rule = (ingressSecurityRules[?any((source equals 0.0.0.0/0) and (((*.destinationPortRange.min == 3389 or *.destinationPortRange.max == 3389) or (*.destinationPortRange.min < 3389 and *.destinationPortRange.max > 3389)) or (protocol equals "all") or ((tcpOptions does not

[2021-11-17 15:12] GiladMark opened #1976 "Add OCI TF check - OCI tenancy administrator users are associated with API keys"
Equivalent RQL query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-iam-group' as X; config from cloud.resource where api.name = 'oci-iam-user' as Y; filter '($.X.name equals Administrators) and ($.X.groupMembers[*].userId contains $.Y.id) and ($.Y.apiKeys[*] size greater than 0)';show Y;

[2021-11-17 15:12] GiladMark opened #1977 "Add OCI TF check - OCI users API keys have aged more than 90 days without being rotated"
Equivalent RQL query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-iam-user' AND json.rule = '(_DateTime.ageInDays(apiKeys[*].timeCreated) > 90)'

[2021-11-17 15:12] GiladMark opened #1978 "Add OCI TF check - OCI users Auth Tokens have aged more than 90 days without being rotated"
Equivalent RQL query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-iam-user' AND json.rule = 'authTokens[?any(lifecycleState equals ACTIVE and (_DateTime.ageInDays(timeCreated) > 90))] exists'

[2021-11-17 15:13] GiladMark opened #1979 "Add OCI TF check - OCI users customer secret keys have aged more than 90 days without being rotated"
Equivalent RQL query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-iam-user' AND json.rule = 'customerSecretKeys[?any(lifecycleState equals ACTIVE and (_DateTime.ageInDays(timeCreated) > 90))] exists'

[2021-11-17 15:13] GiladMark opened #1980 "Add OCI TF check - OCI VCN has no inbound security list"
Equivalent RQL query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-networking-security-list' AND json.rule = ingressSecurityRules[*] size equals 0

[2021-11-17 15:14] GiladMark opened #1981 "Add OCI TF check - OCI VCN Security list has stateful security rules"
Equivalent RQL query

config from cloud.resource where cloud.type = 'oci' AND api.name = 'oci-networking-security-list' AND json.rule = ingressSecurityRules[?any( isStateless is false )] exists

[2021-11-17 17:06] manuel-sommer commented on #1948
Here I pushed an example to replay the failure:
https://github.com/manuel-sommer/terragoat/commit/545260c1f9e96ea5c6c74508b147c57685eb7c0d

https://github.com/manuel-sommer/terragoat/tree/checkov_fails_here

[2021-11-17 19:21] BenjaDiaz commented on #1752
Any updates on this? I'm hitting this exact same issue.

[2021-11-18 07:36] #1980 closed

[2021-11-18 09:12] JamesWoolfenden commented on #1979
No possible for checkov, would need something like prowler for OCI.

[2021-11-18 09:14] JamesWoolfenden commented on #1978
not possible for checkov. Would need something like prowler for OCI

[2021-11-18 09:14] JamesWoolfenden commented on #1977
Not possible for checkov, would need something like prowler for OCI

[2021-11-18 09:42] #1949 closed

[2021-11-18 09:49] BrewToR commented on #1903
I encounter the same issue, when do you plan a fix ?

[2021-11-18 10:09] JamesWoolfenden commented on #1970
This property is no exposed for OCI user resource oci-identity-user, and i cant see where else this would be set.

[2021-11-18 10:18] gruebel commented on #1752
please update to the newest version and it should work 🙂
[code]

[2021-11-18 11:12] chrisjaimon2012 opened #1989 "Support for Azure Bicep"
Can the checkov scanning library include support for Azure Bicep

https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/overview

[2021-11-18 11:35] JamesWoolfenden commented on #1989
As Bicep compiles into ARM template there is already some support for this.

[2021-11-19 10:41] tonikarppi opened #1995 "Delimiter in wrong position when using multi-output with empty error list"
**Describe the bug**
The "--- OUTPUT DELIMITER ---" message appears below two outputs when running on a project without any errors to output. This causes problems when trying to use parsers to split the output.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir -p /tmp/checkov-bug
2. cd /tmp/checkov-bug
3. docker run -it -v $PWD:/app -w /app bridgecrew/checkov:2.0.591 -o cli -o junitxml -

[2021-11-19 19:25] madrum opened #1996 "No scan when using --skip-framework parameter"
**Describe the bug**
--skip-framework parameter results in Checkov exiting without scanning files.

**To Reproduce**
Steps to reproduce the behavior:
1. Have helm chart and terraform files in './input' folder
2. Run command `checkov -d ./input --skip-framework secrets && echo $?` to scan files using all frameworks except secrets
3. See Checkov ascii header, 'by' line, and version, and application

[2021-11-20 00:34] hkubram opened #1997 "Receiving a parsing error while using Checkov on tf.json"
**Describe the bug**
A clear and concise description of what the bug is.
An attempt to run a Checkov scan on a plan file leads to a Parsing Error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the terminal
2. Run cli commands:
    terraform init
    terraform plan -out tf.plan
    terraform show -json tf.plan  > tf.json
    checkov -f tf.json`
3. See the error:
    Passed checks: 0, F

[2021-11-20 00:38] hkubram opened #1998 "parsing error while using Checkov on tf.json"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the project's directory in the terminal
2. Run cli commands
    terraform init
    terraform plan -out tf.plan
    terraform show -json tf.plan  > tf.json
    checkov -f tf.json`
3. See error
    Passed checks: 0, Failed checks: 0, Skipped checks: 0, Parsing errors: 1
    Error parsing file tf.json terraform_plan scan

[2021-11-20 00:46] #1997 closed

[2021-11-20 00:47] hkubram commented on #1997
This issue is a duplicate

[2021-11-20 12:15] sbkg0002 commented on #1284
This doesnt work for run-all unfortunately.

[2021-11-20 18:32] Saarett commented on #1943
Hi @joni254 !

Could you please share the failed resource - `aws_db_instance.main` ?
The module `rds_instance_complete` might not propagate the argument `enabled_cloudwatch_logs_exports` to the failed resource.

[2021-11-20 19:37] Saarett commented on #1998
Hi @hkubram , could you please share the file tf.json ?

[2021-11-21 09:58] GiladMark commented on #1979
agree @nimrodkor - I'm closing it now

[2021-11-21 09:58] #1979 closed

[2021-11-21 09:59] GiladMark commented on #1978
agree - closing

[2021-11-21 09:59] #1978 closed

[2021-11-21 09:59] GiladMark commented on #1977
Agree - closing

[2021-11-21 09:59] #1977 closed

[2021-11-21 11:42] schosterbarak commented on #1997
hey @hkubram  thanks for reporting, what is the delicate issue?

also would you be able to share a plan file so we can test the cause?

[2021-11-21 11:53] nimrodkor commented on #1948
I believe the issue is we need to encode the `set` python object using a custom json decoder. The change needs to be [here](https://github.com/bridgecrewio/checkov/blob/112326a84c21f8c22598a94309c6579edcf43a78/checkov/common/runners/runner_registry.py#L148) and [here](https://github.com/bridgecrewio/checkov/blob/112326a84c21f8c22598a94309c6579edcf43a78/checkov/common/runners/runner_registry.py#L15

[2021-11-22 07:22] SebastianSchuetze commented on #1989
Just tested it. In your pipeline you call your main bicep file with the cli and give an output path like this:
[code]

then you can tell checkov to scan that .dist folder. So I think it is not needed for checkov, because bicep is a superset of ARM templates. Meaning what is wrong in bicep is first handled by the transpiler (syntax and some semantics) but the policies that you would break with chec

[2021-11-22 07:40] chrisjaimon2012 commented on #1989
Thanks a lot @SebastianSchuetze
I'll try it out. Let me know if you need any help in getting the checkov documentations updated for this (if needed)

[2021-11-22 08:26] #1948 closed

[2021-11-22 10:50] andrea-defraia opened #2004 "Checkov does not evaluate Terraform dynamic blocks"
*I misunderstood the issue, the issue is due to `checkov` not evaluating dynamic blocks*
_Originally posted by @daniel-shuy in https://github.com/bridgecrewio/checkov/issues/1812#issuecomment-948793631_

I'm using checkov on modules, in particular using GH action:
[code]

This fails on every resource that has a security feature set as dynamic block, like dynamic "encryption... or dynamic "logging"

[2021-11-22 15:19] hkubram commented on #1998
Sure you can find the JSON file in the link below
https://terraform-plan-file-1.s3.amazonaws.com/tf.json

[2021-11-23 06:07] joni254 commented on #1943
Hey @Saarett here is how the `aws_db_instance.main` looks like.

resource "aws_db_instance" "main" {
  allocated_storage                   = var.allocated_storage
  allow_major_version_upgrade         = var.allow_major_version_upgrade
  auto_minor_version_upgrade          = var.auto_minor_version_upgrade
  apply_immediately                   = var.apply_immediately
  backup_retention_period

[2021-11-23 09:30] JamesWoolfenden opened #2008 "CMK checks can be bypassed, as some take alias strings as a value"
I used alias/aws/kinesis as the value for my kms_key_id for a kinesis stream. The intention was to ensure a CMK is used and it is not.

This probably fails for all CMKS checks.

[2021-11-23 14:20] #2008 closed

[2021-11-23 14:20] JamesWoolfenden commented on #1981
close as done @GiladMark

[2021-11-23 21:40] hkubram commented on #1998
This issue has been resolved.  Thank you for taking a look.

[2021-11-23 21:40] #1998 closed

[2021-11-24 14:33] jonjozwiak commented on #1284
In my current project I'm using a before_hook in my pipelines.  I have used this with ```terragrunt run-all plan``` previously, but currently am using it just with ```terragrunt plan``` and it has worked well.  An example of this in your terragrunt.hcl is below:

[code]

[2021-11-24 16:51] hkubram opened #2016 "Has terraform_plan depreciated?"
"-framework terraform_plan" is not in the Checkov documentation below.
https://www.checkov.io/2.Basics/CLI%20Command%20Reference.html

Has "-framework terraform_plan" depreciated?

Below is the error "-framework terraform_plan" resolved:
https://stackoverflow.com/questions/70037670/receiving-a-parsing-error-while-using-checkov

[2021-11-24 20:15] KevinHock commented on #1671
Can confirm. `rm ~/.bridgecrew/credentials` fixed this for me 👍🏼

[2021-11-24 20:51] gruebel commented on #2016
Hi @hkubram, thanks for raising the issue, the `terraform_plan` framework option is not deprecated. The documentation is just not up-to-date 🙈
@schosterbarak we probably should have a look in our documentation, if we have more areas, which don't reflect the current feature status.

[2021-11-25 09:52] methelegend-sys opened #2018 "Getting KeyError : 0 while scanning cloud formation template"
**Describe the bug**
Getting KeyError : 0 while scanning cloud formation template

**Screenshots**

![image](https://user-images.githubusercontent.com/55847022/143419131-4981910f-46ed-406b-8dd9-6ab62ecbcedd.png)

[2021-11-25 09:54] nimrodkor commented on #2018
Hey @methelegend-sys !

It seems checkov fails to parse an `if` operator. Can you share the relevant template that is causing this?

[2021-11-25 10:08] methelegend-sys commented on #2018
I hope I could but I am not the author of this template so editing this is kind of pain for me

[2021-11-25 10:45] methelegend-sys commented on #2018
I wish I could share it with you but that is not possible.

[2021-11-25 11:51] YaaraVerner opened #2020 "parallelize in module loader doesn't work well"
**Describe the bug**
using multithreading in module loader leads to collisions in the git process.
using multiprocessing in module loader leads to losing data. In `module_loading/registry.py/load` we uses the content to update the `module_content_cache`, the registry is running in a different process so a fork of this object created and the data doesn't save in the original one.

**To Reproduce**

[2021-11-25 12:45] YaaraVerner commented on #2020
I think the best solution to the multi-processing problem is to update the `module_loader_registry.module_content_cache` only in the `load_tf_modules` function, this way it will be in the main process even when we use multi-processing.
The `module_loader_registry.load` function can return a local dictionary that describing the new module_content_cache to add.

[2021-11-25 18:28] rdenchev opened #2022 "Check CKV_AZURE_50 fails incorrectly for resource 'azurerm_virtual_machine'"
CKV_AZURE_50 always fails for the resource "azurerm_virtual_machine" due to an incorrect check of the existence of the attribute "allow_extension_operations":

https://github.com/bridgecrewio/checkov/blob/25388a34231e09ac17b266ad9db0b4c0e806e956/checkov/terraform/checks/resource/azure/AzureInstanceExtensions.py#L15

The Terraform resource "azurerm_virtual_machine" does not have an attribute named

[2021-11-26 14:36] fidelcasto opened #2023 "Display severity on scan results"
**Is your feature request related to a problem? Please describe.**
It is hard to prioritise fixes since the severity related to CKV_IDs are not displayed is scan results.

**Describe the solution you'd like**
Display the severity associated to CKV directly in the scan result output or add a flag --severity to display the severity.

[2021-11-26 14:39] gruebel commented on #935
I'm closing this in favour of #884.

[2021-11-26 14:39] #935 closed

[2021-11-26 14:40] gruebel commented on #1707
I'm closing this in favour of #884.

[2021-11-26 14:40] #1707 closed

[2021-11-26 14:40] gruebel commented on #2023
I'm closing this in favour of #884.

[2021-11-26 14:40] #2023 closed

[2021-11-26 15:08] luizfelipefb opened #2024 "Use checkov baseline without resource id"
I have a tf plan similar to this:

[code]

Then I have to run checkov to get an error message similar to this:

[code]

After that I can creat a .checkov.baseline file like this:

[code]

My question/desire is to preemptively create the baseline file without having to run checkov first to get the resource id. I thought that using `"resource": "mongodbatlas_database_user.default[\"admin\"]",` would

[2021-11-26 15:36] mohitsaxenaknoldus commented on #1944
Can I work on this?

[2021-11-26 15:51] madpah commented on #1944
@mohitsaxenaknoldus - justing waiting the Bridgecrew folk to review and merge https://github.com/bridgecrewio/checkov/pull/1945

[2021-11-26 21:22] khorwood commented on #1896
Apologies for the delay, this issue appears to have been fixed in `2.0.564`

[2021-11-26 21:22] #1896 closed

[2021-11-28 07:36] #2022 closed

[2021-11-28 10:32] tronxd commented on #2024
Hey @luizfelipefb, baseline file analysis requires 2 checkov runs - a first run for creating the baseline file and a second for using it against current checkov findings, so I can't see a way avoiding the first run which also computes the resource IDs.

In your case, the baseline file has a `secrets` runner finding, where resources are identified by a hash of the detected secret. `mongodbatlas_dat

[2021-11-28 22:49] gruebel commented on #1995
Hi @tonikarppi thanks for raising this issue. This seems to be a bug and only happens, as you described it, when there is no violation. Just for your information, it doesn't matter, how the order of the output parameters are, they will always be printed out in a specific order and CLI should be first and then the other ones are followed up.

[2021-11-29 09:18] #1996 closed

[2021-11-29 09:40] vicmar57 opened #2028 "Adding category filtering"
**Is your feature request related to a problem? Please describe.**
No, it's just a feature I think is worth adding support to.
Currently, in the CLI tool there is an option to skip specific checks, through the --check CLI parameter.
I thought it would be great to add support for category filtering (for example, an option to check only "networking" rules).

**Describe the solution you'd like**
Enab

[2021-11-29 11:36] #1995 closed

[2021-11-29 12:44] vicmar57 opened #2029 "Enable defining yaml rules according to their fail criteria"
**Is your feature request related to a problem? Please describe.**
No, it's just a feature I think is worth adding support for.
Currently, the definition of a rule in the yaml format, is a definition of the pass criteria only.
In some cases that can make the rule be tricky to understand, and can make the rule longer, than if it was possible to define the rule by the fail criteria instead.

**Descr

[2021-11-29 14:16] #2016 closed

[2021-11-29 14:16] hkubram commented on #2016
Thank you

[2021-11-29 15:00] JafarAkhondali opened #2031 "List IaC scanner types"
**Is your feature request related to a problem? Please describe.**
I want to parse result of IaC scanners, but not sure about types of IaC types in JSON result(possible values for "check_type").

**Describe the solution you'd like**
Getting list of possible IaC scanner, with exact case-sensitive name used in json output as a cli option.
suggested name: `checkov --list-iac-scanners`

**Describe alt

[2021-11-29 15:03] gruebel commented on #1595
thanks to @vangundy-jason-pfg this is possible since version `2.0.484` 🚀

[2021-11-29 15:03] #1595 closed

[2021-11-29 15:06] gruebel commented on #1542
thanks to @njgibbon this should be fixed since version `2.0.490` 🏅

[2021-11-29 15:06] #1542 closed

[2021-11-29 15:13] gruebel commented on #1756
A couple of more improvements were done in this area and should hopefully unblock you to use `checkov`. Feel free to open a new issue, if you still have issues.

[2021-11-29 15:13] #1756 closed

[2021-11-29 15:16] gruebel commented on #1389
thanks to @Xitric this should be now fixed since version `2.0.472`.

[2021-11-29 15:16] #1389 closed

[2021-11-29 15:20] gruebel commented on #1423
thanks to @JamesWoolfenden this is now part of `checkov` and has the check ID `CKV_AWS_191`, which is available since version `2.0.580`.

[2021-11-29 15:20] #1423 closed

[2021-11-29 15:32] gruebel commented on #1944
thanks @madpah for solving your issue by contributing the fix on your own 💪  available since version `2.0.609`

[2021-11-29 19:12] jmeredith16 commented on #1941
Would it be OK to make a PR with this change? Wanted to check if I was missing anything before moving forward.

[2021-11-30 09:13] kaiyuanlim opened #2036 "Junit result xml file output is corrupted"
**Describe the bug**
* JUnit output is not valid.
* It has an extra line at the top of the xml file:
`'NoneType' object is not iterable`

**To Reproduce**
Steps to reproduce the behavior:
1. Jenkins pipeline ran the command for checkov to scan which was `checkov -d terraform --no-guide -o junitxml`
2.Jenkins error message on the build ` results.xml.[failed-to-read]`
3. Saw that there is an extra l

[2021-11-30 09:27] nimrodkor commented on #2036
Hey @kaiyuanlim !
I tried to run it on [terragoat](https://github.com/bridgecrewio/terragoat) - and didn't get this line at the top.
Can you share an anonymized version of the bad file / files?

[2021-11-30 10:12] kaiyuanlim commented on #2036
Not sure if the log is relevant but I saw this in debug mode:
`2021-11-30 08:41:09,853 [MainThread  ] [INFO ]  Rendering variables, graph has 250 vertices and 258 edges
2021-11-30 08:41:09,854 [MainThread  ] [INFO ]  evaluating 144 edges
2021-11-30 08:41:09,870 [MainThread  ] [INFO ]  evaluating 77 edges
2021-11-30 08:41:09,878 [MainThread  ] [INFO ]  evaluating 27 edges
2021-11-30 08:41:09,881 [M

[2021-11-30 12:37] teemukom opened #2037 "CKV_AZURE_42 false positive"
**Describe the bug**
CKV_AZURE_42 is reported as failure altough enableSoftDelete and enablePurgeProtection are set to true

**To Reproduce**
Steps to reproduce the behavior:
1. Create ARM/Bicep template with Microsoft.KeyVault/vaults resource in it
2. Set enableSoftDelete and enablePurgeProtection to true
2. Run checkov
3. See error Resource Microsoft.KeyVault/vaults.[parameters('keyVaultName')]

[2021-11-30 13:04] nimrodkor commented on #2037
Hey @teemukom , can you share an anonimized version of the template? Could be with just that resource, so we can test. The reason is we already have test cases for this, and the relevant test case seems to be passing... So there must be something weird, either with what we expect is not the correct configuration or there's another way to write it.

Can you share a simple example which should pass

[2021-11-30 14:15] teemukom commented on #2037
Just did a quick test myself and it seems that when using Bicep and defining the resource creation through module the test fails. When using a simple template which has the resource in it, the test succeeds. Only difference between these approaches is that when using modules the JSON file created by Bicep includes the Deployment resource (Microsoft.Resources/deployments) also.

I've attached four

[2021-11-30 17:43] KarthikVenkatraman opened #2038 "Ability to write custom checks on provider block"
While checkov allows us to write custom checks involving various resource types in terraform, am not sure if there is a way to add custom checks for the **provider block** in terraform. The default check that runs for the provider block does scan for secrets, however am looking to check if the provider block has a **default_tags** definition.. The reason I need to check this is that while we can w

[2021-11-30 20:38] gruebel commented on #2038
@KarthikVenkatraman yeah it should be possible to write a custom checks for a provider. Just copy this file https://github.com/bridgecrewio/checkov/blob/master/checkov/terraform/checks/provider/aws/credentials.py and of course don't forget the `__init__.py` like for other custom checks and you are all set.

[2021-11-30 21:05] KarthikVenkatraman commented on #2038
Hi @gruebel Thank you so much for the reply. Is it possible to write the check only with yaml rules and not having to do this in Python please ?

[2021-11-30 22:12] aholler2 commented on #1486
Resolved by #1763. Thank you @Arun-kc!

[2021-11-30 22:12] #1486 closed

[2021-11-30 22:44] aholler2 commented on #1765
This is additionally an issue with checkov/arm/checks/resource/AKSDashboardDisabled.py

[code]

[code]

[code]

[2021-12-01 03:36] Arun-kc commented on #1486
You are welcome @aholler2

[2021-12-01 13:52] #1103 closed

[2021-12-01 14:13] #1136 closed

[2021-12-01 14:34] #115 closed

[2021-12-01 14:43] nimrodkor commented on #152
I believe this has been implemented for [cloudformation](https://github.com/bridgecrewio/checkov/blob/master/checkov/cloudformation/checks/resource/aws/IMDSv1Disabled.py) and [terraform](https://github.com/bridgecrewio/checkov/blob/master/checkov/terraform/checks/resource/aws/IMDSv1Disabled.py). If someone disagrees - please reopen!

[2021-12-01 14:43] #152 closed

[2021-12-01 15:19] nimrodkor commented on #482
Hey @Porkepix !

Sorry for the late reply!

It is considered bad practice to assign policies (inline or otherwise) to users, as user permissions need to be handled by using groups. I think the general case, where human users gain permissions via the role they fill in the organization fits this scheme - so for example, when looking at use case number 1 - I'd expect there to be a group with that pol

[2021-12-01 15:22] #563 closed

[2021-12-01 15:26] #739 closed

[2021-12-01 15:30] nimrodkor commented on #1051
Version 2.6.3 is now in checkov, and this issue was resolved in 2.6.2

[2021-12-01 15:30] #1051 closed

[2021-12-01 15:34] #1317 closed

[2021-12-01 15:36] nimrodkor commented on #1663
Has been resolved! 🎊

[2021-12-01 15:36] #1663 closed

[2021-12-01 15:54] rollwagen commented on #152
@nimrodkor - thanks for the update and looking into this.
In cloudformation the checkov check is for a (EC2-) LaunchConfiguration, this is at the moment still the workaround for setting IMDSv2; still can't do directly on and EC2 resource type (issue in cloudformation repo on this is still open, see [link](aws-cloudformation/cloudformation-coverage-roadmap#655). So technically not fully closed as t

[2021-12-01 21:29] jkesterson opened #2046 "Scan of tfplan with only content being outputs causes parsing error"
**Describe the bug**
When a tfplan consisting of only output values is scanned, it throws a parsing error.

**To Reproduce**
Scan the attached json file.
[plan.txt](https://github.com/bridgecrewio/checkov/files/7637224/plan.txt)

**Expected behavior**
The scan should pass with assumedly no failed checks.

**Desktop (please complete the following information):**
 - OS: Win10/Ubuntu (WSL)
 - Checkov

[2021-12-01 21:53] mikeurbanski1 opened #2047 "Module suppressions with plan file enrichment does not work"
**Describe the bug**
In [this](https://github.com/bridgecrewio/checkov/issues/777) issue, there was a request for the ability to suppress all resources in a module using a comment in the `module` block. It was implemented here: https://github.com/bridgecrewio/checkov/pull/1629

However, the capability does not extend to using the `--repo-root-for-plan-enrichment` with a plan file - the enrichment

[2021-12-02 13:44] #2047 closed

[2021-12-02 19:22] pascal-hofmann commented on #1224
I think this issue can be close.

[2021-12-02 19:27] pascal-hofmann commented on #1116
This is still an issue. In addition to the incomplete resource address, the source code lines printed are also incorrect. checkov always reports all issues for the first resource with a given address inside a module.

[2021-12-03 10:28] christophetd commented on #1224
Indeed! Thanks

[2021-12-03 10:28] #1224 closed

[2021-12-06 10:50] #1904 closed

[2021-12-07 05:56] WickramBug opened #2059 "Enable GitHub releases for custom checks to import git repositories with --external-checks-git"
**Is your feature request related to a problem? Please describe.**
As per my understanding, we cannot use GitHub specific repository release with the --external-checks-git and it would need a git URL to clone the repository to the temporary folder. We are in a need of using GitHub releases to use different types of custom checks according to the release versions.

**Describe the solution you'd lik

[2021-12-07 07:33] nimrodkor opened #2060 "New Issue Classification Process"
Hello everyone!

We've reached the point where we have over 200 open issues, and want to have a good way to sort through them and to easily capture the different "classes" of issues - from first time contribution opportunities, through critical regression issues and bugs, to feature requests that can help Checkov become even more awesome!

The best and easiest way we thought of was to make a more

[2021-12-07 07:41] pascal-hofmann commented on #2060
Hi,
I'm not able to assign labels to issues. What's the plan here? Will the labels always be assigned by project maintainers?

[2021-12-07 09:01] schosterbarak commented on #2059
@WickramBug looks like release url should be supported: https://github.com/bridgecrewio/checkov/commit/876be836ffc55a501350260dc2af6d05f4ad4222#diff-925156d1e7980b2d131a101797ceaf8378af8c13b83da4de01efb20b3fc62c64
If it is not it should be around those lines to debug and fix

[2021-12-07 09:12] nimrodkor commented on #2060
We can leverage the issue templates for this
https://stackoverflow.com/questions/13829466/how-to-put-a-label-on-an-issue-in-github-if-you-are-not-a-contributor-owner/31366954#31366954

[2021-12-07 09:42] santosh0787 opened #2061 "to print external modules downloading status in checkov"
Feature description:
While using checkov to scan the static code for terraform scripts those scripts internally imports few modules from private repo or public repos. It will be really helpful to print the status of download of external modules. The problem is here as checkov  downloads from multiple repos and when we execute scan it is taking some time to download. Sometimes it feels like it is s

[2021-12-07 10:09] gruebel commented on #2061
Hi @santosh0787 we actually have the info, but you need to change the log level to info to see it
[code]
but you will see much more log entries than this.

[2021-12-07 12:37] jgreaves91 opened #2063 "CKV_AWS_174 incorrect reporting"
CKV_AWS_174 is being triggered in our terraform code even though we have the viewer certificate set to use TLSv.1.2. Snippet of our code here:

viewer_certificate {
   acm_certificate_arn = aws_acm_certificate.cert.arn
   ssl_support_method       = "sni-only"
   minimum_protocol_version = "TLSv1.2_2019"
}

Steps to reproduce the behavior:
Running checkov on our terraform code

**Expected behavior*

[2021-12-07 12:56] gruebel commented on #2063
Hi @jgreaves91 you are correct, the check should be adjusted, as a workaround you could set `cloudfront_default_certificate = false` and then the check should pass. Do you want to fix it? Then I can give you some pointers, what you have to do 💪

[2021-12-07 12:57] nimrodkor commented on #2063
Thanks for reporting @jgreaves91 !

We'd happily accept a contribution on this if you're willing!

[2021-12-07 17:08] schosterbarak commented on #2060
@nimrodkor great! lets do it :)

[2021-12-07 19:38] metahertz commented on #2060
Suggest a "noise" tag as well, for developer/user UX stuff which is causing more output than expected, noisy output, etc.

[2021-12-07 19:49] nimrodkor commented on #2060
Added @metahertz

[2021-12-07 21:33] aholler2 opened #2066 "Parse union() ARM template function"
**Is your feature request related to a problem? Please describe.**
We are using Checkov to scan our ARM templates but it doesn't stand up to more complex ARM templates very quickly. We are using union() to combine some object variables objects into a larger object but Checkov can't parse that logic and ends up scanning the ARM template property as
[code]
once it's done parsing the variables. Azure

[2021-12-08 04:17] WickramBug commented on #2059
Hi @schosterbarak thank you for your suggestion.

Could you please able to show a sample command to pass release URLs? Because I get the below fatal error,
`fatal: repository 'https://github.com/sample-repo/sample-proj/releases/tag/v1.0.0/' not found`

Command used: `checkov -d . --framework kubernetes --external-checks-git https://github.com/sample-repo/sample-proj/releases/tag/v1.0.0//security/t

[2021-12-08 06:33] schosterbarak commented on #2059
Is it a private repo?

On Wed, Dec 8, 2021, 06:17 Wickram Bagawathinathan ***@***.***>
wrote:

[2021-12-08 06:43] WickramBug commented on #2059
@schosterbarak yes, that is correct.

[2021-12-08 08:47] santosh0787 commented on #2061
Hello @gruebel,

thanks for the information.
It will be more helpful if normal checkov command prints the status instead of using LOG_LEVEL command.  My intention is if we keep in pipelines developers should see some meaningful information instead of waiting without any outputs.

[2021-12-08 19:02] jsimoni commented on #1663
this seems to still be occurring in 2.0.639

[2021-12-08 19:07] jsimoni commented on #1998
I am still getting an error parsing the Terraform plan as json in checkov v2.0.639.

[2021-12-09 09:38] gruebel commented on #2038
as far as I know, the YAML checks only work with normal resources

[2021-12-09 16:35] kmcquade opened #2077 "Parameterize Checkov Generator script"
The Checkov rule generator script written by @jmeredith16 is **awesome**. However, it seems like it is tied to Checkov's library-specific location here:

https://github.com/bridgecrewio/checkov/pull/1886/files#diff-e1b586bdac25f3a8dc7ebb37254391e9b3a24328e6bac60cb88ac4bb10ac3c50R12-R13

We have our own Checkov wrapper internally, and I'd love to use it internally without duplicating his script ent

[2021-12-09 16:45] schosterbarak commented on #2077
Let's do it via env variables :)
Can you add a CKV prefix to the env variable names?

[2021-12-09 16:57] kmcquade commented on #2077
sure, that works!

[2021-12-09 22:57] gruebel commented on #883
@ismailyenigul you actually don't need to access any VPC to do such a deployment, you could easily leverage CodeBuild to run inside that VPC to interact with the EKS cluster and AWS even offers a GitHub Action https://github.com/marketplace/actions/aws-codebuild-run-build-action-for-github-actions

As @njgibbon mentioned we won't adjust this specific check, because making the EKS cluster private i

[2021-12-09 22:57] #883 closed

[2021-12-10 16:45] JPLachance opened #2082 ""Got a substring with double underscore, which is not allowed" => Avoid that warning when parsing AWS Tags?"
**Describe the bug**
Checkov is printing a ton of warnings in our projects since the addition of this line: https://github.com/bridgecrewio/checkov/blob/e78202ddc44c8aea72e9fd7a0d13e81296d4e533/checkov/terraform/graph_builder/variable_rendering/safe_eval_functions.py#L188

Basically, we use double underscore in our AWS tags, so each time we run Checkov, we have these warnings. They are polluting t

[2021-12-10 16:47] JPLachance commented on #2082
@rotemavni, you most likely know why this warning exists. I'm sure there is a good reason for it. Can you help me understand?

[2021-12-10 18:14] gruebel commented on #688
Closing with the reference to @njgibbon comment.

[2021-12-10 18:14] #688 closed

[2021-12-10 18:16] gruebel commented on #698
Fixed with #1248

[2021-12-10 18:16] #698 closed

[2021-12-10 18:24] gruebel commented on #713
Thanks @metahertz for adjusting the documentation! Since no further comments were added I'm closing this, but feel free to open a new issue, if further info are needed.

[2021-12-10 18:24] #713 closed

[2021-12-10 18:26] gruebel commented on #727
Thanks to @mzwennes this now fixed in version `2.0.566` 🎉

[2021-12-10 18:26] #727 closed

[2021-12-11 19:38] njgibbon commented on #876
Hey @gruebel  - This can be definitely be labeled and closed now.

[2021-12-11 20:32] njgibbon commented on #1262
@gruebel - This can be closed as PR resolved issue.

[2021-12-11 20:36] njgibbon commented on #1115
@gruebel  - Another one where related issue and PR's have been closed so this 1 can too.

[2021-12-11 20:36] njgibbon commented on #1109
@gruebel - another one to close.

[2021-12-11 21:38] gruebel commented on #1109
Thanks to @njgibbon it is fixed since version `2.0.418`

[2021-12-11 21:38] #1109 closed

[2021-12-11 21:39] gruebel commented on #1115
thanks to @vangundy-jason-pfg this is possible since version 2.0.484 🚀

[2021-12-11 21:39] #1115 closed

[2021-12-11 21:46] gruebel commented on #1262
thanks to @Xitric it is fixed since version `2.0.473`

[2021-12-11 21:46] #1262 closed

[2021-12-11 22:16] gruebel commented on #1752
If there are still problems with scanning Terraform plan files, feel free to open a new issue with the error message and additional info.

[2021-12-11 22:16] #1752 closed

[2021-12-11 22:23] gruebel commented on #1730
was fixed with #1749

[2021-12-11 22:23] #1730 closed

[2021-12-11 22:25] gruebel commented on #1728
fixed with #1703

[2021-12-11 22:25] #1728 closed

[2021-12-11 22:45] gruebel commented on #1733
fixed with #2088

[2021-12-11 22:45] #1733 closed

[2021-12-12 13:55] gruebel commented on #876
thanks to @njgibbon it is fixed since version `1.0.815` 🚀

[2021-12-12 13:55] #876 closed

[2021-12-12 21:42] #741 closed

[2021-12-12 21:54] #1887 closed

[2021-12-12 21:54] #1903 closed

[2021-12-12 21:55] #2046 closed

[2021-12-12 21:55] #1257 closed

[2021-12-13 11:32] yjhunjhunwala opened #2092 "discrepancy in output obtained from terraform_plan and terraform"
when the azure_checkov.tf file is used the checks CKV2_AZURE_2,CKV2_AZURE_3,CKV2_AZURE_5 are marked as passed

whereas when plan file is created and scan is run the above checks are marked as failed (tf.json)

[New folder.zip](https://github.com/bridgecrewio/checkov/files/7703364/New.folder.zip
![tfoutput](https://user-images.githubusercontent.com/46134069/145804921-b8e47ce2-b126-49b2-b38a-f0018c4

[2021-12-13 11:50] nimrodkor commented on #2092
Thanks for reporting @yashjhunjhunwala !
I believe this is a duplicate of #1469

[2021-12-13 13:21] yjhunjhunwala commented on #2092
@nimrodkor Do we have any plan for fixing this ?

[2021-12-13 13:30] KrasimirNikolovTide opened #2093 "CKV_AWS_192 raises an error when run it with terraform_plan framework flag"
**Describe the bug**
When I run checkov with terraform_plan framework I receive this error:
[code]

**To Reproduce**
You can use this snippet in order to do that:
[code]
1. terraform plan -out test_output
2. terrform show -json test_output | jq '.' > test_output.json
3. checkov --framework=terraform_plan -d .

**Expected behavior**
Failed or Passed not raising python error

**Desktop (please compl