[2020-11-29 11:04] schosterbarak commented on #691
Hi @ismailyenigul good call . there's probably perf improvement we can do there :)
can you share the plan file so I'll have a big sample to run performance analysis on? you can also send in DM via barak@bridgecrew.io or slack.bridgecrew.io

[2020-11-29 13:43] ismailyenigul commented on #691
Sure. Let me obfuscation the tf plan output first.
btw, what about  specifying iac (Kubernetes, terraform) instead of loading and checking all
checkov --iac terraform -f myfile.json
Or how does checkov define and load rules to check?

Thanks

[2020-11-30 12:39] RealArtemiy opened #698 "Add skip-check read config feature"
**Describe the solution you'd like**
`--skip-check` reads some hidden config file with list of ignored checks

file: `.skip.conf`
content: `CKV_AWS_18,CKV_AWS_52`
Run scan: `checkov -d module_name`

It will ignore checks CKV_AWS_18 and CKV_AWS_52

For instance some quick way to run CI tests `for i in $(ls); do checkov -d $i; done`

**Describe alternatives you've considered**
Current skip-checks wa

[2020-11-30 21:49] KevinHock commented on #643
After looking at tf-parliament more, it's 1 158 line file that has 2 uses of the Parliament package from Duo https://github.com/rdkls/tf-parliament/blob/63b46aac90e9edaaed9957ef32dd692edc79bce9/tf-parliament.py#L108-L118 and hasn't really been touched since June, so I think going direct is a better course of action.

[2020-12-01 20:03] ismailyenigul opened #704 "Feature Request: another flag to display failed checks"
**Is your feature request related to a problem? Please describe.**

it seems that  -o github_failed_only only returns failed but with plain text. if I use -o json then I get all checks(failed and success).
**Describe the solution you'd like**

Apart from  json and github_failed_only parameters.  It might be good to have  to  another flag to display failed only reports.  It can be used with json ou

[2020-12-02 09:04] schosterbarak commented on #518
@ampc @secustor thank you for reporting this. this is now fixed.
this was fixed at: https://github.com/bridgecrewio/checkov/pull/705

[2020-12-02 09:04] #518 closed

[2020-12-02 09:06] acidflash opened #707 "Brew upgrade 1.0.649 -> 1.0.657 error"
**Describe the bug**
When i try to brew upgrade
==> Upgrading 1 outdated package:
bridgecrewio/checkov/checkov 1.0.649 -> 1.0.657
==> Upgrading bridgecrewio/checkov/checkov 1.0.649 -> 1.0.657

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'terminal'
2. Run cli command  'brew upgrade'
3. See error

**Expected behavior**
Upgrade of checkov to 1.0.657

**Screenshots**
https://imgur.com/a

[2020-12-02 09:20] nimrodkor commented on #707
Hi @acidflash !

Thanks for reporting. It seems the brew core team decided to update checkov releases every 15 versions. See https://github.com/Homebrew/homebrew-core/pull/65856
To always get the latest please use `pip` or `pipenv`. If you think the rate should be higher - feel free to post an issue on it in their repository.

[2020-12-02 09:21] #707 closed

[2020-12-02 10:05] VimukthiPerera opened #710 "CKV_K8S_31 failure with RuntimeDefault configured"
**Describe the bug**
CKV_K8S_31 failure when the `seccompProfile` type is configured as `RuntimeDefault` which is the new syntax.

**To Reproduce**
1. Define security context as below.
[code]
2. Run checkov for kubernetes.

**Expected behavior**
CKV_K8S_31 to pass with the following configuration.
[code]

**Screenshots**
N/A

**Desktop (please complete the following information):**
 - Kubernetes 1

[2020-12-02 10:49] nimrodkor commented on #710
Good catch!
We'd appreciate a contribution!
Check out https://github.com/bridgecrewio/checkov/blob/e6ba23cbd7b570111bd8ca485371dceeba90d318/checkov/kubernetes/checks/Seccomp.py#L28 for implementation and https://github.com/bridgecrewio/checkov/blob/master/tests/kubernetes/checks/test_Seccomp.py for tests :)

[2020-12-02 11:45] nimrodkor commented on #680
Thanks for reporting @StayPirate !

We'll include a fix for this in the next version of checkov. See the linked PR

[2020-12-02 11:47] #680 closed

[2020-12-02 11:47] #710 closed

[2020-12-02 22:50] TomMD opened #712 "ImagePullPolicy complains about parameterized entries"
**Describe the bug**
Checkov will complain with `ImagePullPolicyAlways` when `imagePullPolicy: "${Foo}"` even if we have `parameters: - name: Foo \n value: Always`.

See [here](https://console.muse.dev/result/TomMD/che-plugin-registry/01ERJPZ7Z9H5B2JMSAM5RWGZ16?type=checkov.kubernetes.checks.ImagePullPolicyAlways) for an example.

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone htt

[2020-12-03 06:11] VimukthiPerera commented on #710
@nimrodkor This needs to be fixed in https://github.com/bridgecrewio/checkov/blob/master/checkov/kubernetes/checks/Seccomp.py#L44:L48 as well for workloads.

[code]

[2020-12-03 19:55] ajchiarello opened #713 "CKV_K8S_40 check failing even when using a high UID"
**Describe the bug**
When scanning my kubernetes YAML, it is failing the check even when the UID is set higher than 1000. It only passes when I set a UID higher than 10000.

**To Reproduce**
Steps to reproduce the behavior:
Scan a YAML where the runAsUser is set to a high UID that is less than 10000.

**Expected behavior**
This check should pass

**Screenshots**
[code]
**Desktop (please complete t

[2020-12-03 22:14] jasonhuling opened #714 "CKV_GIT_1 fails when github_repository visibility is "private""
**Describe the bug**
CKV_GIT_1 fails even though the `visibility` is set to "private".

**To Reproduce**
Steps to reproduce the behavior:
1. Define a github_repository with visibility = "private"
[code]
2. Run checkov

**Expected behavior**
This check should pass.

**Screenshots**
[code]

**Desktop (please complete the following information):**
 - OS: macOS 10.15.7
 - Checkov Version 1.0.645

**Ad

[2020-12-04 02:23] KevinHock commented on #643
Made #716, a draft/PoC, let me know what you think of it :)

[2020-12-07 16:37] VimukthiPerera opened #719 "CKV_K8S_31 failure with RuntimeDefault configured for workloads"
**Describe the bug**
Please see #710

**To Reproduce**
Please see #710

**Expected behavior**
Please see #710

**Additional context**
The bug reported in #710 needs to be fixed for workloads in https://github.com/bridgecrewio/checkov/blob/master/checkov/kubernetes/checks/Seccomp.py#L44:L48 as well.

[code]

**Related PRs**
#711

[2020-12-08 15:18] soufiane444 opened #722 "Feature Request : Add the ability to use only custom check"
I want the ability to use only custom check.
Currently with the  --external-checks-dir options , checkov load also the common the built-in policies

[2020-12-08 20:34] robeden opened #724 "setup.py very out of sync with Pipfile & pinning deps"
**Describe the bug**
`setup.py` pins all its dependencies against [general guidance](https://packaging.python.org/discussions/install-requires-vs-requirements/#install-requires-vs-requirements-files):

Also, it was pinning old versions of many things such as boto3. I hit this when moving a tool to poetry, which had trouble resolving dependencies. When I finally managed to get it to do so, here are

[2020-12-08 20:41] schosterbarak commented on #724
@robeden good catch. do you know of a way to automate the sync between the two?

[2020-12-08 20:45] robeden commented on #724
@schosterbarak - I looked a good bit and I think we could do it with a bit more work than I wanted to put in right this instant. [dephell](https://github.com/dephell/dephell) does conversion and would probably work great if we had a `pyproject.toml` file. I think poetry can manage it a bit better too, though I'm not 100% sure. I think a Github action step similar to the homebrew action would defin

[2020-12-08 20:46] schosterbarak commented on #724
@robeden thank you!

[2020-12-08 22:39] njgibbon commented on #714
Hello :)

Thanks for the report!

I think I can take a look at this.

According to the Provider docs[0] currently 'private' is still supported though it does seem to be deprecated as you've evidenced. So, we just need to adjust the check to also check for 'visibility' is 'private' or 'internal' which would also be acceptable.

I should be able to fix this in the next few days.

[0]: https://www.te

[2020-12-08 23:12] njgibbon commented on #622
Hey - I just re-tested this with the new version and it has worked asexpected! With the varibales being correctly evaluated and the check passing.

This issue can now be closed. Great work @robeden

[2020-12-08 23:13] #622 closed

[2020-12-09 13:36] pritho opened #727 "False positive on CKV_GCP_14 - Requires backup configuration enabled on read replica"
**Describe the bug**
CKV_GCP_14 requires a backup configuration, but it does not take into consideration read replicas.
A read replica cannot have backup enabled in GCP.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a google_sql_database_instance with master_instance_name and replica_configuration
2. Chekov will pop up error CKV_GCP_14

**Expected behavior**
Read replicas should not

[2020-12-09 15:44] JeanFred commented on #115
Not sure whether this is a common use case, but in my case the repository layout is so that the common parent also contains a bunch of directories that I do not want to scan (either because they would raise false positives, or are irrelevant and just slow down the execution to a crawl).

In my case for example the repo looks like as follows:
[code]

I would then want to execute `checkov -d ./layer

[2020-12-10 20:44] schosterbarak commented on #714
@jasonhuling thank you for reporting this.
Thanks to @njgibbon  this is now resolved

[2020-12-10 20:44] #714 closed

[2020-12-12 18:45] njgibbon commented on #656
Hello,

Thanks for the report.

In this case it does appear that this check is actually implemented correctly.

On checkov `1.0.615` variable evaulation was not working as you may expect. This was released a few weeks ago with checkov `1.0.634` I think. So, you will have received a false negative due to the variable evaluation, not the check.

If you set `oms_agent.enabled` to `true` explicitly th

[2020-12-13 12:13] njgibbon commented on #494
Hello :-)

Thank you so much for the report. Proved very useful feedback.

@mlushpenko  - we have fixed the problem you identified and I have just re-tested to confirm that now your S3 check pass / fail in the right circumstances. Update checkov to >= `1.0.668`.

@nomeelnoj  - Checkov has improved variable evaluation recently and so could you please re-test. Because of the module input override of

[2020-12-13 20:49] angatha commented on #698
Hi @RealArtemiy I worked on #555 wich may implement the requested feature. It allows you to specify some cli arguments (including --skip-check) in a configuration file.

[2020-12-13 20:51] angatha commented on #698
Also this may be a subset of #560

[2020-12-14 08:31] #724 closed

[2020-12-14 10:26] mlushpenko commented on #494
Thank you @njgibbon, I've checked and it works well, appreciate!

[2020-12-14 10:26] #494 closed

[2020-12-14 17:56] robeden commented on #688
One slightly related thing: locking from python 3.9 doesn't work right now due to this error when running tests: `ModuleNotFoundError: No module named 'importlib_metadata'. Not sure if updating to python 3.8 would fix it or not, but it would probably at least be a step in the right direction.

[2020-12-15 14:18] nickgibbon-nationwide commented on #586
I think that this issue along with https://github.com/bridgecrewio/checkov/issues/139 can now be closed.

[2020-12-15 14:21] schosterbarak commented on #586
Thanks @nickgibbon-nationwide

[2020-12-15 14:22] #586 closed

[2020-12-15 14:32] njgibbon commented on #139
@schosterbarak Hey, actually. This issue should stay open to cover the Terraform side. Above merge has implemented the Aurora enc at rest check for CF.

Here we need to make sure RDS and Aurora have the same checks in Terraform.

[2020-12-15 14:33] njgibbon commented on #586
I think that this issue along with #139 can now be closed.

EDIT: diff account aha

[2020-12-15 19:24] tohch4 opened #735 "Output Results in SARIF Format"
**Is your feature request related to a problem? Please describe.**
It would be great, given [Github](https://docs.github.com/en/free-pro-team@latest/github/finding-security-vulnerabilities-and-errors-in-your-code/sarif-support-for-code-scanning) and [potential Gitlab integration](https://gitlab.com/gitlab-org/gitlab/-/issues/118496) amongst other tools, it would be great if, aside `checkov`'s JSON

[2020-12-17 07:03] christophetd commented on #722
This is definitely needed! It could also be implemented using a CLI argument `--skip-check-pattern` which could be used as follows:

[code]

[2020-12-17 07:17] christophetd commented on #155
One way to implement it would be to expose a function to custom checks allowing to retrieve resources of a specific type, e.g.

[code]

[2020-12-17 16:44] libertyy commented on #722
Hi! This ticket is already filed at
https://github.com/bridgecrewio/checkov/issues/563

[2020-12-17 16:44] libertyy commented on #722
TBH, I've been waiting to see how https://github.com/bridgecrewio/checkov/issues/560 shakes out before iterating on my own issue/P.R.

[2020-12-18 08:44] geertn commented on #386
I'm building my Storage Account names like this
[code]

With https://github.com/bridgecrewio/checkov/pull/429 merged I now get a Check failure on the SA name:

[code]

[2020-12-18 13:37] robeden commented on #386
@geertn - Would you mind opening a new bug with your report? It will help raise it for visibility. Thanks!

[2020-12-18 14:34] njgibbon commented on #146
https://github.com/bridgecrewio/checkov/pull/736

This should close this issue.

[2020-12-18 22:27] KevinHock opened #738 "Create a tunable "too open ingress" rule / Community rules collections"
I want e.g. the [SecurityGroupUnrestrictedIngress22](https://github.com/bridgecrewio/checkov/blob/master/checkov/terraform/checks/resource/aws/SecurityGroupUnrestrictedIngress22.py) check, but on any port, and I want to pass in as an argument a list of CIDRs that I think are too open, aside from just 0.0.0.0/0.

(I can imagine folks wanting a "no bigger than /N" rule too, where N could be e.g. a /

[2020-12-18 22:33] KevinHock commented on #738
Here is some sample code, you could also make it tunable for egress.

[code]

[2020-12-18 23:41] jwcmd opened #739 "ImportError: cannot import name util"
**Describe the bug**
Following the installation instructions does not succeed on Debian Stable (buster).

**To Reproduce**
Steps to reproduce the behavior:
1. Run cli command 'pip install checkov'

[code]

**Expected behavior**
The installation instructions should work on Debian Stable.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the fo

[2020-12-19 00:55] KevinHock commented on #739
Nice cookie @jwcmd 🍪

[2020-12-19 23:52] jwcmd commented on #739
It's a cinnamon-bun Oreo! Would recommend lol

[2020-12-20 07:48] #146 closed

[2020-12-20 08:09] schosterbarak commented on #739
@jwcmd can you try with pip3? and share the pip version

[2020-12-20 20:00] schosterbarak commented on #738
might be easier to implement TOO_OPEN_CIDRS as an environment variable.

@KevinHock  it seems that you have a lot of good usecases for "custom" checks. maybe we should create a sister repo to checkov with some of those advanced checks? another option is to have it as a directory within checkov, under `/docs` as set of examples of custom checks?

cc: @robeden @metahertz WDYT?

[2020-12-20 22:24] robeden commented on #738
What about something like this?...

First step would be to allow for overriding a method on the check so a custom check could be written to validate a range. Something like:

[code]
(Haven’t looked, but I’m assuming the data is strings right now.)

Then I could definitely see a need for customize the behavior of certain checks. We might want to make a somewhat predicable scheme for doing so. Maybe

[2020-12-21 09:42] geertn opened #741 "False positive for CKV_AZURE_43: check storage account name"
I'm building my Storage Account names like this
[code]

With https://github.com/bridgecrewio/checkov/pull/429 merged I now get a Check failure on the SA name:

[code]

[2020-12-21 15:06] jeromepin commented on #621
Hi @nimrodkor

Do you have any update on this issue ?

[2020-12-21 15:45] nimrodkor commented on #621
Hi @jeromepin , sorry for not getting back to you!
We've dramatically improved our scanning of modules over the past month, but now I realize that doesn't directly relate to your issue.
I do think returning UNKNOWN is the way to go in this case, instead of `SKIPPED`

[2020-12-21 15:49] jeromepin commented on #621
Don't worry, it wasn't a big deal, I used a workaround for the meantime.
Ok, I'll go with `UNKNOWN` then. Thank you very much !

[2020-12-21 15:49] #621 closed

[2020-12-21 20:10] KevinHock commented on #738
I like the idea of extra opt-in checks too, maybe enabled via an args.flag, like Parliament https://github.com/duo-labs/parliament/tree/main/parliament/community_auditors

I kind of lean into keeping these in the `checkov` repo, but disabled by default, because tests need to be written for the custom checks, and the test might become out-of-sync later rather than sooner, if the custom checks are i

[2020-12-22 07:16] KevinHock opened #743 "checkov silently returns [] when an `--external-checks-dir` doesn't have an init file"
**Describe the bug**
When I use `--external-checks-dir` with a directory without an `__init__.py`, all `checkov` does is output `[]` when doing --output json.

**Expected behavior**
Yell at me for giving a directory without any `__init__.py` file in it.

[2020-12-22 07:30] schosterbarak commented on #743
Nice catch. I think that we can even make checkov add this file for you. Wdyt?

[2020-12-22 07:44] KevinHock commented on #743
Sounds great to me, thanks @schosterbarak

[2020-12-22 12:53] robeden commented on #743
I don’t think the init file is needed. Do we care about it?

[2020-12-22 12:55] schosterbarak commented on #743
I am not sure. the ability to load external dir of checks was originally contributed by @jeromepin.
any ideas around it?

[2020-12-22 13:01] robeden commented on #743
I can test it pretty easily, but it walks files and loads non-init files directly. Pretty sure that check could be omitted. (We hit some of that while testing sub-dots in slack a couple days ago.)

[2020-12-22 13:45] schosterbarak commented on #743
Cool!

[2020-12-22 14:32] byarbrough opened #744 "Bad rule w/ Cloudwatch Log Encryption"
**Describe the bug**
Rule CKV_AWS_97 "Ensure CloudWatch logs are encrypted at rest using KMS CMKs" is bad. It is misleading, presents false positives, and needlessly leads to increased complexity.

**To Reproduce**
Upgrade from a previous version to >= 1.0.675 (I was previously using 1.0.660)

**Expected behavior**
When I got a new failure on a `aws_cloudwatch_log_group` resource for not having KM

[2020-12-22 19:37] KevinHock commented on #743
Side Q: should all returns of `[]` be a bug? It'd kind of be nice to get the same dictionary format, regardless of what you're scanning, even if the dict says 0 findings.

[2020-12-22 21:29] robeden commented on #738
Related to this: I've been going through our old tool and moving stuff over to Checkov, and suddenly I have quite a few candidates for the kind of checks we're talking about: where they might not be security per-se and might not be desired by everyone, but are definitely useful. Some random examples:

- RDS: allow minor version upgrades
- RDS: deny major version upgrade
- RDS: copy tags to snapsho

[2020-12-23 14:46] christophetd opened #747 "False positive for check 'MSKClusterEncryption' (CKV_AWS_81)"
**Describe the bug**
CKV_AWS_81 is reporting MSK clusters as unencrypted at rest while they are encrypted at rest.

**To Reproduce**
Example Terraform code producing a cluster with encryption (it will use the default KMS key as documented in https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/msk_cluster#encryption_at_rest_kms_key_arn)

(slightly adapted from example on the

[2020-12-23 14:58] christophetd commented on #747
I checked and confirm that not specifying the `encryption_at_rest_kms_key_arn` parameter produces the following plan showing encryption at rest will be enabled:

![image](https://user-images.githubusercontent.com/136675/103009793-988fa280-4537-11eb-9c4e-b1b298601a9a.png)

Will be sending out a PR

[2020-12-23 17:54] #747 closed

[2020-12-24 11:47] soufiane444 commented on #722
I created the pul request : https://github.com/bridgecrewio/checkov/pull/749

[2020-12-27 15:40] njgibbon commented on #139
This can be closed now. Aurora and RDS encryption checks are there for terraform and cloudformation.

[2020-12-27 15:42] schosterbarak commented on #139
Thanks @njgibbon

[2020-12-27 15:42] #139 closed

[2020-12-28 07:42] schosterbarak commented on #743
@KevinHock what should be the returned value?

[2020-12-28 11:08] schosterbarak commented on #744
adding @mikeurbanski1

[2020-12-28 15:29] #535 closed

[2020-12-28 15:45] schosterbarak commented on #149
solved thanks to @njgibbon at https://github.com/bridgecrewio/checkov/pull/751/files

[2020-12-28 15:45] #149 closed

[2020-12-28 16:36] njgibbon opened #753 "AWS Security Hub Integration"
**Description**
AWS Security Hub recently announced an integration with kube-bench. I think it would be a cool thing for the future for checkov to easily support this. This is just an idea. I have not looked at any of the technical details yet.

Kube-bench integration announcement: https://aws.amazon.com/about-aws/whats-new/2020/12/aws-security-hub-adds-open-source-tool-integration-with-kube-bench

[2020-12-29 10:24] christophetd opened #754 "False positive for CKV_AWS_46: "Ensure no hard coded AWS access key and secret key exists in EC2 user data" 1"
The [`string_has_secrets`](https://github.com/bridgecrewio/checkov/blob/master/checkov/common/util/secrets.py) function returns `True` when passed any SHA1 hash. This is problematic because with Terraform resources similar to:

[code]

The plan is generated using the hash of the user data, e.g.:

[code]

... which `string_has_secrets` considers as a secret. My suggest would be to have the function

[2020-12-29 20:42] KevinHock commented on #743
I would think a dictionary with e.g. failed_checks 0, skipped_checks 0, etc.

[2021-01-03 07:20] niravgshah28 opened #759 "Checkov test in Restricted Environment"
**Describe the bug**
Post installation and downloading all libraries and successful installation checkoff with api skip does run the test on terraform templates

**To Reproduce**
Steps to reproduce the behavior:
1. Go to linux shell
2. Run cli command checkov -f ***** -s  or even it doesn't not render policies checkov -l
3. See error

It should either display policies or should test the test terra

[2021-01-04 18:44] robeden opened #761 "Allow for checks which are not enabled by default"
**Is your feature request related to a problem? Please describe.**
From a conversation in #738, Checkov currently has checks that are obvious security problems and generally should be enabled. However, there is quite a bit we could do which gets more fuzzy. For example with RDS: "allow minor version upgrades" or "deny major version upgrade". If we solve this problem, it would also allow for a "bak

[2021-01-05 15:23] JPLachance opened #762 "Add the support for the Kubernetes Terraform provider"
Greetings!

Checkov does a great job with Kubernetes manifest files. Could Checkov do that same job for Kubernetes Terraform resources?

There is a [Kubernetes Terraform provider](https://registry.terraform.io/providers/hashicorp/kubernetes/latest/docs) that allows us to manage Kubernetes resources.

- [kubernetes_deployment](https://registry.terraform.io/providers/hashicorp/kubernetes/latest/docs

[2021-01-05 15:41] schosterbarak commented on #762
Great one. do you know if the provider and the k8 manifests keep the same structure?

[2021-01-05 16:10] JPLachance commented on #762
Hello!

They do keep the same structure, but the "casing" is changing. Here is an example:
[code]

As we can see, the structure is the same, but it's HCL, not a YAML.

Is there a way to load the HCL code, convert it to YAML then use existing Kubernetes checks that were built for YAML files?

I've no idea if this is all possible.

[2021-01-05 20:45] mikeurbanski1 commented on #744
Hi @byarbrough , thanks for your feedback. We're going to revert this.

[2021-01-05 20:53] schosterbarak commented on #744
thanks for reverting it @mikeurbanski1

[2021-01-05 20:53] #744 closed

[2021-01-05 21:00] robeden opened #764 "Support merge function"
The `merge` function should be supported by the Terraform parser. Here's an example usage:
[code]

[2021-01-05 21:00] robeden commented on #764
I'm on it.

[2021-01-05 21:45] DrFaust92 commented on #762
I can take a crack at this, ive contribributed some code to the provider. its not one to one as k8s yaml so i wouldn't hurry to say reuse would be so easy as some arguement may be missing or structure is may not be 1 to 1.

[2021-01-05 21:48] schosterbarak commented on #762
Thank you @DrFaust92 . That would be highly appreciated. Would love your help there!

[2021-01-06 11:37] VimukthiPerera commented on #656
@njgibbon This does not work with the following configuration for Checkov version 1.0.690

[code]

[2021-01-06 16:31] njgibbon commented on #656
@VimukthiPerera  - Heya.

That is expected right?

If `addon_profile.oms_agent.enabled == false` then the check will fail as expected because logging is not enabled.

[2021-01-06 19:13] jasoncastonguay commented on #741
I am also now getting what I believe are similar false positives for CKV_AZURE_43.

[code]

The local is defined with
[code]

Another is:
[code]

[2021-01-07 04:30] VimukthiPerera commented on #656
Oh! Sorry. My mistake. This is working as expected.

[2021-01-07 06:08] sc-steven commented on #661
+1 to only running against files that have changed. It currently takes 8 minutes for Checkov to run against one of our repo's with only a single tf file updated.

[2021-01-07 19:28] libertyy commented on #661
Hi @OtherDevOpsGene and @sc-steven ! I believe the maintainers are using a separate related repo,
https://github.com/bridgecrewio/checkov-action

for improvements/issues on the GitHub action.

[2021-01-07 19:35] OtherDevOpsGene commented on #661
@libertyy This issue and my comments are regarding the pre-commit hook, not the GitHub action. I'm not clear on what the connection is.

[2021-01-07 19:44] libertyy commented on #661
@OtherDevOpsGene Sorry, mis-read! Fair.

[2021-01-07 20:41] schosterbarak commented on #661
hi @OtherDevOpsGene, sounds usefull :)
we will accept a PR on that topic. would you like to?

[2021-01-07 21:22] njgibbon commented on #656
@VimukthiPerera  Ok great! Thanks for feeding back, Just raise an issue if anything else comes up.

The bridgecrew documentation has been changed to reflect the correct usage. Merged by Jo Gore.

This issue can now be closed (: @schosterbarak

[2021-01-07 21:24] schosterbarak commented on #656
Thanks @njgibbon

[2021-01-07 21:24] #656 closed

[2021-01-07 22:13] robeden commented on #155
Flow log request ticket: #154

[2021-01-07 22:15] #754 closed

[2021-01-07 22:22] robeden commented on #155
It would be great if we could pass an addition argument in to the `scan_*` functions which would provide access to other parts of the model. That would prevent setting "global" state in the check itself and allow for future possibilities such as async scans (not that this is an imminent thing, but good to allow for it). I think this would be the cleanest and most intuitive place to put an accessor

[2021-01-08 12:28] ismailyenigul opened #772 "Feature request: report full module name if module instead of just the resource name"
**Describe the solution you'd like**
It  would be cool  to see the full module name if module instead of just the resource name

[2021-01-08 15:28] robeden commented on #772
@ismailyenigul - Would you mind posting a snippet of where you're looking in the report so I can verify we're looking at the same thing?

[2021-01-08 15:59] ismailyenigul commented on #772
Hi @robeden
Thanks for prompt reply.
code:
[code]

check result:

[code]

it would be
`FAILED for resource:  module.my_sg.aws_security_group_rule.ingress_with_cidr_blocks`

[2021-01-08 16:33] robeden commented on #772
Perfect. Thanks, @ismailyenigul

[2021-01-08 17:38] robeden opened #773 "Terraform "filesystem" function handling"
Following #771, there are a batch of filesystem-related operations that I would like to handle. They are:

- [abspath](https://www.terraform.io/docs/configuration/functions/abspath.html)
- [dirname](https://www.terraform.io/docs/configuration/functions/dirname.html)
- [pathexpand](https://www.terraform.io/docs/configuration/functions/pathexpand.html)
- [basename](https://www.terraform.io/docs/conf

[2021-01-09 21:43] KevinHock commented on #643
One problem with this, is that for suppression comments, the 1 comment (check id) will map to N types of parliament findings. And so, just because you suppress version 1 of an IAM policy, version 2 might have totally different findings from Parliament.

We could dynamically create a check class, for every single kind of Parliament findings, but IIRC the Parliament codebase is not set up for this I

[2021-01-09 21:44] KevinHock commented on #643
I typod (cc @christophetd)

[2021-01-09 21:52] KevinHock commented on #530
Update: I made https://github.com/bridgecrewio/checkov/pull/774

[2021-01-11 06:35] ArneRiemann4711 opened #776 "Dynamic block for Terraform AWS ALB access_logs"
**Describe the bug**
When using dynamic blocks to enable access_logs for AWS ALB checkov is marking
the check CKV_AWS_91 as failed.

**To Reproduce**
Steps to reproduce the behavior:
1.  Surround access_log bock with "dynamic"
2. Run checkov
3. Test for CKV_AWS_91 will fail

**Expected behavior**
Test for CKV_AWS_91 will pass

**Desktop (please complete the following information):**
 - OS: MacOs B

[2021-01-11 06:36] schosterbarak commented on #776
@tronxd had an idea on how to solve a similar issue. @tronxd @nimrodkor let's talk somewhere this week. Maybe I can take this one.

[2021-01-11 13:08] ismailyenigul opened #777 "Feature request: Support checkov:skip in modules"
**Describe the solution you'd like**
The current skip only works with terraform `resources`. I would like to be able to skip checks for modules. If I add  a skip comment into  terraform `module(s)`, then the checks should be skipped for all resources under that module.

Thanks

[2021-01-11 14:09] peddyspg opened #778 "Checkov return empty result"
**Describe the bug**
checkov checks his own version an terminates unexpectly.
[code]

**To Reproduce**
2020-01-11_15:01 CET:
[code]

[code]

**Desktop (please complete the following information):**
 - OS: mac os x catalina

[2021-01-11 14:23] schosterbarak commented on #778
hi @peddyspg can you share the error?

[2021-01-11 15:01] metahertz commented on #777
Hey @ismailyenigul

Is this basically "Ignore this module", or looking to skip specific checks only across a module by adding a list of checks to skip once in the module definition?

[2021-01-11 15:18] ismailyenigul commented on #777
Hi @metahertz
The latter option. Don't check specific X,Y,Z checks for  this module resources.
something like the following:

[code]

[2021-01-11 15:35] peddyspg commented on #778
There was no error msg or something like that.
What happens, after I started checkov, i got a message to update, after that I got the shell-prompt back.
Here what I have on my terminal:
[code]

[2021-01-11 15:39] schosterbarak commented on #778
Can you share the main.tf file?
Or turn on log level to debug and share the file?

[2021-01-11 15:46] peddyspg commented on #778
Here it is, very simple:
[code]
and vpn.tf:
[code]

[2021-01-11 16:13] peddyspg commented on #778
Maybe you noticed, that the checkov versions in pip and brew differ?
Why is the reason for that?

[2021-01-11 20:16] schosterbarak commented on #778
@peddyspg brew is updating checkov version on a scheduled basis every few days. it will take it a while to sync

[2021-01-11 20:16] schosterbarak commented on #778
@peddyspg what happens when you use checkov to scan the private modules directly?

[2021-01-12 08:36] peddyspg commented on #778
@schosterbarak : ok, are we talking now about two issue?
1) Update-Checks, which are a bit out of sync
2) unexpectly stopping the scan-prozesss

[2021-01-12 08:36] peddyspg commented on #778
@schosterbarak : it also stops, after checking checkov version.

[2021-01-12 12:07] ngocketit commented on #776
Looks like Checkov doesn't work at all with dynamic bocks, not just the one in this example. Could someone please confirm?

[2021-01-12 12:56] #764 closed

[2021-01-12 13:07] schosterbarak commented on #776
@ngocketit yes, you are correct. the current workaround would be to use checkov plan analysis (See guide [here](https://www.checkov.io/2.Concepts/Evaluate%20Terraform%20Plan.html))

I do plan to start working on that feature soon to enable dynamic blocks across the board.

[2021-01-12 15:34] maximmi opened #781 "Parsing error when using terraform `null` provider"
**Describe the bug**
Parsing fails when processing terraform `required_providers` with `null` provider.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a `versions.tf` file in your module with `null` provider:
[code]
2. Run `checkov` in docker: `docker run -t -e LOG_LEVEL=DEBUG -v $(pwd):/tf bridgecrew/checkov:latest -d /tf`
3. See error
[code]

**Expected behavior**
No parsing errors

[2021-01-12 15:35] schosterbarak commented on #781
looks like an upstream issue in https://github.com/amplify-education/python-hcl2.
@arielkru have an idea how to solve this one?

[2021-01-12 22:09] #781 closed

[2021-01-13 19:13] schosterbarak commented on #362
done for cfn https://github.com/bridgecrewio/checkov/pull/784

[2021-01-13 19:13] #362 closed

[2021-01-14 08:05] ArneRiemann4711 commented on #776
Thanks, we are using the GitHub action to run Checkov - looks like this is not a workaround for us (;

[2021-01-14 12:21] JoonatanNguyen commented on #741
I have the same issue that the storage account name is correct with the rule but it still shows the error that it's failed.
However, when I run the step in CI pipeline, it showed a failed error but the step is still passed like the picture given bellow. Is this a bug or not, can you confirm this?
![image](https://user-images.githubusercontent.com/36813718/104590270-c322d600-5673-11eb-8824-a3fb1476

[2021-01-18 08:49] tantweiler commented on #559
Hello!

We have exactly the same use case and would be more than happy if the violated policy IDs would be visible in the junit reports.

Thank you!

[2021-01-18 08:54] schosterbarak commented on #559
Hi @tantweiler @jglapa can you supply a mock of the suggestion?

[2021-01-18 09:03] TheMacStack opened #790 "CKV_GCP_33 reports a false positive `true` vs `"TRUE"`"
Bug/False Positive:
CKV_GCP_33 reports a false positive depending on the syntax used in the metadata block specifically `true` vs `"TRUE"`

Steps to reproduce the behavior:
[code]
or
[code]

Expected behavior:
The above examples should be valid and not flagged as failed for Check: `CKV_GCP_33: "Ensure oslogin is enabled for a Project"`

 - Checkov Version [1.0.702]

[2021-01-18 09:22] schosterbarak commented on #790
@arielkru is that something that can be handled at hcl2 parser?

[2021-01-18 09:22] tantweiler commented on #559
Hi @schosterbarak! Just an example --> It would be ok for me if I could see the ID (e.g. CKV_AZURE_6) in the suite column:

![image](https://user-images.githubusercontent.com/48676838/104896142-07b1b880-5977-11eb-8f22-e8d7749fc4ee.png)

[2021-01-18 09:23] schosterbarak commented on #559
as concatenated value?

Btw what system is the screenshot from?

[2021-01-18 09:26] tantweiler commented on #559
Hi @schosterbarak,

That is GitLab! Concatenated value should work I would say.

[2021-01-18 09:28] TheMacStack commented on #623
This check is a bit confusing there either needs to be clarification between Google Managed vs Customer Managed keys (eg IF Google managed is not considered to be "Good Enough" then flag it else not)

[2021-01-18 09:29] schosterbarak commented on #559
I think that be done by adding modifying the following line:
https://github.com/bridgecrewio/checkov/blob/feea72d817db0f0a1fbb9689164858f356325213/checkov/common/output/report.py#L117
to have `record.check_id` concatenated as string.

I haven't done the testing, if you want to give it a try - we would accept a PR there.

[2021-01-18 09:31] schosterbarak commented on #623
@mikeurbanski1 @JamesWoolfenden can you chime in? WDYT?

[2021-01-18 11:00] codepay4999 commented on #777
this is very useful. We are using third party modules and this will be helpful for us.

At the moment, checkov will be helpful since it is flagging third party modules which we have no control over it

[2021-01-18 11:06] schosterbarak commented on #790
@TheMacStack should `"TRUE"` always be evaluated like `true`? from the [HCL specification](https://www.terraform.io/docs/configuration/expressions/types.html#type-conversion) looks like capital letters "TRUE" is not necessarily a boolean value.

[2021-01-18 14:33] TheMacStack commented on #790
No, typically not, but in this particular field it is a set of key/value pairs as plain text, not terraform params that expect a true boolean value.

So in general `true` != `"TRUE"` but for this metadata block `"TRUE"` is a valid value

[2021-01-18 15:20] schosterbarak commented on #790
@TheMacStack  I've just applied a fix to checkov latest version. Can you confirm it's working?

[2021-01-18 16:16] #790 closed

[2021-01-18 16:17] maximmi opened #793 "Checkov doesn't evaluate simple ternary operation"
**Describe the bug**
The conditional syntax (like ternary operation) is not evaluated by checkov at the moment, leading to force skipping checks.

**To Reproduce**
Steps to reproduce the behavior:
1. Define a resource and variable like this:
[code]
2. Run `checkov` in docker: `docker run -t -v $(pwd):/tf bridgecrew/checkov:latest -d /tf`

3. See error:
[code]

**Expected behavior**
`Checkov` evalu

[2021-01-18 16:34] TheMacStack commented on #790
Tested and confirm it now works as expected.

Many thanks for the rapid response time.

[2021-01-18 16:35] schosterbarak commented on #790
sweet. thanks for reporting on it @TheMacStack

[2021-01-20 21:13] ismailyenigul opened #799 "Check: CKV_AWS_26: "Ensure all data stored in the SNS topic is encrypted" fails for terraform plan if kms_master_key_id is reference"
**Describe the bug**
Scanning of terraform plan with checkov fails with the following code

[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

But it works if I scan tf files.

[code]
So something is wrong with terraform plan parsing in checkov

**Desktop (please complete the following information):**
 - OS:  MacOS
 - Checkov Version 1.0.711

[2021-01-20 21:38] ismailyenigul opened #800 "Check: CKV_AWS_35: "Ensure CloudTrail logs are encrypted at rest using KMS CMKs" for terraform plan if kms_key_id is a reference to kms resource"
**Describe the bug**
I used this example https://github.com/cloudposse/terraform-aws-cloudtrail/tree/master/examples/complete to test cloudtrail kms encryption check.
Experiencing same issue reported at #799  scanning terraform files is working fine. It reports SUCCESS for KMS CMKs check.
but terraform plan scanning fails

[code]

**Desktop (please complete the following information):**
 - OS:  Ma

[2021-01-21 05:55] ismailyenigul opened #802 "ERROR:checkov.terraform.checks.resource.aws.IAMPolicyAttachedToGroupOrRoles:Failed to run check for terraform plan"
**Describe the bug**

Testing cloudtrail audit with the code at https://github.com/trussworks/terraform-aws-cloudtrail/blob/v4.2.0/examples/simple/main.tf (terraform 0.13)
scanning tf files works fine as expected.
but fails to parse terraform plan of the same code.

**To Reproduce**
Steps to reproduce the behavior:
1. download code https://github.com/trussworks/terraform-aws-cloudtrail/releases/ta

[2021-01-21 10:24] schosterbarak commented on #802
Thank you for fixing this one @ismailyenigul

[2021-01-21 10:24] #802 closed

[2021-01-21 17:18] robeden commented on #793
Thanks, @maximmi ... I'll see about adding that to the parser.

[2021-01-21 22:19] marcoferrer opened #807 "Checkov fails to parse tf.json sources and returns an error to the console"
**Describe the bug**
When executing checkov against a directory with `tf.json` sources, an error is produced with the following message
[code]
The contents of `cdk.tf.json` are as follows
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new directory
2. Within this directory, create a new file with the suffix `.tf.json`
3. Populate the file with the json example from above or

[2021-01-21 22:47] robeden commented on #807
I'm looking at this...

[2021-01-21 23:37] robeden commented on #807
I'm not 100% sure everything will work perfectly as that json data looks different than I would expect, but the above PR at least works around the first error.

[2021-01-21 23:43] marcoferrer commented on #807
The json is output from the official terraform-cdk tool. Is there something specifically that seems off with it? I can try to relay the concerns. Also as a side note, this example ommits the metadata generated by the tool which follows the `tf.json` spec. Here is the output in its original state which also fails to parse in checkov.

[code]

[2021-01-22 00:42] robeden commented on #807
In surprised some values aren’t contained in arrays. But, I doubt there’s anything wrong with the tool. I expect more that how the data is represented can be flexible. I didn’t mean by the statement that you need to do anything other than know that there might be some follow-up issues. Handling of TF in .json files is new and the path is not yet well trodden.

[2021-01-22 01:37] marcoferrer commented on #807
Oh ok, I understand. Thanks again for the help. Yeah, I'm currently working my way through testing out our workflows but through json instead of HCl. I sure there will be some hiccups along the way so I'll do my best to bring up any issues I might run into.

[2021-01-24 01:42] avishnyakov opened #813 "Document "__resolved__" OR promote "scanned_file" to the actual module/resource check"
**Is your feature request related to a problem? Please describe.**
All this is describe in a context of Terraform resource/module check but probably could also be useful for other cases.

Currently, it does not seem to be possible to get the actual file path or the module being scanned. Based on the source code, it seems that base check has access to scanned_file variable, but passes only a hash o

[2021-01-24 13:08] schosterbarak commented on #813
@avishnyakov you did go deep into the internal parts of the code and did an amazing mapping of valid options. @nimrodkor is in PTO for a few weeks. I would like to consult with him before choosing a path. I'll consult with him and will let you know. Would you be open to working on it together on a joined pull request?

[2021-01-26 03:57] robeden opened #816 "TF parser: support partial line resolution"
Kind of a bug, kind of a feature request...

Right now the TF parser won't pull out a var block (from `_find_var_blocks`) when it has unevaluated pieces inside it. For example: `${merge(local.common_tags,{'Name': 'my-bucket-${var.ENV}'})}` will not resolve while `${var.ENV}` is unresolved.

The problem comes up with this test case:
[code]

Because `var.ENV` won't resolve, nothing resolves, which t

[2021-01-26 03:59] robeden commented on #816
I'm working on it...

[2021-01-26 16:08] JamesWoolfenden commented on #623
@schosterbarak having a look at this now

[2021-01-26 16:57] JamesWoolfenden commented on #623
I think the original intention was to ensure that any encryption was set, and as its now default its should be retired @schosterbarak @mikeurbanski1

[2021-01-26 17:02] JamesWoolfenden commented on #190
Still not exposed in TF.

[2021-01-26 20:46] Spencer0 opened #818 "Multiple skip checks in string now throws exception"
This same command worked fine yesterday.
Today
![image](https://user-images.githubusercontent.com/38340800/105902929-1f6ee980-5fd4-11eb-8144-7cb1a608372b.png)

Yesterday
![image](https://user-images.githubusercontent.com/38340800/105903165-68bf3900-5fd4-11eb-9632-783409451dd9.png)

Docker image context (pipeline file)
[code]

I could of missed what the new syntax *should* be.  Any workarounds woul

[2021-01-26 20:47] Spencer0 commented on #818
https://github.com/bridgecrewio/checkov/commit/8bf93948e6a6f2b4b07473a30a11b039e8fa6752

Likely this commit but 🤷

[2021-01-26 20:48] schosterbarak commented on #818
@mikeurbanski1 can you take a look?

[2021-01-26 21:09] #818 closed

[2021-01-26 21:09] mikeurbanski1 commented on #818
It's not multiple skip checks, it has to do with CFN tags - likely either a conditional tag block like this:

[code]

Or something like an EKS::Nodegroup with tags like this:

[code]

It's fixed here: https://github.com/bridgecrewio/checkov/pull/819

Thanks for reporting it.

[2021-01-26 21:44] Spencer0 commented on #818
Build is back online 🧙‍♂️. Thanks for the quick response team! Cheers!

[2021-01-27 09:30] metahertz commented on #759
Hi @niravgshah28

Thanks for reporting an issue, are you saying it does run the test or does not? `-s` is for soft fail, if you want no API-connections, try `checkov -f <file> --no-guide`, similarly, can you try `checkov --list --no-guide`

Thanks,
Matt

[2021-01-27 10:23] schosterbarak opened #821 "add intergration tests on multiple supressions via cli"
validate that something like
```pipenv run checkov -s  --skip-check CKV_AWS_33,CKV_AWS_41 -d terragoat/terraform/``` works

[2021-01-27 16:05] robeden opened #822 "Unbalanced eval brackets causes TF parser loop"
**Describe the bug**
From this ([link 1](https://codifiedsecurity.slack.com/archives/CSMKB8XPH/p1611741949003000), [link 2](https://codifiedsecurity.slack.com/archives/CSMKB8XPH/p1611743126004100)) slack conversation, a malformed eval statement with mismatched brackets can cause a loop in the TF parser. Example statement (note missing closing bracket):
[code]

It is currently unknown if it is an i

[2021-01-27 16:06] robeden commented on #822
I'm looking into this...

[2021-01-27 16:16] robeden commented on #822
@schosterbarak - Looks like the loop is in the hcl2 parser. It never returns from the `hcl2.load(f)` call.

[2021-01-27 16:22] robeden commented on #822
I've put a test case here ☝️ . The problem is in the `python-hcl2` library (or at least the BC fork of it), so we'll need some fix there.

[2021-01-27 20:38] gregdurham opened #824 "Checkov does not handle multi yaml documents where a document may not be a dict"
**Describe the bug**
When parsing multi yaml documents with the kubernetes parser, it appears that documents not containing maps cause the entire file to be exited (with return 0) rather than those documents being skipped or an error being risen.

This makes it so that the end user/ci system has no idea that checkov was unable to process the impacted file.

**To Reproduce**
[code]

When using helm

[2021-01-27 21:00] gregdurham commented on #824
A workaround is instead of using stdout for `helm template` is to pass the `--output-dir` flag which will apparently not write empty files

[2021-01-27 22:36] avishnyakov commented on #813
@schosterbarak sure, let me know what I can do.

Found several other little things while researching options. Essentially, here our case is based on TerraGrunt/TerraTest layout and approach:
* we have a mono-repo for Terraform modules
* each module has "examples" folder (a set of TerraTest tests, each module is run with some random params and variations)
* then, here is another repository where th

[2021-01-29 03:09] KevinHock commented on #530
Hmm, I thought this would have fixed it, after some head scratching testing `from contextlib import redirect_stdout`, I discovered:

https://github.com/bridgecrewio/checkov/blob/a6e524f3df2a45f1d1f34a39bb237c81dde61ef6/checkov/common/runners/runner_registry.py#L80

We don't return an integer, but instead call `exit` directly. So if you wrap stdout, python exits before context manager stops the wra

[2021-01-29 05:28] schosterbarak commented on #530
@KevinHock yes sure. Will accept a PR if you want to

[2021-01-29 07:41] ArneRiemann4711 commented on #776
Howdy, any updates on this?

[2021-01-29 07:43] schosterbarak commented on #776
Hi @ArneRiemann4711 haven't started yet. I would accept a PR on it. Hope I will have time to get back to it soon.

[2021-01-29 07:48] ArneRiemann4711 commented on #776
Would love to contribute, but my python skills are horrible (-;

[2021-01-29 15:43] brntbeer commented on #735
Bump on this! Would love to see a SARIF output crated.

Any thoughts? I anticipate a lot more people are going to want something like going forward, especially given the GitHub action you all have (https://github.com/bridgecrewio/checkov-action)

🙏

[2021-01-29 17:09] tohch4 commented on #735
Since it is you and I @brntbeer, 2 is better than 1, I try and take a look at this.

[2021-01-31 21:32] #821 closed

[2021-02-01 03:40] fabasoad commented on #735
`+1` for this feature.

[2021-02-01 14:24] metahertz commented on #719
Hey @VimukthiPerera thanks for reporting this! Extended the check for Deployments and StatefulSet.

[2021-02-01 17:44] #719 closed

[2021-02-02 00:31] AErmie commented on #778
I'm also seeing this happen now in my pipelines. The Checkov task runs very quickly and produces no results (the XML file is empty).

[code]
XML file contents:

[code]

[2021-02-02 00:58] roop983 opened #834 "Unable to install encprops via HomeBrew"
Hi, Can you please help here with the below error.

Is there any fix for it ?

brew tap ais-engineering/homebrew https://github.pie.apple.com/ais-engineering/homebrew.git
Updating Homebrew...
==> Auto-updated Homebrew!
Updated 2 taps (homebrew/core and homebrew/cask).
==> Updated Formulae
Updated 8 formulae.
==> Updated Casks
Updated 6 casks.

==> Tapping ais-engineering/homebrew
Cloning into '/us

[2021-02-02 01:54] schosterbarak commented on #778
@AErmie can you share a sample repo and terraform file?

[2021-02-02 02:08] AErmie commented on #778
Hey @schosterbarak, I'm digging deeper into it now, and it actually (at least in my case) not be an issue with Checkov.

The scenario where I thought it was not producing anything, was for a customer using Azure DevOps Server (on-premises), and self-hosted agents. It appears that the self-hosted agents [don't clean up fully](https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/pipeline-op

[2021-02-02 08:21] #816 closed

[2021-02-02 08:25] gimartin-orng opened #835 "CKV_GCP_33 reports a false positive while oslogin is enabled"
Using checkov 1.0.736 (docker image), I get a fail on CKV_GCP_33 while oslogin is enabled

Here is my terraform resource with enable-oslogin set to "true"
[code]

I use tfplan.json or direct file scan and get the following result

With tfplan.json
[code]

With main.tf
[code]

[2021-02-02 09:13] schosterbarak commented on #776
@ArneRiemann4711 i've just created a PR that does basic support https://github.com/bridgecrewio/checkov/pull/836

[2021-02-02 09:19] schosterbarak commented on #776
@ArneRiemann4711 do you mind testing checkov latest version and see if it works for you?

[2021-02-02 09:28] schosterbarak commented on #834
This is not a project that is related to checkov. closing

[2021-02-02 09:28] #834 closed

[2021-02-02 10:47] gimartin-orng commented on #835
additional LOG from debug
[code]

[2021-02-02 12:38] njgibbon commented on #800
Hello @ismailyenigul ,

`kms_key_arn` is not part of the aws_cloudtrail terraform API. It's `kms_key_id`.

https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/cloudtrail#kms_key_id

Please could you test ensuring you are using the right name. If you are still seeing a failure please come back and post the entire 'aws_cloudtrail' resource here so we can analyse it.

This cou

[2021-02-02 12:52] njgibbon commented on #835
Hello @gimartin-orng ,

The Terraform API indicates that these metadata values should be string KVPs not a boolean.

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_project_metadata

The Google Cloud Docs indicate that this parameter should be "TRUE" or "FALSE".

https://cloud.google.com/compute/docs/instances/managing-instance-access

If you set to "TRUE" th

[2021-02-02 13:15] ismailyenigul commented on #800
Hi @njgibbon
it is my bad. I typed wrong key name in the issue description.  yes it is kms_key_id and it is correctly in the resource.
please check kms-key-reference.txt json plan file.
[code]

[2021-02-02 13:35] njgibbon commented on #800
@ismailyenigul  ah okey fair enough. Thanks for updating the description. In that case we will have to look further into the issue 🙂

[2021-02-02 13:40] njgibbon commented on #800
@ismailyenigul Also, thanks for the plan output. Really useful! I'm not properly looking in to it now but I have just come across this recently raised related issue which could help understand what's happening here https://github.com/hashicorp/terraform-provider-aws/issues/11823

[2021-02-02 16:23] #835 closed

[2021-02-02 21:38] JamesWoolfenden commented on #170
check to ensure that glue job has security config set
check to ensure that glue crawler  has security config set
check to ensure that security config is all encrypted?

[2021-02-03 07:00] ArneRiemann4711 commented on #776
@schosterbarak Works like a charm (tested with Github Action) .. the package on Brew for Mac isn't updated today (-:

[2021-02-03 07:00] #776 closed

[2021-02-03 07:28] schosterbarak commented on #800
@ismailyenigul so we need to add the "after_unknown" properties into the resource analysis. is that correct?

[2021-02-03 07:38] ismailyenigul commented on #800
Hi @schosterbarak
yes if you see a value :)  and if there is no another way to handle this reference?
I just re-read the codes, it seems that if we follow the references, that seems also works fine.

[code]

and
[code]
but it seeems checking in after_unknown block is the easiest

[code]

[2021-02-03 07:42] ArneRiemann4711 opened #837 "CKV_AWS_103 on HTTP -> HTTPS redirect"
**Describe the bug**

HTTP -> HTTPS Redirect reported as "insecure"
CKV_AWS_103: "Ensure that load balancer is using TLS 1.2"

**To Reproduce**
Steps to reproduce the behavior:
1. Add redirect as default action for ALB_LISTERNER

[code]

2. Run cli command `checkov -d .`
3. Reported as CKV_AWS_103: "Ensure that load balancer is using TLS 1.2"

**Expected behavior**

Security check passed

**Deskto

[2021-02-03 07:45] schosterbarak commented on #800
i'll research more on the best way to handle this.

[2021-02-03 07:54] schosterbarak commented on #837
This should fix this one: https://github.com/bridgecrewio/checkov/pull/838

[2021-02-03 07:57] #837 closed

[2021-02-03 10:28] derhally commented on #560
Curious if the PR for this will be accepted.   Would like to roll out checkov across multiple repos and have each repo define their own settings.

[2021-02-03 12:14] metahertz commented on #713
Hey @ajchiarello
A lot of linux distro's start regular system users from uid 1000, so 1000, 1001 would still conflict with the first two users is the logic here.

Ie, ubuntu, my local SSH user:
`matt:x:1000:1000:Matt J:/home/matt:/bin/bash`

Any uid conflict would defeat the point of this check, although yes, annoying as most templated manifests seem to pick 1000!

[2021-02-03 12:21] metahertz commented on #778
Hey @peddyspg, leaving the brew issue aside. (We're working on allowing a 1:1 integration with the brew updates, rather than a scheduled update, which should solve that problem!)

Could you try running in debug `LOG_LEVEL=DEBUG checkov -f main.tf`

[2021-02-03 12:26] metahertz commented on #777
Thanks fo the the confirmation @ismailyenigul.

I'll take a look at the current flow (not played with the new module scanning code much!), have a sneaking suspicion we wont be holding state to easily pass skips to a specific module, but it's a needed enhancement/feature nontheless!

[2021-02-03 12:27] metahertz commented on #824
@gregdurham, is --output-dir meaning you're ending up with zero multi-yaml documents? With each object in it's own file?

[2021-02-03 12:35] metahertz commented on #822
🤘 Rock on! Thanks Rob, know you've been speaking with Barak+Ariel on the issue.

Adding a bit of context for other watchers on the issue:
Parser in use by checkov is here: https://github.com/bridgecrewio/python-hcl2 Assigning @arielkru and work-in-progress

[2021-02-03 14:06] ajchiarello commented on #713
Hey @metahertz - OK - but I was using 1234, and that triggered the alert. How high do I need to go with my yamls?

[2021-02-03 15:53] arielkru commented on #822
Hi @robeden & @metahertz !
I've been looking for several ways to solve this issue, but didn't find a way that wouldn't break other well-written tf files, and since this issue is based on a broken tf format anyway, I think we shouldn't change the parser, but would like to know if you have other ideas, here are the details:
* Currently the parser identifies anything that starts with `"` as a string,

[2021-02-03 16:09] robeden commented on #822
@arielkru - Are you able to find where the infinite loop happens and maybe error out (don't know if it's a `lark` thing or a `python-hcl2` thing)? I don't think we need to worry about parsing it, but it would be great if it didn't hang forever.

[2021-02-03 16:13] arielkru commented on #822
@robeden Good idea, I'm not sure about it but I'll check that out

[2021-02-03 16:50] njgibbon commented on #800
Just done some analysis on this:

When we parse through a plan we are looking at the `planned_values` part. And this captures almost everything we want to analyse.

https://github.com/bridgecrewio/checkov/blob/master/checkov/terraform/plan_parser.py#L98

See https://www.terraform.io/docs/internals/json-format.html#plan-representation

[code]

Note the "with any as-yet-unknown values omitted.". Whi

[2021-02-03 16:59] schosterbarak commented on #800
thanks for the analysis @njgibbon . I miss something "s3_bucket_name" appears in "after_unknown" as boolean value, i was expecting a string. is there further anlsysis to be done to get the string / object value of it?

[2021-02-03 17:06] ismailyenigul commented on #800
@schosterbarak  I think all values in `after_unknown` are boolean :)

[2021-02-03 17:08] schosterbarak commented on #800
so what would the policy check in that case?

[2021-02-03 17:13] schosterbarak commented on #800
does it work the same for object elements? like `server_side_encryption_configuration` in s3?

[2021-02-03 17:18] njgibbon commented on #800
@schosterbarak  - Yeah, I think some more understanding may be needed. It looks as if the Booleans just mean that "yes, this will have a value", but it doesn't tell us about what the value will be yet.

In the case of a kms_key_id for cloudtrail this would pass the check because we just want any value.

But you could imagine other scenrios where it would cause the wrong result.

So, the whole thin

[2021-02-03 17:23] ismailyenigul commented on #800
First I have to check s3 case.
Here is findings.
1. kms_key_id set directly (without any reference to output of a resource).
like
[code]

So if it is in planned_values no need to make another check. Nothing about kms_key_id in `after_unknow
[code]

2. kms_key_id is output of a resource.
[code]
nothing in planned but `"kms_key_id": true` in `after_unknown`

3. no kms_key_id specified
kms_key_id val

[2021-02-03 17:26] schosterbarak commented on #800
and what about AES encryption (which is an object and not a string) ?

[2021-02-03 17:48] ismailyenigul commented on #800
About  `s3_bucket_name` and AES
[code]

Again it is reference to output of another module
`s3_bucket_name                = module.cloudtrail_s3_bucket.bucket_id`

and sse is set in s3_bucket module nothing in after_unknown

[code]
btw, kms_master_key_arn is set "" by default at
https://github.com/cloudposse/terraform-aws-cloudtrail-s3-bucket/blob/master/variables.tf#L95

[2021-02-04 11:41] roberthstrand commented on #778
Just want to share that I get the same error, explicit towards a .tf and against a directory containing several .tf. Running checkov results in nothing. If I run it against a plan file as json, it works as excepted.

I'm running in Windows 10, tried using PowerShell 7.1.1, Windows PowerShell (5.1) as well as cmd.

Results after setting log level to debug:

[code]

[2021-02-04 11:48] schosterbarak commented on #778
@roberthstrand  can you share a sample of those files?

[2021-02-04 11:50] roberthstrand commented on #778
Sure, this is the folder I'm running checkov against: https://github.com/roberthstrand/terraform-azurerm-kubernetes/tree/main/examples/defaults

[2021-02-04 11:54] schosterbarak commented on #778
@roberthstrand try adding the following flag to your checkov command line: `--download-external-modules`

[2021-02-04 12:44] roberthstrand commented on #778
@schosterbarak, still getting the same results. I have ran `terraform` init locally, but I don't check that into source control 😊

[2021-02-08 08:30] nimrodkor commented on #807
From looking at the structure of the file, it is different from how hcl2 parses the original hcl2 code. Reopening as this still causes checkov to fail

[2021-02-09 00:38] metahertz commented on #704
Hi @ismailyenigul

Would something like the following allow you to just get the failed checks section of the json without a new flag?

[code]
[code]

[2021-02-09 18:13] metahertz commented on #813
Thanks for all the extra context @avishnyakov!

Just adding my thoughts, while the file-path based solution would work well for a team/community following a convention, it would make "out of the box" rules and features around modules in general (skipping checks / specific check annotations per module for example) problematic. I'd like to explore the surfacing of module metadata idea into the check

[2021-02-09 18:29] metahertz commented on #822
To @robeden's point, at the very least it would be good if `LOG_LEVEL=DEBUG` had outputted the file path before hanging so we have some pointer to the issue in the users logs.

[2021-02-09 18:32] metahertz commented on #800
Seems #799 is related with the `after_unknown` references for `kms_master_key_id`

[2021-02-09 18:35] metahertz commented on #799
Investigation ongoing in related #800 marking work in progress.

[2021-02-09 20:37] ismailyenigul commented on #704
Thanks @metahertz
That works too :)
But it will fail if tf and json files  ("check_type": "terraform", "check_type": "terraform_plan")
 are in the same directory.

[code]

example:
[code]

[2021-02-10 10:24] metahertz commented on #704
Thats a fair point, you could always do the below in this case, but that would fail on non array, so it depends if you always know your output?

[code]

If not, we have a flag for CLI called `--quiet` which just shows failed checks, makes sense to extend this to the json output too rather that a new flag? ie `checkov -o json --quiet`?

[2021-02-10 10:40] metahertz commented on #741
Hi @JoonatanNguyen Are you using the github action for your CI? Can you re-test the "pass vs fail by default" behaviour?

[2021-02-10 10:43] metahertz commented on #739
Hey @jwcmd I'm also wondering if the version of pip you're running is for py2.7,
Could you try `pip3 install checkov` or even `python3 -m pip install checkov`.

Linux desktop user by the way? :)

[2021-02-10 10:46] ismailyenigul commented on #704
Hi @metahertz
 `checkov -o json --quiet` works for me.

[2021-02-10 11:11] metahertz commented on #738
On @KevinHock 's point:

We'd need to look at CI, to prevent commits to that dir spitting out a new version of chekov for addition of custom checks. Would you see these custom ones consumed via the `--external-checks` style git pull? or baked into checkov as per regular checks?

[2021-02-10 11:18] ismailyenigul opened #853 "AWS CIS 1.3.0 Benchmark checks support"
**Describe the solution you'd like**

These are the new recommendations introduced in version 1.3.0 of the Benchmark.  I would like to have these controls in checkov

1.19: Ensure that all the expired SSL/TLS certificates stored in AWS IAM are removed

1.20: Ensure that S3 Buckets are configured with 'Block public access (bucket settings)'

1.21: Ensure that the IAM Access analyzer is enabled

2.1

[2021-02-10 11:19] metahertz commented on #722
fixed by #750. Closing 👍  Thanks for your contributions @soufiane444!! 👑

[2021-02-10 11:19] #722 closed

[2021-02-10 11:20] metahertz commented on #563
Hey @libertyy Can you confirm https://github.com/bridgecrewio/checkov/pull/750 fixes this issue for you? You can use the wildcards to skip `CKV*`?

[2021-02-10 13:18] metahertz commented on #704
I'm thinking of leaving the json format similar, with a summary, but just failed checks section, so that the formats are compatible/mergeable across `--quiet` and normal, something like this for the `--quiet` option:

[code]

[2021-02-10 15:19] #704 closed

[2021-02-10 15:20] schosterbarak commented on #704
Thank you @metahertz
@ismailyenigul feel free to give it a try in 20 min from now (release pipeline)

[2021-02-10 15:31] ismailyenigul commented on #704
Seems good!
Thanks

[code]

[2021-02-10 23:05] robeden commented on #793
Ticket for HCL2 parse error: https://github.com/amplify-education/python-hcl2/issues/55

[2021-02-11 02:29] nimrodkor commented on #793
@robeden we use our own checkov fork for these issues.. check out https://github.com/bridgecrewio/python-hcl2

[2021-02-11 02:58] robeden commented on #793
Yes, the issue occurs in both. I filed the ticket there as it seemed best to report at the lowest level.

[2021-02-11 09:49] chrisbloe commented on #807
If it helps, I see the same message with my only tfvars file:

[code]

[2021-02-11 21:00] JamesWoolfenden opened #856 "test CKV_AWS_101: "Ensure Neptune logging is enabled" fails when set correctly"
Incorrectly failing test:
Even though set correctly this rule is triggered
![image](https://user-images.githubusercontent.com/1456880/107698106-f88b0580-6cab-11eb-8962-87c96ff43d2e.png)

If you set it to be a string the test passes:
  enable_cloudwatch_logs_exports      = "audit"

But this attribute has to be a set of string.

[2021-02-11 21:48] nimrodkor commented on #856
@JamesWoolfenden That's weird considering the test case [here](https://github.com/bridgecrewio/checkov/blob/2522f0bca5848c03e56acc41a81d2914f83aa7e3/tests/terraform/checks/resource/aws/test_NeptuneClusterLogging.py#L35)
Mind sharing it as a string?

[2021-02-11 22:10] robeden opened #857 "Malformed resource causes crash"
**Describe the bug**
A malformed resource like this causes an exception that kills off all subsequent checks:
[code]

Example error:
[code]

**Expected behavior**
The bad data should be skipped before being passed to checks.

Long term: it would be good to catch exceptions thrown by checks and report that something didn't work properly with the check.

[2021-02-11 22:39] JamesWoolfenden commented on #856
i know its odd, amyway i can do better than that heres a module that demos it https://github.com/JamesWoolfenden/terraform-aws-neptune

[2021-02-11 22:41] JamesWoolfenden commented on #856
version: 1.0.775

[2021-02-12 17:58] johnbooth opened #859 "Enable auditing on SQL Servers"
**Describe the bug**
Azurerm provider notified that extended_auditing_policy block has been moved and will be removed in version 3.0 of the provider.

 **Warning: "extended_auditing_policy": [DEPRECATED] the `extended_auditing_policy` block has been moved to `azurerm_mssql_server_extended_auditing_policy` and `azurerm_mssql_database_extended_auditing_policy`. This block will be removed in version

[2021-02-12 18:58] JamesWoolfenden commented on #859
So on the one hand in v2 provider this is still a valid test, even though the properties are due to be deprecated when v3 is released.
There is also a newer way to implement the auditing with a new tf resource. So ideally wed want a test that could check for the existence of the block or the new resource? @johnbooth ?

[2021-02-12 19:02] johnbooth commented on #859
Totally still a valid test in V2!  We would want the test to check the existing of the auditing configuration in both resources.

[2021-02-12 19:22] johnbooth commented on #859
I updated the expected behavior in the comments:
Expected behavior
Expect the CKV_AZURE_23 and CKV_AZURE_24 to check both the extended_auditing_policy block and azurerm_mssql_server_extended_auditing_policy resource .

[2021-02-12 21:27] KevinHock opened #860 "Handle remote state (files, s3 buckets, etc.) in the TF parser"
**Is your feature request related to a problem? Please describe.**
I want checkov to understand and extrapolate `"${data.my_remote_state.` variables, before hitting the checks.

**Describe the solution you'd like**
Handle all different kinds of remote state.

- Local files
- S3 buckets

checkov would be called from python or the command-line in this scenario, but I can pass in the `state_file` or

[2021-02-12 21:48] schosterbarak commented on #860
Hi Kevin. Can you share more on when would a code usually reference the state and it is not available in the code itself?

[2021-02-12 23:59] KevinHock commented on #860
For the case I ran into, it was in the `resource` list, to reference something in another module.

[2021-02-13 00:59] KevinHock commented on #860
(Funny enough I don't think this is necessary any more, for my Parliament integration use-case.)

Not sure what other cases this would help with, aside from referencing another module, that is stored in the remote state, and isn't secure-by-default somehow.

I don't really have any TF modules that aren't secure-by-default though, so I'm gonna go ahead and close, thank you!

_Feel free to re-open,

[2021-02-15 10:12] nimrodkor commented on #857
+1

[2021-02-15 11:45] nimrodkor commented on #856
That's weird. I fixed a bug with this check a few versions ago, and I can't reproduce your issue.
For version 1.0.735, it was failing. For version 1.0.775, It passes for me. The outputs:

**1.0.735**:
[code]

**1.0.775**:
[code]

[2021-02-15 15:20] robeden opened #863 "bc-python-hcl2: Ternary with strings parse error"
**Describe the bug**
(Upstream bug report: https://github.com/amplify-education/python-hcl2/issues/55, relates to #855 )
The following TF doesn't parse correctly:
[code]
I would expect it to return:
[code]
but instead this is returned:
[code]
Note that the leading quote on "true" and the trailing quote on "wrong" have been dropped.

**To Reproduce**
See `test_weird_ternary_string_clipping` in `tes

[2021-02-15 15:24] robeden opened #864 "bc-python-hcl2: Multi-line ternary parse error"
**Describe the bug**
From #855, multi-line ternary operations do not parse correctly. For example, the following:
[code]
Results in this error:

**Expected behavior**
This should be legal terraform and I would expect a parsed result equivalent to:
[code]
(that is: `${local.local_true ? 'correct' : 'wrong'`)

[2021-02-15 17:36] MrLuje opened #865 "auto.tfvars file parsing error"
**Describe the bug**
Parsing error on a auto.tfvars file

**To Reproduce**
Steps to reproduce the behavior:
1. Create a variables.tf file with the following content
[code]
2. Create a default.auto.tfvars file with the following content
[code]
3. Run cli command  checkov -d {path to folder}
[code]

**Expected behavior**
File should be properly parsed

**Desktop (please complete the following inform

[2021-02-15 17:40] robeden commented on #865
I'm actually working on this right now. Looks like something broke at some point with all .tfvar files.

[2021-02-15 18:47] JamesWoolfenden commented on #856
Can confirm 1.0.775 works for me

[2021-02-15 18:47] #856 closed

[2021-02-15 19:14] #857 closed

[2021-02-15 19:25] MrLuje commented on #865
Oh ok, that was the first time I was using checkov... I was wondering if I was using it in a wrong way, since I also had some old syntax lying around to fix :)

[2021-02-15 22:13] AFriemann commented on #559
I've been playing around with this a little together with tfsec

What's odd is that using warnings-ng to integrate this with github checks it detects findings from tfsec but none from checkov.

the format also differs slightly

tfsec:

[code]

checkov:

[code]

right now it's basically impossible to figure out which module the results relate to in Jenkins.

[2021-02-16 00:16] JamesWoolfenden commented on #741
i can replicate this one @metahertz ill show u test code tomox

[2021-02-16 03:32] robeden commented on #865
Ack, sorry for the poor first impression. Fix coming soon. 😄

[2021-02-16 07:31] #865 closed

[2021-02-16 08:34] MrLuje commented on #865
No problem, thanks for the quick fix 😃

[2021-02-16 09:42] syphernl opened #868 "IndexError: list index out of range"
**Describe the bug**
With the recent version of the Checkov container I've been seeing an `IndexError: list index out of range` error popping up for a bunch of our environments.

[code]

Details:
[code]

It worked fine yesterday with this container:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run `checkov -d . -o junitxml | tee checkov-report.xml` in the Terraform folder

**Expect

[2021-02-16 11:26] nimrodkor commented on #868
Hi @syphernl , thanks for reporting Hmm!
I see you have an issue related to your tfvars file. Can you share a sanitized version of that file?

@robeden fyi

[2021-02-16 12:16] syphernl commented on #868
@nimrodkor Certainly. Here is the sanitized tfvars file:

[code]

[2021-02-16 12:57] robeden commented on #868
@syphernl / @nimrodkor  - Thanks, I'm able to replicate this issue and should have a fix shortly.

[2021-02-16 14:14] #868 closed

[2021-02-16 14:15] nimrodkor commented on #868
Hi @syphernl !

We are releasing a fix (thanks @robeden !)
The updated version should be good

[2021-02-16 14:38] syphernl commented on #868
@robeden @nimrodkor Thanks for the quick follow-up and fix!

[2021-02-16 21:08] ppawlowski opened #872 "Error in parsing variable with strict type value"
**Describe the bug**
checkov is unable to parse variable when variable's type is a list with predefined keys

**To Reproduce**
Steps to reproduce the behaviour:
1. Create `variables.tf` with content:
[code]
2. Run CLI command
[code]
3. See an error
[code]

**Debug output gist**
https://gist.githubusercontent.com/ppawlowski/505adcb3813ca978ef8944e73f26fe03/raw/cd7d32dd41747c03addf201e709e39907f3f54

[2021-02-16 21:41] robeden opened #873 "Merged map with inline string variable substitution converts whole map to string"
**Describe the bug**
Given this TF:
[code]

The value for `tags` in the resource will be a string of the dict value: `"{'Tag1': 'one', 'Tag2': 'two', 'Tag3': 'three', 'Name': 'Bob-one-two'}"`. Somewhere the whole dict is being converted (probably in the main var block loop).

Expected json data for the resource is:
[code]

[2021-02-16 21:42] robeden commented on #873
Working on it...

[2021-02-16 21:43] JamesWoolfenden commented on #741
@JoonatanNguyen  the rule triggers id your name is short than 3 or longer than 20? is your storage account name too long?

[2021-02-16 21:45] robeden commented on #872
@arielkru - Looks like a problem with the lark parser.

[2021-02-16 22:22] jmeredith16 commented on #759
Hello @metahertz - not sure if this is the best spot for this but the title seems relevant to my needs.

Description:
Checkov still reaching out to Bridgecrew BE even when supplying `--no-guide`

[code]

I'm also running `checkov` in an restricted environment, and I need to disable the API calls. When I run `checkov` I get the following:
[code]

Having read through the docs, I found the `--no-guid

[2021-02-17 01:00] ppawlowski commented on #872
Replacing colons (`:`) with equals (`=`) sign in variable's `type` solves the problem.

[2021-02-17 06:33] #873 closed

[2021-02-17 08:08] #793 closed

[2021-02-17 13:04] JoonatanNguyen commented on #741
I checked and counted manually quite many times and it in the range of 3 - 20 characters for the storage account name 🤔

[2021-02-17 13:30] JamesWoolfenden commented on #741
yeah im getting an issue, but i thought id at least ask the obvious. i've made those mistakes 👀

[2021-02-17 13:38] ismailyenigul commented on #777
Hi @metahertz
Is there any ETA for this feature? :)
Thanks

[2021-02-17 17:23] #872 closed

[2021-02-17 17:24] schosterbarak commented on #872
Thank you for reporting this @ppawlowski . This is now fixed.

[2021-02-17 17:35] kartheekbodapati opened #876 "Plan check fails:ERROR:checkov.terraform.checks.resource.aws.EKSNodeGroupRemoteAccess:Failed"
**Describe the bug**
When I scan the terraform plan of `aws_eks_node_group` with custom `aws_launch_template`, it reports a failed check for the rule `CKV_AWS_100`

**Error**
ERROR:checkov.terraform.checks.resource.aws.EKSNodeGroupRemoteAccess:Failed to run check: Ensure Amazon EKS Node group has implict SSH access from 0.0.0.0/0 for configuration: {'ami_type': ['AL2_x86_64'], 'capacity_type': ['S

[2021-02-17 18:48] schosterbarak commented on #759
@niravgshah28 @jmeredith16 I have tried to add an environment variable that enables a skip:
https://github.com/bridgecrewio/checkov/pull/879
can you try `export BC_SKIP_MAPPING=TRUE`

[2021-02-17 19:08] JaimePolo commented on #778
I am having the same issue running checkov locally and on private hosted agents on Azure DevOps, there is one difference though.

When I run: ` checkov -d .` it produces:

`<?xml version="1.0" ?>
<testsuites disabled="0" errors="0" failures="1" tests="1" time="0.0">
	<testsuite disabled="0" errors="0" failures="1" name="Ensure that Network Security Group Flow Log retention period is 'greater than

[2021-02-17 19:10] schosterbarak commented on #778
@JaimePolo i think your issue is a different one. can you please open a new ticket with the expected behavior?

[2021-02-17 19:26] JaimePolo opened #880 "Empty XML after skipping check"
**Describe the bug**
Skipping CKV_AZURE_12 locally and on Azure DevOps with private agents produces an empty file.

**To Reproduce**
Steps to reproduce the behavior:
1. Terraform resource:

[code]
2. Run 'checkov -d . --skip-check CKV_AZURE_12 -o junitxml'
3. See error:

[code]

**Expected behavior**
Expected to create a complete xml.

[code]

**Desktop (please complete the following information):

[2021-02-17 20:21] jmeredith16 commented on #759
Looks to be working now:

[code]

Might be bit nicer experience if I didn't need to set both to have all the API request stop, but that's easily worked around. Thank you for the quick fix!

[2021-02-17 20:26] robeden commented on #155
I'm working on this...

[2021-02-17 22:18] JamesWoolfenden commented on #880
Verified. @JaimePolo You want the xml output to reflect that the test has been skipped rather than the complete omission as is?

[2021-02-17 22:34] JaimePolo commented on #880
Here is another example from a different Terraform module from the same customer running on the exact same environment also skipping 2 checks.

Run:
`checkov -d . --skip-check CKV_AZURE_43,CKV_AZURE_35 -o junitxml`

Output:
[code]

The thing is, on Azure DevOps when skipping CKV_AZURE_12 I can't see the any results under 'Test and coverage' on the Pipeline Summary page.

Print screen from skipping

[2021-02-17 22:36] schosterbarak commented on #880
@JaimePolo so would you like to see those 2 policies as "skipped" or "disabled" ?

[2021-02-17 22:39] JaimePolo commented on #880
I expect a xml file to be properly generated similarly to my latest example so it can be used to publish under Tests and coverage.

[2021-02-17 22:41] schosterbarak commented on #880
@JaimePolo I am sorry. I don't follow. What is part of the JUnit XML is not properly generated?

[2021-02-17 22:49] JaimePolo commented on #880
This is the malformed XML I am getting from skipping CKV_AZURE_12:

`<?xml version="1.0" ?>
<testsuites/>
`

The correct output should look like the example on my previous comment above.

[2021-02-17 23:02] schosterbarak commented on #880
@JaimePolo
the following resource:

[code]

have only 1 matching policy which is CKV_AZURE_12. There are no other policies that match that resource. For that reason the JunitXML report is empty with 0 test cases

[2021-02-18 07:21] ismailyenigul opened #883 "BC_AWS_KUBERNETES_2 should not be reported if EKS Public Endpoint is Not Accessible to 0.0.0.0/0"
**Is your feature request related to a problem? Please describe.**
BC_AWS_KUBERNETES_2: Ensure Amazon EKS Public Endpoint is Disabled
This check good to have but should not be triggered if  EKS Public Endpoint is Not Accessible to 0.0.0.0/0
**Describe the solution you'd like**
Disabling EKS Public Endpoint is import but in some cases need to be necessarily enabled.
For example if you are provision

[2021-02-18 07:31] ismailyenigul opened #884 "Add Severity to controls and option to specify the severity to be reported."
**Is your feature request related to a problem? Please describe.**
Currently, checkov only report success for failure. That would be great if you can add severity to each control
also add options to specify the desired severity level of violations to be reported.

**Additional context**
You can get severity of CIS rules for aws at https://docs.aws.amazon.com/securityhub/latest/userguide/securityhu

[2021-02-18 15:51] JaimePolo commented on #880
I agree there is only one matching rule, however the result shouldn't be empty even if you are skipping checks, the XML could output something to `disabled="XYZ"` and list the skipped check.

[2021-02-18 15:57] robeden commented on #807
@chrisbloe - tfvars problems should be fixed as of a couple days ago (see #865).

[2021-02-18 17:26] njgibbon commented on #883
Helllo @ismailyenigul ,

I don't think we should look to do this.

Enabling access from anywhere even with a firewall is still inherently less safe than enabling access only with a private network.

These checks are default positions and so if you judge it not be relevant to your situation then you can just configure it to skip.

Networking from a reputable SaaS over the internet with firewall(s)

[2021-02-18 17:41] ismailyenigul commented on #883
Do you think that moving all repos from github.com to self-hosted one?
I don't that people will do it just to not to EKS public endpoint 😄

Another use case:
Even if you use CI/CD solution in your AWS infra, nowadays people users multi  accounts architecture.
Different accounts for  stage,dev, prod, shared services. In this case you usually deploy CI/CD in shared services account(ie Jenkins) it us

[2021-02-19 12:13] JamesWoolfenden commented on #428
check CKV_AZURE_1? @jonjozwiak

[2021-02-19 14:51] JamesWoolfenden commented on #623
test has been removed, close?

[2021-02-19 17:43] brucearctor commented on #623
👍

[2021-02-19 19:00] #623 closed

[2021-02-22 06:22] schosterbarak commented on #864
thanks @arielkru now the parser is not breaking.
@robeden i've made a PR in: https://github.com/bridgecrewio/checkov/pull/894 but it seems there is a an issue in _process_vars_and_locals_loop

[2021-02-22 07:59] schosterbarak commented on #864
found the issue. it's in the parser. on it.

[2021-02-22 12:32] johnvanhienen opened #897 "Enable encryption check on Azure managed disk"
**Is your feature request related to a problem? Please describe.**
The current implementation of the Azure managed disk encryption policy only checks if encryption is enabled if the `encryption_settings` is defined. When this block is missing, it will simply pass the policy even though encryption is not enabled/configured. See:

https://github.com/bridgecrewio/checkov/blob/82d707d52f3cfc870c7b9c79

[2021-02-22 14:23] gimartin-orng opened #899 "ERROR:checkov.terraform.checks.resource.gcp.CloudStorageSelfLogging:Failed to run check: Bucket should not log to itself for configuration"
**Describe the bug**
Error during check with rule CKV_GCP_63 (not clearly identify)

Here is the result of my terraform plan for my GCS resource using [terraform google storage module](https://github.com/terraform-google-modules/terraform-google-cloud-storage)
[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Using [terraform GCS module](https://github.com/terraform-google-modul

[2021-02-22 15:30] sysadmin-exe opened #900 "CKV_AZURE_9 & CKV_AZURE_10 PASSES WHEN REPRODUCING FAILURE"
**Describe the bug**
I am trying to confirm that Checkov works with my Terraform Template but it passes even when I set rule with 0.0.0.0/0 or internet for 3389 and 22

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'the directory containing terraform'
2. Run cli command  'checkov -d . '

**Expected behavior**
I would expect this to fail but I get PASSED

Passed checks: 8, Failed check

[2021-02-23 04:37] ishara93 opened #903 "does not evaluate values in terraform objects defined in terraform.tfvars file - (custom policies)"
i created a custom policy to verify AMI in terraform AWS template

this is my AMI_POLICY.py file
[code]

Variables.tf file

[code]
Terraform.tfvars file

[code]

this is main.tf

[code]
in main.tf when 1) expression is used policy will be failed. when 2) expression is used that will pass the policy. can anyone help ?

[2021-02-23 06:33] athurn opened #904 "Can not run on cloudformation template + json + tabs"
**Describe the bug**
I am trying to run checkov on a cloudformation template written in json + tabs, however no checks are executed against the file.
I only ran into this issue with some of my json templates. Json templates that are yaml compliant (they used spaces for indentation and were otherwise correctly indented) are working ok.

I digged into the code and could see that the cloudformation r

[2021-02-23 06:42] schosterbarak commented on #904
Hi @athurn , Thank you for reporting this. The code change looks good to go. by the way, why did you chose to use yield?

[2021-02-23 09:29] sysadmin-exe commented on #900
I think this can be closed.
I figured it out.
The policy python was set to use the security_rule block in azurerm_network_security_group resource block while I was using the resource block for azurerm_network_security_rule with several rules in a map variable to try to produce this.
Thanks

[2021-02-23 09:29] #900 closed

[2021-02-23 12:27] robeden commented on #903
@ishara93 - Can you tell me what version of checkov you are running? There were some fixes recently with .tfvars files.

[2021-02-23 13:34] ishara93 commented on #903
@robeden
hi robeden, i tried with version 1.0.799.  try to do the same using map but same issue is there. thanks

[2021-02-23 14:13] robeden commented on #903
Ok, thanks. I would think that would be recent enough. I’ll see if I can replicate the issue today.

[2021-02-23 14:25] ishara93 commented on #903
thanks @robeden. i have some queries regarding chekov. is there any forum that i can seek help? slack??

[2021-02-23 14:34] schosterbarak commented on #903
@ishara93 https://slack.bridgecrew.io/

[2021-02-23 15:06] ishara93 commented on #903
@schosterbarak Thanks :D

[2021-02-23 20:36] KevinHock opened #911 "Multiple --file options given results in duplicate findings"
**Describe the bug**
If you give checkov e.g. --file twice, the first file you give will have double the findings (repeats). There is also no check for uniqueness among the outputted findings.

**To Reproduce**
Steps to reproduce the behavior:

On any 2 files that have (e.g. 1 failing check in each file):
Run
`checkov --file fileA.tf --file fileB.tf`
and you will notice `fileA` findings are duplic

[2021-02-23 21:39] jroberts2600 commented on #735
+1 for this feature.

[2021-02-23 21:39] KevinHock commented on #911
In the meantime, I added this to my cool checkov wrapper package:
[code]

[2021-02-23 21:51] athurn commented on #904
@schosterbarak Thank you for your quick response.

The existing code is already using `yield`s, I was just following the existing code :).

I've created a PR for my changes here https://github.com/bridgecrewio/checkov/pull/912

[2021-02-23 22:06] sainooli opened #913 "Not evaluating defaults from terraform lookup function for CKV_AZURE_15"
**Describe the bug**
Checkov is not evaluating the default values from terraform lookup function (lookup(map, key, default)). For instance, checkov compliance is failing for CKV_AZURE_15 with an error "Ensure web app is using the latest version of TLS encryption" for Azure app Service. Below is how I have it inside site_config
min_tls_version = lookup(site_config.value, "min_tls_version", "1.2")
I

[2021-02-23 23:07] robeden commented on #772
Looking into this, I think it would also be helpful if the calling file were included in the report output.

For example, there's the parsed file key info for a test case that I have:
[code]

The reported file path is: `/modules/kong/db_instance.tf` ... which is true, but doesn't paint a great picture because there are 8 other references to that file from the "prod" locations which are all correct

[2021-02-24 07:38] ishara93 commented on #913
i faced the same issue. try to evaluate variable according to current terraform workspace. but it is not resolving the value.

To Reproduce

1. create a map variable
[code]
2. create two workspace (prod, dev)
3. create a resource and use lookup function to assign ami according to workspace

[code]

[2021-02-24 22:30] robeden commented on #772
Here is a sample test case with a full resource ID and "Caller File" added, from #917...

Text output:
![Screen Shot 2021-02-24 at 4 22 47 PM](https://user-images.githubusercontent.com/1891321/109074520-78a66780-76bd-11eb-9d5a-df776838c528.png)

Json output:
[code]

[2021-02-25 22:09] ccom-dev-platform opened #921 "Terraform plan check CKV_AWS_27 not working when kms_master_key_id does not gets set"
**Describe the bug**
Checov passes the check CKV_AWS_27 even when SQS queues declared in either resource or module blocks don't have kms_master_key_id and thus does not have SSE enabled.

**To Reproduce**
1. Generate file
[code]
2. Run cli commands:
[code]
3. See error

**Expected behavior**
Checkov should not mark CKV_AWS_27 as passed since SSE is not enabled.

**Screenshots**
![image](https://us

[2021-02-25 22:44] robeden commented on #773
@schosterbarak - Depending on how Bridgecrew (and of course anyone else running checkov in a shared environment with "untrusted" TF) is running things, there is potential for security leaks with functions that read data from files. We should consider how or if that need be considered to restrict the path(s) from which scripts can pull data.

[2021-02-26 00:00] robeden opened #924 "BaseResourceValueCheck._is_variable_dependant incorrect"
**Describe the bug**
BaseResourceValueCheck is supposed to ignore values that have unresolved data, but its pattern matching isn't looking for the correct thing, so it doesn't work. For example, these values won't cause the check to be skipped: `${var.whatever}`, `something-${local.whatever}`.

It's looking (essentially, this is simplified a bit) for `var.*` or `local.*`, which isn't correct becau

[2021-02-26 08:12] JamesWoolfenden commented on #921
This only fails for the plan check not a regular check, it also   throws an exception on windows
`ERROR:checkov.cloudformation.parser:Cannot read file contents: tf.json
2021-02-26 08:09:53,181 [MainThread  ] [ERROR]  Cannot read file contents: tf.json
ERROR:checkov.kubernetes.parser.parser:Cannot read file contents: tf.json
2021-02-26 08:09:53,183 [MainThread  ] [ERROR]  Cannot read file contents:

[2021-02-26 12:58] ccom-dev-platform commented on #921
@JamesWoolfenden You are correct, I should have added that myself!

I was also able to partially re-create the behavior with SNS Topics:
1. File:
[code]
2. CLI commands:
[code]
3. See error

Screenshot:
![image](https://user-images.githubusercontent.com/78803657/109303081-00ed4f80-7819-11eb-89b3-46b46674b64f.png)

[2021-02-26 17:06] chrisbloe commented on #807
@robeden - It seems to have resolved all my issues, thanks :)

[2021-02-26 17:46] #807 closed

[2021-02-26 18:04] schosterbarak commented on #759
Sure @jmeredith16  since the environment variable did the trick I'm closing this for now :)
Let me know there is anything else we can help with.

[2021-02-26 18:04] #759 closed

[2021-02-27 03:07] santoshmarepally opened #927 "Uncheck bridgecrew dashboard"
When I first ran Checkov.. I selected Yes to visualize the results and gave the email. Every time I run this check it takes a long time for the report to complete and sometimes times out. Is there an option to uncheck this? I tried uninstalling and re-installing but did not solve the issue. Any help resolve this issue is appreciated.

--- I want to uncheck a setting to not run the report every tim

[2021-02-27 05:54] schosterbarak commented on #927
Run 'rm -rf ~/.bridgecrew'

[2021-02-27 17:11] njgibbon commented on #876
Hello,

@kartheekbodapati  is part of my team. I can confirm now that the above PR has resolved this issue after a re-test :)

[2021-02-28 22:02] #927 closed

[2021-03-01 07:11] #772 closed

[2021-03-01 15:07] #924 closed

[2021-03-01 21:51] eric-kinsa opened #931 "Unable to load module: 'NoneType' object has no attribute 'get'"
**Describe the bug**
I'm getting the following warning for every module that is sourced in my TF code. Im running the following command to scan the root directory of my TF code:

`checkov -d ./terraform_sub --skip-check CKV_AWS_23,CKV_AWS_52`

Example:
`
[MainThread  ] [WARNI]  Unable to load module (source="/Users/ericprice/repos/server-infrastructure/terraform_sub/modules/aws/elasticsearch" vers

[2021-03-01 21:57] nimrodkor commented on #931
Thanks for reporting @eric-kinsa !
The difference between those versions seems very relevant - https://github.com/bridgecrewio/checkov/pull/881
@robeden mind taking a look?

[2021-03-01 21:58] robeden commented on #931
@nimrodkor - Yeah, looking now.

[2021-03-01 22:23] #931 closed

[2021-03-01 22:25] nimrodkor commented on #931
Hi @eric-kinsa !

Thanks to the great @robeden , a fixed version should be released in the coming 15 minutes or so. If the problem persists please reopen this issue.

Thanks again!

[2021-03-01 23:27] robeden opened #933 "TF references to module output"
**Is your feature request related to a problem? Please describe.**
I have TF that looks like this...
_tf/envs/localstack/us-east-1/main.tf:_
[code]

_tf/modules/utils/common/main.tf:_
[code]

`module.lambda.tags` is currently not resolved because the TF parser resolves resources from modules, but not outputs.

**Describe the solution you'd like**
Outputs should be considered with modules reference

[2021-03-02 03:24] robeden commented on #933
Nevermind, this works currently. There's some other problem with a merge... or something like that. I'll open a new ticket when I figure out what the problem is.

[2021-03-02 03:24] #933 closed

[2021-03-02 09:26] DevelopmentTeamMojo opened #934 "Checkov throws an exception with serverless when it has only an Output resource block"
Checkov throws an exception with serverless when it has only an Output resource block defined

[code]

**To Reproduce**
Here's a sample serverless.yml config

[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-03-02 12:56] tonnyhideyori opened #935 "addition of severity on Resource scans (auto generated)"
**I would your Resource scans (auto generated) have addition column with severity on each policy ID**

[2021-03-02 15:14] philipp-heinrich commented on #899
when skipping  CKV_GCP_63 the error still occurs

checkov -d . --quiet --skip-check CKV_GCP_63

[2021-03-02 15:52] carlobongiovanni commented on #899
I also got the same problem and I found it's a small bug in the CloudStorageLogging check. I can push a quick PR later to fix it

[2021-03-02 15:53] schosterbarak commented on #899
@carlobongiovanni  a PR is highly appreciated

[2021-03-02 16:42] eric-kinsa commented on #931
Thanks for the quick fix! It's working perfectly now.

[2021-03-02 16:44] carlobongiovanni commented on #899
@schosterbarak https://github.com/bridgecrewio/checkov/pull/936

[2021-03-03 17:45] ismailyenigul opened #940 "Feature request: check inline policy name for IAM CKV_AWS_63 control"
**Is your feature request related to a problem? Please describe.**
If you attach inline policy into role, there is no actions list in terraform plan json.
So it passes CKV_AWS_63 control.
ie:
[code]
**Describe the solution you'd like**

The code should check also inline policy  name  in role attachment too.
Example code:
[code]

[2021-03-03 17:47] robeden commented on #940
Relates to #155

[2021-03-03 21:21] KevinHock opened #941 "Crashing in runner.py due to AttributeError raised by checking None for keys"
**Describe the bug**
I am getting a crash similar in appearance to #118 but for Terraform and not CloudFormation.

[code]

**To Reproduce**
edit: See https://github.com/bridgecrewio/checkov/issues/941#issuecomment-790803047

That's the thing 😢 It's real hard to reproduce, if I run `checkov` just on the file that it crashes on, things work fine! If I run it on just the last 10 files it scans before

[2021-03-03 21:23] robeden commented on #941
Checking...

[2021-03-03 21:33] robeden commented on #941
@KevinHock - The terraform parser doesn't perform evaluation when it's pointed to a single file. So, are you saying it fails when in `-d` mode and works in `-f` mode? If so, for reproducing, you might want to copy the suspect file to a separate directory and then point checkov at that with the normal `-d` flag.

[2021-03-03 21:39] KevinHock commented on #941
I haven't tested the `-d` mode, I am passing in many `--file` arguments.

Luckily, removing the 1 file that had a parsing error stopped the crash. I was able to include that file with a subset of the other files in the repo I was scanning, and have it not crash. So, calling checkov like `--file a-lot-of-other-tf-files.tf --file some-parse-error-causing-file.tf --file even-more-files.tf` with more

[2021-03-03 21:44] robeden commented on #941
Is there anything... weird... about the version of checkov you're running? I can't find a version where the line numbers match up with the content reported in your traces.

[2021-03-03 21:45] KevinHock commented on #941
Oh whoops, sorry about that, I just added a print statement or two, I am on the latest version.

[2021-03-03 21:46] robeden commented on #941
Ok. Normality restored. 🤪

[2021-03-03 21:49] robeden commented on #941
Looks like it's encountering an error loading the file (or you're pointing it to a file that doesn't end with `.tf` or `.tf.json`).

[2021-03-03 21:50] KevinHock commented on #941
If I run it with just `checkov --file problem-file.tf`, it gives a parse error, and doesn't crash. But combined with some unknown other --file args, it crashes 🤔

[2021-03-03 21:54] robeden commented on #941
That might make sense given how it loops over things? Hard to say for sure without being able to reproduce, but I'm pretty sure I have a change that will avoid the problem.

[2021-03-04 02:57] KevinHock commented on #941
Ahh I think I know what might be causing this

I ran into it again on a different repository, where if I do:
`checkov  --check CKV_AWS_2 --file ./problem_parsing_this.tf  --file ./some_legit_file.tf `
Because of, I suspect, #911, the dictionary of the problem file is re-used for the legit file, None is treated like a dictionary.

[2021-03-04 17:46] KevinHock commented on #941
Ahh here is an easy repro, with 1 arg that is a valid file, and one arg that is a file that doesn't exist: `checkov --check CKV_AWS_2 --file does_not_exist.tf --file existing_and_valid.tf`

[2021-03-04 21:09] santoshmarepally commented on #927
Thanks for the help. It fixed the problem.

[2021-03-05 20:21] robeden opened #944 "bc-python-hcl2: parse error in TerraGoat's aws/consts.tf"
**Describe the bug**
In one of the recent releases (still narrowing which one), parsing of [TerraGoat's `aws/consts.tf` file](https://github.com/bridgecrewio/terragoat/blob/master/terraform/aws/consts.tf) broke. It dies with the error:

**To Reproduce**
Try to parse that file with 0.3.17. It might not have originated in that release, but is something since 0.3.13 (all of which were released on 202

[2021-03-05 22:34] schosterbarak commented on #944
@arielkru and I will try to fix it in Sunday

[2021-03-05 23:12] schosterbarak commented on #944
@robeden found it. fixing now.

[2021-03-05 23:31] #944 closed

[2021-03-05 23:48] #899 closed

[2021-03-07 07:46] #941 closed

[2021-03-08 17:28] djdta opened #949 "Support for Packer and Vagrant"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Would like to see is the tool to support Packer Images and Vagrant Box.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

What I would like the tool to do is have the ability to scan packer

[2021-03-08 17:46] schosterbarak commented on #949
@djdta sound like a great idea. what would be an example security check for that?

[2021-03-08 23:12] KevinHock opened #951 "UnboundLocalError: local variable 'root' referenced before assignment, in terraform/plan_runner.py"
Version: `1.0.831` (latest as of today)

**Describe the bug**
When passing a file that is failed to load, there is a crash, from line 67 of `plan_runner.py`

**To Reproduce**
Steps to reproduce the behavior:
1. `checkov --check CKV_AWS_2 --file does_not_exist.tf --file totes_valid_file.tf`
2.
[code]

**Expected behavior**
No crash, just yelling/debug stuff.

[2021-03-08 23:13] KevinHock commented on #951
I don't care about this issue that much, i.e. it is not impacting my work, but figured I would make it 👍🏼

[2021-03-08 23:14] KevinHock commented on #951
Fixed 2 hours ago, just not bumped yet maybe https://github.com/bridgecrewio/checkov/commit/dd0fefb6162c877f346a50e3e12696e2de73dfda

[2021-03-08 23:14] #951 closed

[2021-03-08 23:50] KevinHock commented on #941
Btw, tested the fix and it works like a charm ❤️

[2021-03-09 07:33] JamesWoolfenden opened #952 "Checkov crashes when analysing google_compute_instance"
**Describe the bug**
Run an analysis on this file:

[code]

**To Reproduce**
Steps to reproduce the behaviour:
Place above in a file and run checkov over it.
[code]

**Expected behaviour**
A clear and concise description of what you expected to happen.
Not to crash and raise check errors

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the f

[2021-03-09 09:06] #952 closed

[2021-03-09 15:13] marcosmachado81 opened #958 "get FAILED result even using the recommendation"
**Describe the bug**
On aws_lb_listener I have the code below:
[code]

when I run chekov I get the error:

[code]

The Guide says exactly what I am doing.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create and aws_lb_listener
2. run terraform plan -out tf.plan , terraform show -json tf.plan > tf.json, checkov -f tf.json
3. See the error

**Expected behaviour**
The PASSED result

**Deskt

[2021-03-09 15:19] JamesWoolfenden commented on #958
You need to set the security policy. the error is that you could enable TLS and use 1.0 or 1.1

[2021-03-09 18:19] ketumbra opened #960 "False positive on CKV_AWS_59 - APIGatewayAuthorization ignores API keys"
**Describe the bug**
**CKV_AWS_59** assumes the API is open to the public if authorization is **NONE**. However, API keys are another option on REST APIs and are configured separately. See https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-setup-api-key-with-console.html.

**To Reproduce**
The following terraform code will cause a test failure, which appears to be against the

[2021-03-09 19:35] ketumbra commented on #960
Sure. Here goes.

[2021-03-09 22:26] ketumbra commented on #960
aha, think that got it. Unit tests are passing.

[2021-03-09 22:28] #960 closed

[2021-03-09 22:28] schosterbarak commented on #960
Thank you @ketumbra

[2021-03-10 12:27] bkk87 opened #966 "CKV_AWS_103 should not trigger for TCP NLB's"
Hi!

CKV_AWS_103 throws an error when using an NLB with TCP protocol.
However, setting an `ssl_policy` only make sense for ELB's with protocol HTTPS or TLS.

[code]

`Check: CKV_AWS_103: "Ensure that load balancer is using TLS 1.2"
        FAILED for resource: aws_lb_listener.nlb_listener_https
        File: /nlb.tf:14-22
        Guide: https://docs.bridgecrew.io/docs/bc_aws_general_43`

**Expecte

[2021-03-10 12:57] njgibbon opened #967 "CloudFormation - ES Domain Logging - Check logic issue"
**Describe the bug**
Recently @laurrentt pointed out that the logic of the check implemented in https://github.com/bridgecrewio/checkov/pull/962 was off. Please read there in the spirit of not duplicating.

So, I will implement the fix.

I just wanted to first get a view on what to check for...

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-elasticsearch-domain-logp

[2021-03-10 13:34] schosterbarak commented on #967
Thanks @njgibbon

[2021-03-10 17:38] Marcus-James-Adams opened #971 "support passing variable files"
I have recently started getting
Check: CKV_AZURE_43: "Ensure the Storage Account naming rules"

On code that deploys ok.

my code (abbreviated) looks like

[code]

We use an external variables file (common.tfvars) and plan and deploy using the tf command

terraform plan -var-file=..\common.tfvars which is located in a different directory

**Describe the solution you'd like**
I would like to be abl

[2021-03-11 09:12] #967 closed

[2021-03-12 12:10] SebastianBalle opened #976 "Pre-commit hook not working with --skip-check argument"
**Describe the bug**
When implementing the checkov scan in a pre-commit hook it should be possible to specify --skip-check flags just like running the normal commands in the terminal. The pre-commit hook return `checkov: error: unrecognized arguments: --skip-check CKV_AZURE_35`.

**To Reproduce**
Steps to reproduce the behavior:
.pre-commit-config.yaml file should look like this
[code]

run comman

[2021-03-13 15:14] djdta commented on #949
Hi,

Thanks for your reply.

For Packer you could do the following.
* Is the ssh Username and Password is in clear text.?
* No public Ip address to be used in deploy?
* Is the ebs volume in encrypted?
* No KMS used for encrypted Volume?

For Vagrant as this for locally Development.
* Is the ssh Username and Password is in clear text.?
* No public Ip address to be used in deploy?
* Is the ebs volum

[2021-03-15 21:55] #966 closed

[2021-03-16 15:47] lewissw opened #985 "checkov hanging. Running in docker in EC2 instance"
**Describe the bug**
Looks like the process is stuck and times out.

**To Reproduce**
checkov -d . --external-checks-dir /checkov/custom_checks/ --no-guide --skip-check CKV_AWS_53,CKV_AWS_54,CKV_AWS_55,CKV_AWS_56,CUSTOM_AWS_001
/bin/bash: line 117:     9 Killed                  checkov -d . --external-checks-dir /checkov/custom_checks/ --no-guide --skip-check CKV_AWS_53,CKV_AWS_54,CKV_AWS_55,CKV_A

[2021-03-16 15:49] schosterbarak commented on #985
@lewissw those it happens when you run the same version of checkov on files locally?

[2021-03-16 17:08] lewissw commented on #985
Hi think I tracked the issue down:
in: checkov/blob/master/checkov/terraform/checks/utils/iam_cloudformation_document_to_policy_converter.py

This line expected a list:
[code]

but I had this in my CF:
[code]

Which resulted in:
_File "C:\Users\802996686\AppData\Local\Programs\Python\Python38\lib\site-packages\checkov\terraform\checks\utils\iam_cloudformation_document_to_policy_converter.py", line

[2021-03-16 22:02] #985 closed

[2021-03-16 22:03] schosterbarak commented on #985
Thank you for reporting this @lewissw i just pushed a fix

[2021-03-17 09:58] SoerenVoskuhl0042 opened #988 "CKV_AWS_107: aws_iam_policy for action ecr:GetAuthorizationToken with resource "*""
**Is your feature request related to a problem? Please describe.**
We have an aws iam policy with the following statement:
`  statement {
    actions = [
      "ecr:GetAuthorizationToken"
    ]
    resources = [
      "*"
    ]
  }`

checkov fails here with the message CKV_AWS_107: "Ensure IAM policies does not allow credentials exposure" but according to the aws documentation we found [(https://d

[2021-03-17 11:35] lewissw opened #989 "file and directory selection on command line"
**Is your feature request related to a problem? Please describe.**
We often include python modules within our source directories, which means there maybe hundreds of files in directory structure. It would be useful to process only yaml cloudformation files. Currently one of our projects times out, as the scan takes too long.

[code]
etc

Command line supports:
-d DIRECTORY, --directory DIRECTORY

[2021-03-17 13:57] cbuto opened #990 "CKV_AWS_111 - cloudformation check cloudwatch:PutMetricData"
**Describe the bug**
When running checkov against a cloudformation template with an IAM policy including the action `cloudwatch:PutMetricData` and a condition limiting the action to a specific namepace, the `CKV_AWS_111` rule is triggered. Since [PutMetricData](https://docs.aws.amazon.com/service-authorization/latest/reference/list_amazoncloudwatch.html#amazoncloudwatch-PutMetricData) doesn't supp

[2021-03-17 14:50] schosterbarak commented on #990
@kmcquade should `policy.write_actions_without_constraints` take into account `Condition`s if `Resource: "*"` since the condition is acting as a constraint?

or is it already doing it and I have a bug? :S

[2021-03-17 14:53] schosterbarak commented on #989
@lewissw checkov can be pointed at a directory and skip other directories using the env variable CKV_IGNORED_DIRECTORIES
 https://github.com/bridgecrewio/checkov#skipping-directories

 would that solve the issue?

[2021-03-18 00:37] acdha commented on #988
I think this is an incorrect application of the general guidance: unlike, say, access keys or STS tokens this is how ECRs are intended to be used — the Docker login step is required functionality.

[2021-03-18 08:31] schosterbarak commented on #988
adding @kmcquade  wdyt?

[2021-03-18 11:09] eladmotola opened #991 "Error parsing file when using condition"
**Describe the bug**
The process cannot parsing the file when using if statement. non of the the examples works:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. use this config:
[code]
2. run the command at "Using Docker" section
3. There is an error of "Error parsing file ..... "

**Expected behavior**
The process should handle this type of scenario since its valid in terraform

**Scr

[2021-03-18 13:02] lolgab opened #992 "Checkov logs to stdout making the json un-parseable"
**Describe the bug**
When you run checkov with the `-o json` and `LOG_LEVEL=WARNING` the logs are printed to `stdout` together with the json object. This way it's hard and error prone to parse the json output.

**Expected behavior**
At least in `-o json` (or any parseable output) mode It should use stderr to log to and use stdout only for the parseable  output and log everything else to stderr.

[2021-03-18 14:09] kmcquade commented on #988
@schosterbarak I can see how this request to change it makes sense. ecr:GetAuthorizationToken doesn't allow for ARN restriction, so that doesn’t mean that the developer is writing the IAM policy wrong. From an attacker perspective, it is useful to know who can get the ECR authorization token, but from the perspective of the person writing the IAM policy, they shouldn’t get dinged for it.

@schoste

[2021-03-18 14:13] schosterbarak commented on #988
@kmcquade so we would probably want to exclude that if the resource is attached to ECR but to alarm for the rest.
We don't have that capability yet, but should be available from soon where we will enable resource graph queries in checkov. I'll keep this ticket open for now and will update once the implementation is done

[2021-03-18 14:22] ismailyenigul opened #994 "Remote Modules Loading feature is not working on source with refs"
**Describe the bug**

Hi
It seems  Remote Modules Loading #677  is not working well with module source with ref=

module "label" {
  source  = "git::https://github.com/cloudposse/terraform-null-label.git?ref=tags/0.19.2"
  context = module.this.context
}

 checkov --download-external-modules  true -d .
ERROR:checkov.terraform.module_loading.loader:failed to get git::https://github.com/cloudposse/t

[2021-03-18 15:36] schosterbarak commented on #994
@ismailyenigul the fix should be applied to https://github.com/bridgecrewio/checkov/blob/master/checkov/common/goget/github/get_git.py we would love a contribution

[2021-03-18 17:50] ismailyenigul commented on #994
Fixed by https://github.com/bridgecrewio/checkov/pull/997

[2021-03-18 17:50] #994 closed

[2021-03-18 21:45] acdha opened #1000 "CKV_AWS_107, CKV_AWS_108, CKV_AWS_109, and CKV_AWS_110: check should require effect=Allow"
**Describe the bug**

The CKV_AWS_107, CKV_AWS_108, CKV_AWS_109, and CKV_AWS_110 rules treat a `Deny` policy the same as an `Allow` policy. We had the following policy which is a generic IP lock on AWS API calls get flagged:

[code]

**Desktop (please complete the following information):**
 - OS: macOS
 - Checkov Version: 1.0.845

[2021-03-19 13:11] kmcquade commented on #990
@schosterbarak - Cloudsplaining doesn't filter based on conditions, actually. It was a trade off made at design time. I'm open to suggestions on how we might handle this, though.

[2021-03-19 13:25] yi2020 commented on #990
@kmcquade our approach with Cloudrail has been to assume that if there are conditions, it's not really *. We do in some cases dig through the condition to see if it really limits anything, but the amount of logic required was insane.

[2021-03-19 18:49] schosterbarak commented on #990
I'm up for following @yi2020 approach.

@kmcquade I think it's better to assume that if a condition is set - the check should pass. I can contribute that logic to cloudsplaining if you would like or implemented it just in checkov. Wdyt?

[2021-03-19 19:43] kmcquade commented on #990
@schosterbarak I like that idea from @yi2020 too. If you want to contribute that to Cloudsplaining, we can fix it in both places!

[2021-03-21 07:34] #992 closed

[2021-03-21 10:40] schosterbarak commented on #1000
I've created a fix at: https://github.com/salesforce/cloudsplaining/pull/166 but I also need to fix something in the upstream repo: https://github.com/salesforce/cloudsplaining/pull/166
I hope to update soon. Thank you for reporting this.

[2021-03-21 13:13] schosterbarak commented on #990
@kmcquade @yi2020 @cbuto PR created: https://github.com/salesforce/cloudsplaining/pull/167

[2021-03-22 11:20] #192 closed

[2021-03-22 13:50] ismailyenigul opened #1006 "terraform flatten and coalescelist functions support"
**Is your feature request related to a problem? Please describe.**
checkov can't parse terraform codes with flatten and coalescelist functions. it returns
 Error parsing file

**Describe the solution you'd like**
Give flatten and coalescelist  function parse support

How to reproduce:

[code]
https://github.com/terraform-aws-modules/terraform-aws-eks/blob/master/outputs.tf#L51 line
and
https://git

[2021-03-22 13:56] gruebel opened #1007 "Raising code quality"
**Is your feature request related to a problem? Please describe.**
During developing my first Terraform checks for AWS resources I was surprised that their are no kind of code quality tools, like black or flake8 enforced.

**Describe the solution you'd like**
It would be great to add following tools:
- black (formatting)
- flake8 (linting)
- isort (import sorting)
- mypy (type checking)

**Additio

[2021-03-22 20:44] JamesWoolfenden commented on #1007
i like gha but also pre-commit framework? something like that/both?

[2021-03-23 08:14] andir opened #1010 "Very slow terraform scan on medium sized repository"
**Describe the bug**

I've just tried checkov on a medium sized repository that contains ~70 modules and around 20 Terraform workspaces. Running checkov against the entire repository takes about 1 hour and 50 minutes on current gen desktop CPU. In contrast something like `tfsec` only takes in the order of ~20s for the same code.
My understanding is that both tools are primarily busy evaluating the

[2021-03-23 09:16] gruebel commented on #1007
you probably mean https://github.com/pre-commit/pre-commit yeah that would also be a great addition.

[2021-03-23 14:47] schosterbarak commented on #1010
@andir thank you for reporting this. does it show the same performance when using the parameter `--framework terraform` ?

[2021-03-23 14:54] andir commented on #1010
Yeah, I must have forgotten that detail. It behaves the same from what I can tell.

[2021-03-23 20:44] #990 closed

[2021-03-23 20:44] #1000 closed

[2021-03-23 20:47] KevinHock commented on #379
So it was super easy to add this functionality in my super cool `checkov` wrapper package, I didn't have to add it to `checkov` itself. I think I can close this as other folks like me will do my method of wrapping `checkov`.

[2021-03-23 20:47] #379 closed

[2021-03-23 20:49] KevinHock commented on #152
This is kinda done as far as Terraform goes, re: my commit above ref'ing this issue

What should we do for cloudformation?

[2021-03-23 21:32] Porkepix commented on #482
I believe issue is still around. I guess issue isn't that high, but we had to put tag to ignore it.
Slack unfortunately isn't a very FLOSS-friendly tool, but it would be pleasure to talk about it on IRC, Matrix or XMPP :)

[2021-03-23 23:53] andir commented on #1010
I did some hacking on the code base on the parts that were highlighted in the last profiling runs. One of the bigger changes was getting rid of jmespath in the Terraform parser as it was consuming unreasonable amounts of time for the tasks it was given.

My current branch can be found here: https://github.com/bridgecrewio/checkov/compare/master...andir:random-hacking

The commits should detail a b

[2021-03-24 00:09] andir commented on #1010
Update: Using the above linked branch and running it against the same TF repository I mentioned in the original post the runtime is now down to 30m from the 1h and 50min I observed previously. This still requires a ~5-10x improvement before it is remotely acceptable for our CI runners but I am confident that we might be able to get there.

[2021-03-24 11:14] schosterbarak commented on #1010
@robeden wdyt?

[2021-03-24 15:28] robeden commented on #1010
@andir - Thanks for the report and apologies for the issues. I knew the current parser implementation isn't very efficient, but that's a good order of magnitude worse than I would have expected.

Avoidance of jmespath and usage of the lru_cache makes sense, but we can probably do better.

The problem is going to stem from the "looping parser" approach. The ultimate fix is to process as a graph, an

[2021-03-24 17:01] andir commented on #1010
:+1:

Yeah, the graph library would be my next stop at seeing what can be optimized there. It didn't look particular efficient in execution. It seems to be doing a lot of type checking yet again (and probably other stuff that isn't great either).

Yes, we have a lot of internal modules that are basically just instantiating other modules to deduplicate most of our logic.

Feel free to loop me in on

[2021-03-24 17:44] gimartin-orng opened #1017 "CKV_GCP_33 report metadata empty with google_compute_project_metadata_item defined"
checkov (1.0.844) report CKV_GCP_33 failed with oslogin using "_google_compute_project_metadata\_**item**_"
[code]
instead of "_google_compute_project_metadata_"
[code]
checkov returned:
[code]
You can find more detail about the google_compute_project_metadata_item resource [here](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_project_metadata_item)

[2021-03-24 18:53] andir commented on #1010
I just pushed a few more changes to the mentioned branch. The changes I did was reducing the duplicate dpath lookups and replace one of them with a simple dictionary `get()` call. I am now down to 23min of execution time. We can probably make this faster by ditching dpath in general. It doesn't seem like the graph is the primary problem but the way the lookups are made.

[2021-03-24 21:17] GaboFDC commented on #568
Hey, this would still be really nice to have? I could check about the guidance on how to implement, just a bit concerned on how big the scope will, I can contribute, but don't really have that much time.

[2021-03-24 22:27] metahertz commented on #568
Hey @GaboFDC! Thanks for jumping in here to 'unstale' this issue :) Any time at all is much appreciated. I've added the help wanted tag too, lets see if we can create a little Pulumi team!

[2021-03-25 02:06] robeden commented on #1010
I tested the lru_cache on `find_var_blocks` and I'm seeing unit test failures when that's added. Still trying to figure out if they're real problems or not...

[2021-03-25 15:55] SebastianBalle commented on #976
Thanks, @marcindulak! This syntax was not so obvious but it worked.

[2021-03-25 15:55] #976 closed

[2021-03-25 20:54] andir commented on #1010
I could imagine there being failures in tests if the returned objects are being mutated somewhere. That would likely yield to the cache returning "dirty" results instead of what you would expect.

[2021-03-25 21:01] robeden commented on #1010
I don't think that should be the case... but it's possible. Sorry, haven't had time to dig into it more yet.

[2021-03-29 14:34] fculpo commented on #741
Hi,
I'm also having this issue, my storageaccount is between 3 and 24 characters and terraforms creates it just fine.
However, checkov keeps raising CKV_AZURE_43

[2021-03-29 19:33] scott-sudweeks commented on #713
This got me too.

Per source code https://github.com/bridgecrewio/checkov/blob/25388a34231e09ac17b266ad9db0b4c0e806e956/checkov/kubernetes/checks/RootContainersHighUID.py#L97

The check is actually evaluating for >= 10,000.

I would suggest that the problem is with the messaging/documentation of CKV_K8S_40 indicating the value needs to be above 1,000.  The check and messaging should match as to no

[2021-03-29 20:23] scott-sudweeks opened #1021 "K8S checks not recognizing configuration on container in type Job"
**Describe the bug**
K8S checks CKV_K8S_28 and CKV_K8S_37 are failing for my configuration file.  I applied the fix properly following K8S official documentation.  Checkov scanner is still failing for those checks.  I believe this is because my container is part of a list nested in spec|template|spec|containers in a K8S object type of JOB.  Checkov scanner for these rules appear to only support th

[2021-03-30 08:09] MaxiPalle commented on #741
Problem still exists with version 1.0.862.

[2021-03-30 11:17] schosterbarak commented on #1010
@andir @robeden please wait with new commits on this. @nimrodkor's team is leading a big performance change. The PR should be opened soon. I hope we will see different results after those changes. We did see a very big change on our own repos.

[2021-03-30 11:59] schosterbarak commented on #1010
here it is: https://github.com/bridgecrewio/checkov/pull/1023/files

[2021-03-30 12:09] robeden commented on #1010
@andir - Nimrod reports run time reduction of about 60%, but I expect it to be much higher in your case. The iterative approach has a loop on variables and then a loop on modules (possibly at multiple levels) so I expect you’re seeing an “N * M” (at least) scenario.

[2021-03-30 16:55] metahertz commented on #713
Thanks @scott-sudweeks, thats exactly the case, due to systems commonly starting non-root and non-system users at 1000+, so 10,000 seemed like a safe buffer.

Apologies @ajchiarello I didn't do a very good job of explaining that, we do indeed trigger on anything less than UID 10,000.

I've updated the documentation in the checkov guidance link for this check to reflect 10,000 and added more inform

[2021-03-30 17:12] floh96 opened #1025 "#1022 broke colered output for gitlab ci"
in #1022 the docker image was switched to alpine but in the alpine image the script package is not included witch is needed for  colered output for gitlab ci. See https://www.checkov.io/4.Integrations/gitlab.html

Screenshot

![Unbenannt](https://user-images.githubusercontent.com/49693964/113028643-c9f9b900-918b-11eb-9e2f-1028fd408f51.PNG)

[2021-03-30 17:13] schosterbarak commented on #1025
@floh96 do you know which package we should add to the docker file to add that?
We would accept a PR on that.

[2021-03-30 17:42] ismailyenigul commented on #1025
It is util-linux package @schosterbarak  https://pkgs.alpinelinux.org/contents?file=script&path=&name=util-linux&branch=edge&repo=main&arch=x86_64

[2021-03-31 07:38] camaeel commented on #777
But it works for modules as well.

[2021-03-31 08:07] floh96 commented on #1025
@ismailyenigul thank you for your comment I didn't know about the package search.
I googled and found https://github.com/gliderlabs/docker-alpine/issues/160 and opened the pr.
@schosterbarak as a follow up it would be possible to remove the package from the dockerfile and add it to a before script block in the gitlab-ci.yml
[code]
this would be a breaking change for existing gitlab users of course

[2021-03-31 11:42] andir commented on #1010
Thanks for the work! I'll give this a try in a bit. It is a massive PR that must have been cooking for a while! Will have a look at it.

[2021-03-31 11:47] mustafa89 opened #1027 "Add documentation/References"
Please add reference for:

[code]

[code]

[code]
[code]
Would be greatly appreciated. :)

[2021-03-31 12:57] nwsparks commented on #401
Confirmed that this behavior is still present on the latest version of checkov.

[2021-03-31 13:09] andir commented on #1010
I just finished running this against the same repository as mentioned initially. The entire process now only takes about 4 minutes instead of the initial 1h 50min! I did not apply any patches to the code.

Not sure if it is new but I didn't managed to run this code without network access (anymore?). I had to set an invalid http proxy to get it going without network:

[code]

[2021-03-31 13:16] schosterbarak commented on #1027
hi @mustafa89 good shout. those are sourced from: https://cloudsplaining.readthedocs.io/en/latest/glossary/privilege-escalation/
I'll add a guideline link to those soon.

[2021-03-31 14:59] quixoticmonk opened #1029 "Links to documentation broken"
**Describe the bug**
The links to the bridgecrew.io based documents or blogs are broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/bridgecrewio/checkov
2. Select read the docss : https://docs.bridgecrew.io/?utm_campaign=checkov-github-repo&utm_source=github.com&utm_medium=read-docs-button
3.
![Screen Shot 2021-03-31 at 10 59 02 AM](https://user-images.githubuse

[2021-04-01 03:01] quixoticmonk commented on #1029
Seems to be fixed now. I guess the domain wasn't renewed during the time I was checking.

[2021-04-01 08:08] schosterbarak commented on #1029
We had a nameserver migration that went a little off. Thank you for reporting this.

[2021-04-01 08:08] #1029 closed

[2021-04-01 13:25] Marcus-James-Adams opened #1033 "CKV_AZURE_46 fails if variables.tfvars is located in a different folder"
**Describe the bug**
Check: CKV_AZURE_46: "Specifies a retention period of less than 90 days."
        FAILED for resource: azurerm_mssql_database_extended_auditing_policy.server
        File: /sql_auditing_and_diags.tf:11-18
        Guide: https://docs.bridgecrew.io/docs/bc_azr_general_12

                11 | resource "azurerm_mssql_database_extended_auditing_policy" "server" {
                1

[2021-04-01 13:32] ebrucucen opened #1034 "Avoiding provisioning of Default VPC on AWS"
**Why?**
It is recommended not to use the default VPC, and they can create extra trouble when we want to check if VPC flow logs are enabled as by default the default VPCs do not enable the flow logs.

**How? **
As check would be about scanning terraform plan file, the recommended method would be deleting all default VPCs and running Checkov to fail any attempt to provision a default VPC

**Describ

[2021-04-01 13:34] Marcus-James-Adams opened #1035 "CKV_AZURE_23 - Reports incorrect fail when using azurerm_mssql_server_extended_auditing_policy"
Check: CKV_AZURE_23: "Ensure that 'Auditing' is set to 'On' for SQL servers"
        FAILED for resource: azurerm_mssql_server.server
        File: /sql_server.tf:19-37
        Guide: https://docs.bridgecrew.io/docs/bc_azr_logging_2

                19 | resource "azurerm_mssql_server" "server" {
                20 |   name                          = "${var.org_short}-${var.env_short}-${var.loc_sh

[2021-04-05 15:51] luckymike opened #1037 "Managed IAM Policies Fail with any use of `*`"
**Describe the bug**
In the latest version (1.0.865), it appears that a managed IAM policy will trigger a failure if either of `Resource` or `Action` is set to `*`. This is an overly naive check, as even a policy with `"Effect": "Deny"` will trigger a failure.

I believe this was introduced here: https://github.com/bridgecrewio/checkov/pull/1030

**To Reproduce**
Steps to reproduce the behavior:
1

[2021-04-06 21:50] #47 closed

[2021-04-06 21:50] #140 closed

[2021-04-06 21:50] #151 closed

[2021-04-06 21:50] #145 closed

[2021-04-06 21:50] #154 closed

[2021-04-06 21:50] #153 closed

[2021-04-06 21:51] #168 closed

[2021-04-06 21:51] #161 closed

[2021-04-06 21:51] #171 closed

[2021-04-06 21:51] #172 closed

[2021-04-06 21:51] #142 closed

[2021-04-06 21:51] #141 closed

[2021-04-06 21:51] #156 closed

[2021-04-06 21:51] #175 closed

[2021-04-06 21:51] #147 closed

[2021-04-06 21:51] #88 closed

[2021-04-06 21:51] #301 closed

[2021-04-06 21:51] #300 closed

[2021-04-06 21:51] #290 closed

[2021-04-06 21:51] #178 closed

[2021-04-06 21:51] #180 closed

[2021-04-06 21:51] #181 closed

[2021-04-06 21:51] #194 closed

[2021-04-06 21:51] #183 closed

[2021-04-06 21:51] #176 closed

[2021-04-06 21:51] #177 closed

[2021-04-06 21:51] #51 closed

[2021-04-06 21:51] #444 closed

[2021-04-06 22:50] #160 closed

[2021-04-06 22:50] #35 closed

[2021-04-06 22:50] #510 closed

[2021-04-06 22:50] #185 closed

[2021-04-06 22:50] #45 closed

[2021-04-06 22:50] #537 closed

[2021-04-06 22:50] #299 closed

[2021-04-06 22:50] #314 closed

[2021-04-07 11:23] davidh-unmind commented on #661
@OtherDevOpsGene did you resolve this issue? I have a similar desire.

[2021-04-08 08:47] #1025 closed

[2021-04-08 13:44] robeden commented on #155
Fixed by #1023

[2021-04-08 19:08] ac-square opened #1044 "cvk_aws_76 fails during a scan when the Cloudwatch Group is being created alongside the API Gateway"
**Describe the bug**
cvk_aws_76 - "Ensure API Gateway has Access Logging enabled" fails during a scan when the Cloudwatch group is being created alongside the API Gateway. The ckv_aws_76 check is [looking](https://github.com/bridgecrewio/checkov/blob/master/checkov/terraform/checks/resource/aws/APIGatewayAccessLogging.py#L16) for the existence of a `destination_arn` from the `access_log_settings`

[2021-04-09 12:06] njgibbon commented on #1037
@luckymike  Hello,

Thanks for raising this.

Over the past month we have been adding the use of Cloudsplaining so that we re-use good work that is already being done out in the community ( https://github.com/salesforce/cloudsplaining ).

CloudFormation has lots of different ways a policy can get in to a Resource so we are working to support the scanning of all of them in an efficient way - hence

[2021-04-09 14:21] ismailyenigul opened #1049 "download-external-modules parameter does not download remote modules on v2.0"
**Describe the bug**
 `--download-external-modules true` option download remote modules and scan it.
It was working on v1.X release but does not work on checkov 2.0

**To Reproduce**
Steps to reproduce the behavior:
export LOG_LEVEL=DEBUG
checkov -d . --download-external-modules true

It will not download any remote modules.

**Expected behavior**
It should download remote modules and scan it.
**S

[2021-04-09 15:37] robeden opened #1051 "Tracking: networkx vulnerability"
**Describe the bug**
[Snyk reports](https://snyk.io/vuln/SNYK-PYTHON-NETWORKX-1062709) a new Deserialization of Untrusted Data vulnerability in networkx. This should be fixed with networkx/networkx#4541. When that is released, Checkov dependencies should be re-locked.

**Additional Context**

Snyk found via `kubernetes/requirements.txt`
![Screen Shot 2021-04-09 at 10 37 09 AM](https://user-images.

[2021-04-09 16:40] kylelaker opened #1055 "CKV_AZURE_12: Retention policy of 0 is not supported"
**Describe the bug**
When setting the `retention_period.days` value on `azurerm_network_watcher_flow_log` to `0`, `CKV_AZURE_12` still fails. `0` is the value to signify indefinite/forever retention.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an `azurerm_network_watcher_flow_log` resource
2. Set
[code]
3. Run `checkov`
4. Receive failure for `CKV_AZURE_12`

**Expected behavior**

[2021-04-09 18:11] schosterbarak commented on #1049
fixed at: https://github.com/bridgecrewio/checkov/pull/1053

[2021-04-09 18:11] #1049 closed

[2021-04-09 18:40] robeden commented on #1051
@schosterbarak - Oh, I’m sure you’re not. Didn’t mean to imply you were, but it will just help checkov not to show up in vulnerability scans if it updates requirements to the new networkx version when available. There’s no urgent issue that needs to be worked around.

[2021-04-09 21:44] ashishpatel-git opened #1056 "Broken link in README.md"
Hi there, it appears that the link including a list of all checks performed is no longer working https://github.com/bridgecrewio/checkov/blob/master/docs/3.Scans/resource-scans.md. Is this located elsewhere?

[2021-04-09 21:44] ashishpatel-git commented on #1056
This is part of the first bullet under features:

* Over 750 built-in policies cover security and compliance best practices for AWS, Azure and Google Cloud.

[2021-04-09 23:11] ketumbra commented on #559
from screenshots above it seems to me that jenkins is not presenting the `file` attribute but reading the content of the tag. I don't think that's standard...

I would also like to see the check ID presented though, as it would make skipping a lot easier.

Further - it would be good if there was some docs for each check that could be linked to, justifying the reason for the check and acceptable us

[2021-04-10 00:09] njgibbon commented on #1037
Update - I am working on improving some internal docs and testing in Checkov. I have identified why the checks are failing and have initiated some work with Cloudsplaining to get a resolution 🙂 .

[2021-04-10 02:02] kmcquade commented on #1037
@njgibbon @luckymike - we fixed this on the Cloudsplaining side in 0.4.1. Nick, this should work for Checkov now if you update to the latest version of Cloudsplaining. Let me know if you need anything else with it!

[2021-04-10 04:42] schosterbarak commented on #1037
Thanks @njgibbon you've bit me to it! You are the best.
And thanks @kmcquade !

I'll bump cloudsplaining version tommorow so it would populate

[2021-04-10 07:41] afterdesign opened #1057 "Dockerfile scan fails when in directory and used -f"
**Describe the bug**
When running directory scan checkov shows Dockerfile failed checks. When scanning file no errors are shown.

**To Reproduce**
Create Dockerfile in directory `test` with content:
[code]

`checkov -f test/Dockerfile` won't show errors
`checkov -d test` will show error

**Expected behavior**
Show error in both cases.

**Screenshots**
<img width="892" alt="Screenshot 2021-04-10 at

[2021-04-10 08:16] nimrodkor commented on #1056
Hi @ashishpatel-git !
We've taken our policy index to a new location - https://github.com/bridgecrewio/checkov/tree/master/docs/5.Policy%20Index
Please note we are still working on updating these docs, so expect changes in the coming week or so!

[2021-04-10 08:16] #1056 closed

[2021-04-10 08:19] nimrodkor commented on #1055
That would be a very welcome contribution @kylelaker !

[2021-04-10 15:04] ismailyenigul commented on #610
I think skipping module is a very important feature to avoid reporting on external modules.

[2021-04-11 06:50] #1055 closed

[2021-04-11 06:52] #1057 closed

[2021-04-11 08:47] #1037 closed

[2021-04-11 10:43] schosterbarak commented on #1010
hi @andir can you share the results with latest checkov version? did it improve the duration?

[2021-04-11 18:28] ismailyenigul opened #1068 "TypeError: not all arguments converted during string formatting then creates FP for CKV_AWS_111"
**Describe the bug**

Getting  TypeError: not all arguments converted during string formatting on scanning the following terraform code with d

[code]

[code]
And this error trigger the following false report.

[code]
Actually  `enable_flow_log` variable is default `false` by default. so `85  |   count = local.create_flow_log_cloudwatch_iam_role ? 1 : 0`  value must be 0 in  data "aws_iam_policy_d

[2021-04-12 08:49] ravi-mav opened #1070 "Include Policies for AWS Transit Gateway."
**Is your feature request related to a problem? Please describe.**
Recently I was trying to run checkov on my AWS Transit Gateway terraform module and the output file was showing 0 checks failed and 0 passed. After going through the documentation I found out that there are no policies for AWS Transit Gateway.

**Describe the solution you'd like**
Write some in-built policies for AWS Transit Gatewa

[2021-04-12 15:53] nwsparks opened #1071 "TypeError: sequence item 2: expected str instance, dict found returned when template with conditional in locals is used"
**Describe the bug**

This seems to have been introduced in checkov v2, it does not occur in v1

`TypeError: sequence item 2: expected str instance, dict found` returned when template with a conditional in locals is used

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. add this file in an empty directory
[code]

2. run `checkov -d . --framework terraform`

**Expected behavior**

It s

[2021-04-12 19:20] #1034 closed

[2021-04-12 22:33] acdha opened #1074 "Denoising CKV_AWS_135 for enabled-by-default instance types"
CKV_AWS_135 triggers for any EC2 instance which doesn't have `ebs_optimized` in the metadata. This can be noisy on projects which use the many instance types which are EBS optimized by default:

https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-optimized.html

I don't believe there's not a great way to handle this without API calls or maintaining a list of instance types but I wonder whether

[2021-04-12 22:40] #591 closed

[2021-04-13 07:49] schosterbarak commented on #1074
@acdha i think we can do an api call as part of the packaging pipeline of checkov and by that keep the list up to date.
do you know what API or aws CLI command will help us get this data?

[2021-04-13 11:46] gruebel opened #1076 "S3 default encryption duplicate?"
**Describe the bug**
With the new `checkov` 2.0 version a couple of new checks were added and one them is `CKV_AWS_145` (Ensure that S3 buckets are encrypted with KMS by default), but there was already the check `CKV_AWS_19` (Ensure all data stored in the S3 bucket is securely encrypted at rest). So even you are complaint with the old one, you can be uncomplaint with the new one. So, does it even

[2021-04-13 12:06] nimrodkor commented on #1076
Hi @gruebel !
The slight difference is the usage of KMS vs AES256
For some use cases, KMS is not required - in other it is. You can use the skip comment to justify why the bucket doesn't require KMS keys.

Does that make sense?

[2021-04-13 13:25] acdha commented on #1074
Based on https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeInstanceTypes.html I think that'd be `DescribeInstanceTypes` with `ebs-info.ebs-optimized-support=default`:

[code]

[2021-04-13 13:52] gruebel commented on #1076
Looking at it and thinking about it, it seems to make sense 😄 yeah, let's close it. Thanks @nimrodkor for your description 👍

[2021-04-13 13:52] #1076 closed

[2021-04-13 14:03] ismailyenigul opened #1078 "CKV_AWS_148 fails on resource "aws_default_vpc" with count"
**Describe the bug**
Does checkov 2.0 evaluate count value?
In the following example manage_default_vpc variable is default false but checkov 2.0 triggers a failure.

Hi @nimrodkor  @schosterbarak
Does checkov 2.0 evaluate count value?
In the following example `manage_default_vpc` variable is default false but checkov 2.0 triggers a failure.

[code]
source code to reproduce:

[code]

**To Reproduc

[2021-04-13 16:07] gruebel opened #1079 "CKV_AWS_129 - RDS logs enabled"
**Describe the bug**
I just want to verify, what this check really wants to check. Looking at the info message it complains about me not enabling logs for my database, which I'm doing `enabled_cloudwatch_logs_exports = ["general", "error", "slowquery"]`. Looking at the code of the check, it actually checks for the presence of the field `monitoring_role_arn`, which is ok to check, but has nothing t

[2021-04-13 18:04] schosterbarak commented on #1079
@livnoni can you please advise?

[2021-04-13 20:13] kmcquade opened #1081 "Checkov directory scans fail for Git submodule relative paths"
**Describe the bug**

I wrote a script to recursively download 100s of Git repositories with Terraform code from GitHub enterprise. Some of these repositories leverage Git submodules, and those Git submodules leverage relative paths.

**To Reproduce**

Here's an example of an offending `.gitmodules` file.

[code]

As mentioned in the above Git documentation, the git modules should understand this

[2021-04-13 20:19] gruebel opened #1083 "CKV_AWS_139 - RDS cluster deletion protection"
**Is your feature request related to a problem? Please describe.**
I think it is great to check, if deletion protection is enabled or not, but is there a reason, why it is only checking for `aws_rds_cluster` and not includes `aws_db_instance`? They are quite similar.

I'm happy to either extend this check to include DB instances or add a new one to check separately for them.

**Additional context*

[2021-04-14 07:25] gruebel opened #1084 "Duplicate check"
**Describe the bug**
The new check `CKV_AWS_125` popped up complaining about me not activating point in time recovery for a DynamoDB table, which is surprising, because I already acknowledged it in the past. After digging into the code I found out that check `CKV_AWS_125` and `CKV_AWS_28` are identical. It would be great to delete one of them, probably the new one.

**Additional context**
https://

[2021-04-14 07:54] gruebel opened #1085 "CKV_AWS_119 - DynamoDB table encryption"
**Describe the bug**
In general DynamoDB tables are encrypted by default and this can't be turned off, you can change it to use a KMS key of your choice. Therefore the check description is incorrect.

Further infos can be found in the API documentation https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_SSESpecification.html

[2021-04-14 09:46] #1085 closed

[2021-04-14 16:23] larryboymi opened #1087 "File-based configuration"
**Is your feature request related to a problem? Please describe.**
Custom configuration of included/excluded checks/etc can get a little lengthy in the CLI flag-based config, would be nice to externalize this to some JSON/yaml/whatever.

**Describe the solution you'd like**
Make file-based configuration an option.

[2021-04-14 16:30] larryboymi commented on #698
@RealArtemiy I was about to ask for a feature similar to this, basically just allowing skip/suppression based on resource/module path (specified in CLI flag or external file such as you requested) rather than solely via annotation.

[2021-04-14 16:30] #1087 closed

[2021-04-14 16:30] larryboymi commented on #1087
I just realized this might be a duplicate of #555

[2021-04-14 16:33] larryboymi commented on #560
I would like something similar to the skip/suppress annotation functionality to be possible via CLI flag or external file as well. My use-case is enabling developers to submit terraform which must comply with policy (and adhering to approved exceptions to policy).

[2021-04-14 17:17] tronxd commented on #560
Please refer to the `--check` and `--skip-check` flags. Would those satisfy your requirements?

[2021-04-14 17:19] larryboymi commented on #560
@tronxd do those let you specify which resources/modules to skip the check for?

[2021-04-14 17:23] tronxd commented on #560
@larryboymi you can use the `--framework` / `--skip-framework` flags for restrictions on specific IaC type(s). The --check flag restrict specific checks on specific resource types, so tweaking it to scan only specific resource types is feasible. Explicit resource types granularity is not supported yet, but that's a great idea.
@schosterbarak WDYT?

[2021-04-14 17:27] larryboymi commented on #560
@tronxd yeah we track exceptions to policy at a granular level, and bring those exceptions into consideration during our CI/CD, so would like to incorporate an ability to specify which resources to allow the check to find new issues still.

Letting the teams that submit the terraform annotate their own code doing the same might cause us some problems if it was abused.

[2021-04-14 18:12] #401 closed

[2021-04-14 21:21] #476 closed

[2021-04-15 14:51] matthewdeanmartin commented on #1079
I'm disabling the rule, I can't figure out how to comply with it.

[2021-04-15 16:37] nimrodkor commented on #1083
Hi @gruebel !

The reason behind this decision is that compute sizes might need to change, and removing compute resources does not endanger the cluster. In essence, a cluster saves the your data if it has 0 instances.
So to preserve data we recommend enabling deletion protection on those clusters. On the instances - it might just make it harder to scale that way

[2021-04-15 16:58] gruebel commented on #1083
@nimrodkor
sure, that makes sense, but I'm not talking about cluster instances, which are `aws_rds_cluster_instance`. I mean the good old single or multi-az instances `aws_db_instance`.

[2021-04-15 16:58] nimrodkor commented on #1078
Hi @ismailyenigul , this is the output I'm getting when running the above example:
[code]

Can you check if it was somehow resolved between 2.0.39 and 2.0.46?

[2021-04-15 17:15] ismailyenigul commented on #1078
Hi @nimrodkor
Did you  pass  `--download-external-modules true` ?
same error with  2.0.46
[code]

[2021-04-16 09:03] andir commented on #1010
I just ran the latest version from the master branch (99707fd10a5052b798314342f012ef4e139f92eb) against my repo.

Testing just our `modules` subdir is now taking only 19 seconds. Running it against all the workspaces at the same time takes about 2 minutes and 22 seconds.

A huge improvement from the initial results! Thanks for your work on this! This is already much closer to what I would consider

[2021-04-16 09:24] andir opened #1089 "File that only contains locals with expression can't be parsed"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

Note: It doesn't matter if the variables are declared or not the error that is visible to me is always the same.

**To Reproduce**
Steps to reproduce the behavior:
1. Write the above example into a file
2. Run cli command  'checkov -f  my_file.tf`
3. See error

**Expected behavior**
The expression is valid HCL Terraf

[2021-04-16 14:15] ChapChap opened #1090 "CKV_AZURE_109 tfsec collision AZU020"
There is a collision between guidelines on which nacl rule to add to an azurerm_key_vault

[This doc](https://docs.bridgecrew.io/docs/ensure-that-key-vault-allows-firewall-rules-settings) from bridgecrew tells to allow default (which is what checkov checks)
[This doc](https://tfsec.dev/docs/azure/AZU020/) from tfsec.dev tells to deny default.

OMHO, I think tsec is right on that.

cf. https://gith

[2021-04-18 06:56] nimrodkor commented on #1090
Great catch @ChapChap !
Will be resolved in the PR mentioned above ^^

[2021-04-18 07:10] #1090 closed

[2021-04-18 07:14] nimrodkor commented on #1089
This is an issue in the underlying hcl parser, hcl2. We're using our own fork - https://github.com/bridgecrewio/python-hcl2
The problem is that it is multi-line. We would love a contribution if you're up for it

@arielkru / @schosterbarak FYI

[2021-04-18 07:22] nimrodkor commented on #1083
@gruebel
Me neither :)
I'm talking about the cluster (`aws_rds_cluster`) vs any instance (`aws_rds_cluster_instance` / `aws_db_instance`)
The cluster should have deletion protection. The instance is replaceable - and enabling deletion protection on it can be limiting for no good security reason

[2021-04-18 07:28] #1084 closed

[2021-04-18 07:58] nimrodkor commented on #1079
@gruebel You're right. A fix PR would be welcome!

[2021-04-18 17:21] #1079 closed

[2021-04-19 16:34] atz-dev opened #1101 "Error while checking Dockerfile USER set with env variable"
**Describe the bug**
The **checkov** CLI return an error when analyzing a Dockerfile with USER set according to an ENV variable.

**To Reproduce**
Steps to reproduce the behavior:
1. Get this snippet :
[code]
2. Run cli command  'checkov -f Dockerfile'
3. See error

**Expected behavior**
No error.

**Screenshots**
<img width="750" alt="" src="https://user-images.githubusercontent.com/44492274/1152

[2021-04-19 20:25] gruebel commented on #1101
Thanks for reporting the error, I took a look into my code and realized, how we test the docker checks is actually incorrect and that's why this error slipped through 🙈

[2021-04-19 21:24] #1101 closed

[2021-04-20 13:12] xanhacks opened #1103 "Terraform scan - OpenStack provider ?"
Hello,

Do you plan to support Terraform scans with OpenStack in the future ?

Regards

[2021-04-20 13:14] schosterbarak commented on #1103
Hi @xanhacks this can be a relatively easy contribution:
take a look at: https://www.checkov.io/6.Contribution/Contribute%20New%20Terraform%20Provider.html
we would gladly accept a PR on it

[2021-04-20 13:17] schosterbarak commented on #1010
great @andir - i'm closing the issue for now. If you'd like to make further improvements, we would accept a PR.

[2021-04-20 13:17] #1010 closed

[2021-04-20 20:42] eric-kinsa commented on #991
Just chiming in that I'm experiencing the same issue ("Error parsing file") with several of my Terraform state files. I use conditionals a fair amount since I use modules for mostly everything.

[2021-04-21 10:14] dwilliams782 opened #1108 "Unable to use multi-part yaml files --- separated"
**Describe the bug**
When defining custom rules, I expected to be able to group similar rules into a yaml file, such as:

[code]

However this fails with:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a file with two or more definitions
2. run `checkov -f <your-file>.tf --external-checks-dir /your/path --quiet`

**Expected behavior**
Multi-part files should be loaded correct

[2021-04-21 11:18] dwilliams782 opened #1109 "AttributeError: 'NoneType' object has no attribute 'get' with an empty yaml file in custom dir"
**Describe the bug**
When an empty yaml file is declared in an external checks dir, you get this AttributeError

`AttributeError: 'NoneType' object has no attribute 'get'`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a directory with an empty yaml file
2. Point checkov at that custom directory: `checkov -f <your-file>.tf --external-checks-dir <your-path>`

**Expected behavior**
The

[2021-04-21 11:28] dwilliams782 opened #1110 "TypeError: can only concatenate list (not "str") to list when using or conditions in custom rules"
**Describe the bug**
When using an or condition in a custom rule, checkov errors if resource_types is given as a string:

[code]

[code]

Passing resource_types as a list works correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a yaml file with the above custom rule, and run `checkov -f <your-file>.tf --external-checks-dir <your-path>`

**Expected behavior**
If the resource ty

[2021-04-21 14:26] eparisca opened #1111 "Pipelines no longer stopping upon checkov failed checks"
Dear team,

It appears that since checkov https://github.com/bridgecrewio/checkov/releases/tag/2.0.49 our pipelines went from erroring to passing without any changes on our side. Is it the case that checkov is no longer returning non-zero exit codes? Is this the new expected behavior? If so, the [documentation does not currently reflect it](https://www.checkov.io/4.Integrations/Bitbucket%20Cloud%2

[2021-04-21 17:29] #603 closed

[2021-04-21 17:57] larryboymi commented on #1111
I was going to comment the same! Thanks for raising this

[2021-04-21 18:00] schosterbarak commented on #1111
Thank you so much! we've just pushed a fix at: https://github.com/bridgecrewio/checkov/pull/1112
would you mind checking again with latest version?

[2021-04-21 18:18] larryboymi commented on #1111
I did, version `2.0.67` worked for me. Thanks!

[2021-04-21 19:32] eparisca commented on #1111
Confirmed 2.0.67 workes as expected! Thank you @mikeurbanski1 !!!

[2021-04-21 19:32] #1111 closed

[2021-04-22 15:58] dwilliams782 opened #1114 "TypeError: object of type 'NoneType' has no len() when using "all" custom check"
**Describe the bug**
I'm trying to implement a custom check that makes sure all resources contains a label:

[code]

Using "all" rather than any explicit resource (e.g. it works with `google_storage_bucket`):
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a custom check with "all" as a resource type

**Expected behavior**
No error

**Desktop (please complete the following info

[2021-04-22 16:04] dwilliams782 opened #1115 "Feature: Provide our own guideline link in a custom check"
**Is your feature request related to a problem? Please describe.**
We are implementing checkov with the --output github_failed_only mode enabled. This leaves all failed custom checks with an empty guideline column.

**Describe the solution you'd like**
We should be able to include "guideline" in the metadata section of a custom check.

[2021-04-22 16:10] dwilliams782 opened #1116 "When scanning a terraform plan, module resources are not fully qualified in the resource name"
**Describe the bug**
![image](https://user-images.githubusercontent.com/42545485/115747593-52cfd300-a38d-11eb-82bb-380fc047d020.png)

each instance here of `google_storage_bucket.this` is created by a module, but we are unable to see which module is invoking this because the resource doesn't include `module.x.` before it.

**To Reproduce**
Steps to reproduce the behavior:
1. Scan a plan that conta

[2021-04-23 11:49] ismailyenigul opened #1117 "terraform plan control result correct but reported lines are not correct"
**Describe the bug**
While scanning the  terraform plan files, if there are multiple  failures for the same check(CKV_AWS_25 in this case)
,  checkov reports the first failed lines for all other resources failures in the output.

**To Reproduce**
Steps to reproduce the behavior:
Tf code to test:

[code]
Create tf plan
[code]
As you can see above, all failed lines are tf.json:90-103 but the in terr

[2021-04-26 06:15] nimrodkor commented on #1114
Hey @dwilliams782 !

It seems your policy is missing the `scope` block. When you mention specific resource types, it is fine to leave this block out. However, when specifying 'all', it is also required to add a provider. Example for your policy:
[code]

Please reference the relevant resource types as listed in [resource_types.py](https://github.com/bridgecrewio/checkov/blob/0f325a42f88d389a80fe5cf

[2021-04-26 08:28] schosterbarak commented on #1115
Hi @dwilliams782 . Thank you for this one. This feature is available in the bridgecrew.cloud platform. Feel free to give it a try :)

[2021-04-26 10:53] dwilliams782 commented on #1114
Thank you, I took my example from the first example here which does not have a provider:

https://www.checkov.io/3.Custom%20Policies/Examples.html

[2021-04-26 11:31] dwilliams782 commented on #1114
@nimrodkor do you know if this is supported in Python checks? Can't see `scope` or `provider` in the base class, but it's very possible I'm not looking in the right place?

[2021-04-26 13:28] loque1 opened #1127 "Adding in a way to generate Check Statistics and Filter on said statistics"
I would like to have a way to have a tabulated output of checkov output showing frequency of failures similar to a tf-sec feature https://github.com/tfsec/tfsec/pull/692

With the ability to filter on these simple statistics.

With the options of --run-statistics and --filter-statistics.  I have created a basic Python script  that can produce what I want but it would be nice if the tool had this o

[2021-04-26 14:04] dwilliams782 opened #1128 "<string>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?"
**Describe the bug**
We get the syntax error above when running checkov against certain directories:

![image](https://user-images.githubusercontent.com/42545485/116095490-61293200-a6a0-11eb-8e54-fac79ac33d51.png)

I've narrowed this down to being caused by .auto.tfvars, this is the example config:

[code]

[code]

If I replace the auto.tfvars file with locals, the error goes away.

**To Reproduce

[2021-04-26 14:05] artem-hatchenko opened #1129 "CKV_AWS_134: Skip Memcache engine"
**Describe the bug**
"snapshot_retention_limit" - parameter only for "Redis" engine and in my TF module for Memcache it doesn't exist. But when I run "checkov" I got the following:

[code]

**Terraform module**
[code]

**memcache.tf**
[code]

**Expected behavior**
If engine is "memcache" then check must be skipped.

**Desktop:**
 - OS: macOS Big Sur - 11.2.1
 - Checkov Version: 2.0.77

[2021-04-26 15:28] ismailyenigul opened #1130 "False positive for Check: CKV_AWS_58: "Ensure EKS Cluster has Secrets Encryption Enabled""
**Describe the bug**
Tested the example at
https://github.com/terraform-aws-modules/terraform-aws-eks/blob/master/examples/secrets_encryption/main.tf#L66
Secret is enabled but checkov reports it is not!
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  git clone https://github.com/terraform-aws-modules/terraform-aws-eks
2. cd terraform-aws-eks/examples/secrets_encryption
3. checkov -d

[2021-04-26 15:29] lengland opened #1131 "CKV_AZURE_109 is case sensitive"
**Describe the bug**
Creating an Azure Key Vault using Terraform without `network_acls` block triggers `CKV_AZURE_109` to be raised
Adding the block defined [on the checkov docs](https://docs.bridgecrew.io/docs/ensure-that-key-vault-allows-firewall-rules-settings) fixes the check, but fails deployment as the allowed values are `[Allow Deny]` in Terraform.
Changing the `default_action = "deny"` to

[2021-04-27 10:39] dwilliams782 opened #1133 "-c CHECK doesn't seem to work for custom checks?"
**Describe the bug**
I have a bunch of custom checks which correctly report errors:
![image](https://user-images.githubusercontent.com/42545485/116228260-f3870f80-a74c-11eb-89af-49f5b8f1e477.png)

However, I can't pass those in using the `-c` arg:

![image](https://user-images.githubusercontent.com/42545485/116228356-17e2ec00-a74d-11eb-8ace-777a15021723.png)

I verified it works if you pass in one

[2021-04-27 11:10] dwilliams782 opened #1135 "terraform_plan scan doesn't seem to use custom checks"
**Describe the bug**

I have the following check to detect whether a bucket has been created by my module:

[code]

This correctly detects `google_storage_bucket` resources in the tf files, however it doesn't detect the same resources in the plan.

This is the output (github_failed_only) showing the output for my directory, note `CKV2_GCP_LH_GCS_01` is present in the top (tf) scan but not the bott

[2021-04-27 11:33] dwilliams782 commented on #1116
Is this a regression issue @robeden ?

https://github.com/bridgecrewio/checkov/issues/772

[2021-04-27 11:36] dwilliams782 commented on #1116
https://github.com/bridgecrewio/checkov/issues/772

This issue was closed but reports the same error. The "solution" that closed that PR appears to target when checkov is scanning a module directory, but the issue reported is related to the resource in the plan file.

[2021-04-27 11:39] JamesWoolfenden opened #1136 "Remediation block is adding invalid terraform"
**Describe the bug**
One of the checks remediations is adding (its a general flaw not just in this one check)
[code]
when it should adding a block
[code]
But the check (in this case CKV_AZURE_128) doesn't seem to be able to differentiate between the 2. It should be able to add the correct remediation and detect it in the check.

checkov -v
2.0.67

ran against https://github.com/JamesWoolfenden/ter

[2021-04-27 19:21] #457 closed

[2021-04-27 19:38] gruebel commented on #1133
@schosterbarak what is the expected behaviour here? I found the code part, which makes it not possible to set an `--external-checks-dir` and limit which ones to check via `--checks` flag.

[2021-04-27 19:40] #1129 closed

[2021-04-27 20:08] KevinHock commented on #530
Alrighty, can confirm this works now! 🥳 ⚡ 🍰

[code]
is a sample.

Thanks for playing everyone.

[2021-04-27 20:08] #530 closed

[2021-04-28 04:55] nhairs commented on #575
If `dataclasses` is the only 3.7 feature being used, it is possible to modify the `setup.py` `packages` to conditionally install it on 3.6 (we'd then need to update the `python_requires` as well).

If anyone know's if this is the case I'd be happy to create a PR that does this (or provide details).
(I'd add the snippet but I'm at work).

[2021-04-28 10:32] namloc2001 opened #1139 "README links broken"
**Describe the bug**
Hi, quite a few of the [README](https://github.com/bridgecrewio/checkov/blob/master/README.md) links are broken

**To Reproduce**
On README, click on:
 - Over 750 built-in policies - https://github.com/bridgecrewio/checkov/blob/master/docs/3.Scans/resource-scans.md
 - AWS Credentials - https://github.com/bridgecrewio/checkov/blob/master/docs/3.Scans/Credentials%20Scans.md
 - L

[2021-04-28 14:38] daviddob commented on #741
Can confirm the same behavior with the false positive. I have the following variable for name which ensures the same regex validation

[code]

however when passing it in as follows, CKV_AZURE_43 is raised
[code]

though hardcoding it to something that passes the regex satisfies the condition.
[code]

It is likely validating the literal `var.name` instead of a potential variable and as such because

[2021-04-29 08:40] SebastianBalle opened #1143 "CKV_AZURE_103 not accepting vsts_configuration as valid Git repository"
**Describe the bug**
The rule CKV_AZURE_103 only accepts the Github configuration for Git source control for an Azure Data Factory instance. However, it is possible to configure a Git source control using the `vsts_configuration`.

**To Reproduce**
Steps to reproduce the behavior:
Create the following resource
[code]

**Expected behavior**
Expected to accept both vsts_configuration and github_conf

[2021-04-29 08:47] SebastianBalle opened #1144 "CKV_AZURE_11 not accepting configuration for "Allow access to Azure services""
**Describe the bug**
The rule should accept the configuration to "Allow access to Azure services" described [here](https://docs.microsoft.com/en-us/rest/api/sql/2020-11-01-preview/firewallrules/createorupdate). This rule is critical to have in a pre-commit hook, however, must be ignored for now to allow for this configuration.

**To Reproduce**
Steps to reproduce the behavior:
Define the following

[2021-04-29 09:22] ismailyenigul commented on #1068
Hi @nimrodkor & @gruebel
#1142 fix #1078 but not the following one as reported above.

[code]
Background:

 count = local.create_flow_log_cloudwatch_iam_role ? 1 : 0 should be false in my case.
Because I don't enable flow log or If I enable,  I use flow_log_destination_type    = "s3"
in this case  https://github.com/terraform-aws-modules/terraform-aws-vpc/blob/master/vpc-flow-logs.tf#L5
count valu

[2021-04-29 09:28] gruebel commented on #1068
My guess is, that it is a data source and not a normal resource. Will have a look at it and hopefully fix it today.
Thanks for pointing that out, didn't see there were also other issues related to `count` 😄

[2021-04-29 14:56] istairbn opened #1145 "Sample Integration with Azure DevOps"
**Is your feature request related to a problem? Please describe.**
Currently, there are sample integrations with GitLab, Github etc. I'd like a similar document for Azure DevOps - specifically in configuring the Test Plans

**Describe the solution you'd like**
A similar documentation page to Jenkins, with screens and examples.

**Describe alternatives you've considered**
I mean, I could move to a

[2021-04-29 15:42] paliwalvimal opened #1146 "Unable to skip CKV_AWS_130"
**Describe the bug**
I have a two-tier network infrastructure template written in terraform which basically sets up a VPC network. In there, I have a public subnet block which has parameter `map_public_ip_on_launch` set to **true**. Even after adding `#checkov:skip=CKV_AWS_130:Public IP required in public subnet` within the resource check still fails. I do have other check skips but just the `CKV_

[2021-04-29 16:25] gruebel commented on #1146
I tried exactly your code and there was no issue on my side, my checkov version is a bit higher than yours, but I don't think that could be the problem

[code]

[2021-04-29 16:29] paliwalvimal commented on #1146
Where could I be possibly going wrong then? Anything from the screenshot that can help you identify the issue or is there anything I can provide you for help because I'm using other skip statements too in the same main.tf file and they all work. This is the only check that is failing.

<img width="643" alt="Screenshot 2021-04-29 at 9 59 28 PM" src="https://user-images.githubusercontent.com/3417034

[2021-04-29 16:52] paliwalvimal commented on #1146
One thing I noticed while running the scan in DEBUG mode is that the evaluation key is present for the public IP check for public subnet resource whereas there isn't any evaluation key for S3 MFA delete or any other checks I'm skipping.
<img width="1420" alt="Screenshot 2021-04-29 at 10 18 18 PM" src="https://user-images.githubusercontent.com/34170345/116588622-67860b00-a939-11eb-857d-3ad8925f37f8

[2021-04-29 17:39] artem-hatchenko opened #1148 "Check: CKV_AWS_84: "Ensure Elasticsearch Domain Logging is enabled""
**Describe the bug**
My TF module has enabled logging for all types: "INDEX_SLOW_LOGS, SEARCH_SLOW_LOGS, ES_APPLICATION_LOGS, AUDIT_LOGS", but I still got error:

[code]

**Elasticserach module:**
[code]

CW Log Groups, Policy, etc are created. Variable "log_publishing" by default = true.
Module deployed successfully and logging enabled, but "checkov" check not passed.

**Expected behavior**
All t

[2021-04-29 18:18] gruebel commented on #1148
Could you try to update your checkov version to the newest 2.0.087 version. When I run your config against I get one failed check, because I don't know what value `var.enforce_https` has in your setup.
[code]

[2021-04-30 07:47] artem-hatchenko commented on #1148
Hi Anton!
Thanks for the answer. I updated "checkov" up to 2.0.87, but get still the same result.

Also, if useful, I indicate the Terraform version: v0.14.10. Regarding "var.enforce_https" variable, is "true" by default.

It's my full output from Checkov:

[code]

[2021-04-30 07:50] artem-hatchenko commented on #1148
This is part of output from terraform plan command:

[code]

In it, we can see that logging will be enabled.

[2021-04-30 08:10] gruebel commented on #1148
ok, now I see the problem 😄 you probably have the variables defined in a separate file right, like `variables.tf`? and you chose to evaluate just the file with checkov `-f ../modules/elasticsearch/main.tf`, but you need to do it on the whole folder `-d ../modules/elasticsearch`. checkov can only evaluate the variables if they are also inside the file defined or in the folder scope.

[2021-04-30 08:18] artem-hatchenko commented on #1148
Check was passed successfully with "-d" key for directory:

[code]

But I use "-f" key only for show to you output. For run test I used the following commands:

[code]

[2021-04-30 08:43] gruebel commented on #1148
ah ok, the Terraform plan evaluation with checkov works a bit differently, sadly I have not that much experience with it 😢

[2021-04-30 09:47] artem-hatchenko commented on #1148
`checkov -d path_to_tf_code` works succesfull, I'll use it instead:

[code]

If I used outdated commands, we can close this thread, cause in that case this not issue.

BTW, I found this example in article from bridgecrew.io blog:

https://bridgecrew.io/blog/terraform-plan-security-scanning-checkov/

And for me it's worked fine, until I got issue with ES.

Thanks!

[2021-05-01 02:34] kevincantu opened #1151 "When using --skip-check the summary still reports "Skipped checks: 0""
Without the flag there are many checks done (18 in my sample Terraform code):
[code]

Using checkov 2.0.84, I find that if I skip a terraform check or terraform_plan check like so:
[code]

Then the total reported shows _nothing skipped_!
[code]

I would have expected the same total number of checks, just a bunch more skipped.  Does that make sense?

[2021-05-02 08:53] #1139 closed

[2021-05-03 01:50] #618 closed

[2021-05-03 21:42] jmeredith16 opened #1162 "Unable to Load Custom V2 Yaml Checks with --external-checks-dir"
Hello Checkov Team,

`checkov==2.0.107`

I'm struggling to load a custom Checkov check in the new `.yaml` format with `--external-checks-dir`.

**What I've done**
I've copied an existing check (just a POC for myself) and put it into a file `mychecks/S3BucketPublicAccessBlock.yaml`

[code]

When I execute Checkov with `checkov -d /tmp/project --external-checks-dir mychecks` against some example ter

[2021-05-04 07:40] nimrodkor commented on #1162
Hey @jmeredith16 (& @rohantandon)!

I'll check it out, but I expect [this line](https://github.com/bridgecrewio/checkov/blob/540cd26149a5993f7ffb9163c2ada1aee387631c/checkov/terraform/runner.py#L119) to be the one to do the trick, calling the [graph checks registry](https://github.com/bridgecrewio/checkov/blob/540cd26149a5993f7ffb9163c2ada1aee387631c/checkov/terraform/checks_infra/registry.py#L40)

[2021-05-04 07:41] nimrodkor commented on #1162
Looking at the code - we have a dedupe filter there to avoid creating multiple copies of the same check.
Can you modify the check ID and try again?

The filter ([found here](https://github.com/bridgecrewio/checkov/blob/540cd26149a5993f7ffb9163c2ada1aee387631c/checkov/terraform/checks_infra/registry.py#L37)):
[code]

[2021-05-04 07:47] nimrodkor commented on #1162
Hey @jmeredith16 , I'm having trouble reproducing this. The only way this happened is if I gave the wrong relative path.
Can you try the same command, with an absolute path to your external checks dir, and share the output?

[2021-05-04 08:29] dwilliams782 opened #1163 "Unable to see any CKV2 checks in the list"
**Describe the bug**
I posted this on Slack first and was confirmed it's a bug. I can't see any of the CKV2 checks when running `checkov -l`

**Expected behavior**
CKV2 / graph checks should be present working.

**Screenshots**
![image](https://user-images.githubusercontent.com/42545485/116978125-369c3200-acbb-11eb-9c7e-f9b7bea1118c.png)

**Desktop (please complete the following information):**
 -

[2021-05-04 11:08] htonkovac commented on #1131
I can confirm this is broken. I tried fixing the rule, but I am not sure if I need to update anything else: https://github.com/bridgecrewio/checkov/pull/1165

[2021-05-04 11:56] ckea commented on #739
I had this exact issue, I was using
pip 19.0.3 from /usr/local/homebrew/lib/python2.7/site-packages/pip (python 2.7)

and saw

[code]

Using pip3 there was no issue.

[2021-05-04 13:45] jmeredith16 commented on #1162
Thanks @nimrodkor - I'm out for a while this morning, but I'll check my code and try the absolute path + more details when I get a moment. Could just be a dumb mistake on my end.

Thanks for your help.

[2021-05-04 16:30] tomarv2 opened #1167 "Broken link: https://www.checkov.io/4.Integrations/pre-commit.html"
Hi Team, this link was working a couple of weeks ago I think and today when I tried to use it, it says not found.

<img width="943" alt="Screen Shot 2021-05-04 at 9 29 23 AM" src="https://user-images.githubusercontent.com/11890959/117037453-559ac400-acbb-11eb-9d09-25d208a8c300.png">

[2021-05-04 18:10] jmeredith16 commented on #1162
@nimrodkor You are 100% correct - I can see it is loading the custom test now that I futz with the name and ID. My confusion continues though!

I have a test project with the following Terraform
[code]

I've copied the check [here](https://github.com/bridgecrewio/checkov/blob/master/checkov/terraform/checks/graph_checks/aws/S3BucketHasPublicAccessBlock.yaml) to a `myTests` directory, changed the n

[2021-05-04 18:47] gruebel commented on #1162
I think @nimrodkor is already working on a fix for the yaml checks included in `checkov` -> #1166

[2021-05-04 19:25] gruebel commented on #1148
I think there in general some issues with the Terraform plan checks, which need further investigation, so your issue is still valid till it is fixed.

[2021-05-04 19:43] schosterbarak commented on #1167
Thank you @tomarv2 fixed!

[2021-05-04 19:43] #1167 closed

[2021-05-05 05:08] #1163 closed

[2021-05-05 08:04] gruebel commented on #1148
After further investigation, I found the issue. Since the Log Group is created in the same configuration and referenced here, the current logic doesn't consider this at the moment.

[2021-05-05 08:25] htonkovac commented on #1131
@lengland @schosterbarak My PR that fixes this behaviour was merged. How can I update the docs as well?

[2021-05-05 14:01] renehernandez opened #1169 "Running checks against terraform state"
**Is your feature request related to a problem? Please describe.**
For some features of terraform e.g. `for_each`, I would like to evaluate our custom checks against a terraform plan (in a pull request) and against the terraform state (after `terraform apply` and changes have been merged to our default branch). I can currently perform the custom checks against a terraform plan, but not a terraform

[2021-05-05 14:08] dc401 opened #1170 "Add filename to the output for each failed check when using directory option"
**Is your feature request related to a problem? Please describe.**
When scanning multiple files in a directory, failed checks while providing the line numbers of the offending code do not provide the filename associated with this. When you've got more than a handful of templates to check; this becomes cumbersome to back trace especially when you have similar code or variables names that one can't

[2021-05-05 16:01] schosterbarak commented on #1169
Hmm. interesting. would you mind sharing an anonymized state (without sensitive data ) for testing purposes?

[2021-05-05 17:10] lindseyvolta commented on #1162
I'm having a similar issue with CloudFormation. I'm able to create and execute a custom policy using Python, but any YAML checks are being ignored.

- `template.yaml`
- `python/`
- `yaml/`

I'm just using the sample custom policy example [here](https://www.checkov.io/3.Custom%20Policies/Examples.html).
[code]

When I run it, it seems to ignore the custom check and only runs the default policy chec

[2021-05-05 18:16] #631 closed

[2021-05-05 19:21] gruebel commented on #1162
@lvolta sadly the YAML checks only work with Terraform at the moment.

[2021-05-05 23:44] zachpetersen commented on #1128
I am having a similar issue with AzureRM provider Terraform. Error message is slightly different:

`<string>:1: SyntaxWarning: 'set' object is not subscriptable; perhaps you missed a comma?`

[code]

[2021-05-06 00:14] caruso-billfire opened #1173 "CKV_AWS_111 Fails on IAM write actions that cannot be restricted."
**Describe the bug**
There are IAM write actions that you cannot restrict via "resource"

**To Reproduce**
Add any of the following IAM actions to an IAM Policy Document

Write Actions:
 "xray:PutTraceSegments",
"xray:PutTelemetryRecords",

**Expected behavior**
Checkov should allow these actions to have "unrestricted write access".

Do you guys know if I need to add this issue to https://github.c

[2021-05-06 05:05] zachpetersen commented on #1145
This article helped me get going in Azure DevOps Pipelines:  https://adinermie.com/publishing-checkov-terraform-quality-checks-to-azure-devops-pipelines/

[2021-05-06 05:07] nimrodkor commented on #1068
Partially fixed in #1147 , still need to take a deeper look at ternary operators

[2021-05-06 05:18] nimrodkor commented on #1173
Hi @caruso-billfire !

You are correct, these checks are using logic in [cloudsplaining](https://github.com/salesforce/cloudsplaining). Do you mind opening an issue for it there?

[2021-05-06 05:18] nimrodkor commented on #1173
Keeping this issue open for tracking

[2021-05-06 05:22] nimrodkor commented on #1170
Hi @dc401 !

I checked the output of the latest checkov version, 2.0.115, and it does contain the file name for checks. Example:
![Uploading image.png…]()
There's the `Check: CKV...` line, then the result line (`FAILED for re...` or `PASSED for re...`) and then the `File: /...` line. Can you share your output please?

[2021-05-06 05:27] nimrodkor commented on #1162
Thanks for all the help @gruebel !
@jmeredith16 - please update checkov version, and if you still do not see the CKV2 checks - let me know!
@lvolta - Supporting graph for CloudFormation is on our roadmap, a dedicated issue with 👍  votes would definitely help push it!

Closing this issue as it is solved

[2021-05-06 05:27] #1162 closed

[2021-05-06 05:30] nimrodkor commented on #1151
Hi @kevincantu!
I realize the terms might be confusing, but the `Skipped checks` in the report are checks which were evaluated, but skipped. When utilizing the `--skip-check` functionality, you disable the evaluation of a specific check altogether - therefore they are not counted towards the `Skipped checks` counter.

I understand we should add this clarification somewhere, open to good ideas!

[2021-05-06 07:27] syphernl opened #1175 "CKV2_AWS_19 does not check for aws_eip_association"
**Describe the bug**
The CKV2_AWS_19 check reports that the EIP is not associated, but in our case we use `aws_eip_association` to associate it.
[code]

**To Reproduce**

We use the following Terraform code:
[code]

**Expected behavior**
Check CKV2_AWS_19 should not fail if the IP is assigned to the instance via `aws_eip_association`.

**Desktop (please complete the following information):**
 - OS

[2021-05-06 07:36] syphernl opened #1176 "CKV2_AWS_5 does not check for ecs_service or aws_dms_replication_instance"
**Describe the bug**

We're getting the following:
[code]

This security group is assigned to [ecs_service](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/ecs_service). Same error occurs when we create a SG and associate it with [aws_dms_replication_instance](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/dms_replication_instance).

**To Re

[2021-05-06 08:51] tronxd commented on #1128
Hi @dwilliams782, I ran the latest checkov version (2.0.117) against your configuration and got no errors. can you please try upgrading checkov and see if the problem persists?

[2021-05-06 08:52] tronxd commented on #1128
Hi @zachpetersen, do you mind sharing a sample (can be anonymized) so I will debug it?

[2021-05-06 13:43] #1175 closed

[2021-05-06 13:46] #1148 closed

[2021-05-06 14:27] dc401 commented on #1170
Hi, thanks for this, currently using  version: 2.0.113. I investigated further and because I was using PowerShell with the same color background your file line was not showing up. My apologies!

[2021-05-06 14:27] #1170 closed

[2021-05-06 15:57] nimrodkor commented on #1146
@paliwalvimal Hey!
looking at your output - is it just me or are the line numbers off?
That might affect the supression

[2021-05-06 16:22] paliwalvimal commented on #1146
Sorry, @nimrodkor. I didn't get your point.

[2021-05-06 16:23] caruso-billfire commented on #1173
Yup, I can open it there
You guys might want to check the terraform side of this though.

[2021-05-06 19:42] zachpetersen commented on #1128
Here is the file that seems to be triggering the error:

[code]

Here is the TF module link: https://github.com/hashicorp/terraform-cidr-subnets

[2021-05-07 08:32] dwilliams782 commented on #1169
@renehernandez are you sure custom checks are working against your plan? They aren't for me. See #1135

[2021-05-07 08:35] dwilliams782 commented on #1128
Hi, I've just tried with 2.0.124 and still see the same warnings.

[2021-05-07 20:00] caruso-billfire commented on #1176
Hello, we also noticed CKV2_AWS_5 not checking for when a security group is in use by an AWS Codebuild Project.

[2021-05-09 09:12] gruebel commented on #1176
@schosterbarak you can assign me, I'm right now working on it 😄

[2021-05-10 12:17] ppawlowski commented on #1176
CKV2_AWS_5 is also raised when the Security Group is attached in the aws_launch_configuration resource.

[2021-05-10 18:08] schosterbarak commented on #1128
fixed. thanks @tronxd

[2021-05-10 18:08] #1128 closed

[2021-05-11 13:28] #1176 closed

[2021-05-12 19:49] acdha opened #1203 "CKV2_AWS_5 false-positives"
It's not clear what the intention of this rule was since the documentation is mostly empty but it's triggering incorrectly:

https://docs.bridgecrew.io/docs/ensure-that-security-groups-are-attached-to-ec2-instances-or-elastic-network-interfaces-enis

I think there are a number of valid conditions which can trigger this:

* Security groups using the listed group as an ingress or egress target
* Sec

[2021-05-12 19:54] acdha opened #1204 "Better trigger conditions for CKV2_AWS_18 ("Ensure that Elastic File System (Amazon EFS) file systems are added in the backup plans of AWS Backup")"
CKV2_AWS_18: "Ensure that Elastic File System (Amazon EFS) file systems are added in the backup plans of AWS Backup"

There are least two conditions which cause this to fail:

* Conditional usage of Backup — for example, we only enable it on our production servers, not dev/test.
* Tag-based selection

The former could be handled by identifying Terraform a count/for_each condition but the latter se

[2021-05-12 20:13] acdha opened #1205 "Consider network interface attachments for CKV2_AWS_17: "Ensure that EC2 instances belong to a VPC""
This Terraform will trigger Check: CKV2_AWS_17: "Ensure that EC2 instances belong to a VPC":

[code]

The most obvious difference from the example in the documentation is that it uses `aws_network_interface_attachment` instead of a `network_interface` block on the `aws_instance`:

https://docs.bridgecrew.io/docs/ensure-that-ec2-instances-belong-to-a-vpc

[2021-05-12 20:20] acdha opened #1206 "False positive for CKV2_AWS_19 ("Ensure that all EIP addresses allocated to a VPC are attached to EC2 instances")"
This Terraform will generate the following error:

CKV2_AWS_19: "Ensure that all EIP addresses allocated to a VPC are attached to EC2 instances"

[code]

I'm assuming this is related to the use of `count`

[2021-05-13 11:47] bogdanbarna opened #1208 "False positive for CKV_AWS_143 ("Ensure S3 bucket has lock configuration enabled by default")"
**Describe the bug**

Checkov expects argument `object_lock_configuration` to be an object, i.e.

[code]

Terraform works with the above configuration, but when also declaring rules for the object lock configuration, it expects a block instead, e.g.
[code]

**Expected behavior**
Checkov should pass for a `object_lock_configuration` argument block.

**Desktop (please complete the following informat

[2021-05-13 14:53] #1205 closed

[2021-05-13 16:25] Raffaello opened #1211 "boto3 is fixed at the patch level version"
**Is your feature request related to a problem? Please describe.**
free boto3 dependency patch version.

**Describe the solution you'd like**
replace the line here:
https://github.com/bridgecrewio/checkov/blob/master/Pipfile#L29

with
[code]
**Describe alternatives you've considered**
there are no alternatives as the patch version i don't see why is locked.
it can cause conflicts with already inst

[2021-05-15 04:34] kmcquade commented on #1173
@nimrodkor @caruso-billfire @schosterbarak - I think I uncovered the underlying issue. See my comment in Cloudsplaining here: https://github.com/salesforce/cloudsplaining/issues/190#issuecomment-841598595

[2021-05-15 16:28] kmcquade commented on #988
@schosterbarak I think we are good to close this issue since it was addressed in #1032.

[2021-05-15 18:15] schosterbarak commented on #988
Thanks @kmcquade !

[2021-05-15 18:15] #988 closed

[2021-05-15 18:17] #1208 closed

[2021-05-17 11:21] richardj-bsquare commented on #1176
If applied to aws_launch_configuration, then it also needs applying to aws_launch_template

I'm getting this reported for this example...

[code]

[2021-05-17 15:37] richardj-bsquare opened #1219 "CKV2_AWS_5 does not check for use of security group in aws_launch_template"
If applied to aws_launch_configuration, then it also needs applying to aws_launch_template.

Tested on Chekov 2.0.135

I'm getting this reported for this example...

[code]

_Originally posted by @richardj-bsquare in https://github.com/bridgecrewio/checkov/issues/1176#issuecomment-842243268_

[2021-05-17 17:27] gruebel commented on #1219
@richardj-bsquare thanks, I will add it 💪 if you find any other missing resources, please open a new issue, if this will be already closed!

[2021-05-18 07:22] #1219 closed

[2021-05-18 09:48] serxansherif opened #1223 "Azure terraform error"
Hello,

I get the following error when scanning the tf files.

_ERROR:checkov.terraform.checks.resource.azure.NSGRuleUDPAccessRestricted:Failed to run check: Ensure that UDP Services are restricted from the Internet  for configuration: {'count': [1], 'location': ['WestEurope'], 'name': ['dev-nsg'], 'resource_group_name': ['dev-vm'], 'security_rule': ['lookup(rule,"destination_port_range",*):\\\'lo

[2021-05-18 10:14] nimrodkor commented on #1223
Hey @serxansherif !

I believe the issue is we don't handle the `lookup` function correctly in this case. There are 2 options:
1. Ensure rule_conf['protocol'] is a list - should be an easy fix.
2. Resolve the `lookup` function. This seems like an overkill for me in this case.

We're open to a fix PR if you're up to it :)

[2021-05-18 10:18] christophetd opened #1224 "Suppressing findings per resource when scanning a Terraform plan?"
**Is your feature request related to a problem? Please describe.**
Problem: It seems unsupported to [suppress](https://www.checkov.io/2.Basics/Suppressing%20and%20Skipping%20Policies.html) findings on a resource when scanning a TF plan.

**Describe the solution you'd like**
A way to tag / comment a resource so the findings are not only suppressed when scanning the HCL code, but also the plan.

**D

[2021-05-18 10:25] serxansherif commented on #1223
hey @nimrodkor

thanks for the quick responding.
it's up to you :)

[2021-05-18 10:46] nimrodkor commented on #1211
Would love a PR on it. tnx @Raffaello !

[2021-05-18 12:59] #1211 closed

[2021-05-18 18:41] ismailyenigul opened #1230 "CKV2 checks are failing on count"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
run checkov on https://github.com/terraform-aws-modules/terraform-aws-security-group and https://github.com/terraform-aws-modules/terraform-aws-vpc

[code]

**Expected behavior**
checkov should pass all above checks

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Checkov Version: 2.0.147

[2021-05-18 22:04] eric-kinsa commented on #1203
@acdha I don't believe it was fixed in that PR you linked. I started getting several CKV2_AWS_5 false positives on security groups that clearly attached to ENI's and using the version with that code change.

[2021-05-19 08:23] schosterbarak commented on #1203
hi @eric-kinsa can you give a code snapshot we can use to test this one?

[2021-05-21 08:05] HarleyB123 commented on #971
Agreed - this would be super useful! Currently I am interpolating the variables file by running a terraform plan and sending the output to a JSON, as shown [here](https://bridgecrew.io/blog/terraform-plan-security-scanning-checkov/)

Happy to take this one on - might get stuck along the way! :)

[2021-05-21 10:30] HarleyB123 commented on #971
Additionally, assuming your branch structure matches your environment and their variable names (this was the case for me, where my branch was ```env/uat``` for ```uat.tfvars``` and the ```main``` branch was my ```prod.tfvars```), you could run bash in a github action like so to get the branch name:

[code]

and then rename the variables file

[code]

[2021-05-21 14:24] nwsparks commented on #1071
still a problem with the latest version

[2021-05-22 03:55] #658 closed

[2021-05-24 09:42] schosterbarak commented on #690
I actually want to start working on that sometime soon. not stale.

[2021-05-25 01:03] deepakcpakhale06 opened #1243 "Failed with error message "Failed to get customer assumed role""
**Describe the bug**
Unable to run checkov locally. Fails with error "Failed to get customer assumed role"

**To Reproduce**
Steps to reproduce the behavior:
Run checkov locally. Supply mandatory parameters bc_api_key and repo_id as mentioned in the workshop

**Expected behavior**
Local scans of checkov should not be dependent on cloud account

**Screenshots**
![image](https://user-images.githubus

[2021-05-25 03:37] wpts-it1 commented on #772
Hello, I am a novice at Checkov. I would like to know that Does it scan a module? but the result report showing the resource scanned. Could you tell me the step for scanning, and Can it scan internal modules. Thanks

[2021-05-25 10:27] Gisson commented on #465
Hey @jonjozwiak can we reopen this issue? I don't mind working on it to get it ready.

[2021-05-25 13:35] schosterbarak commented on #465
Hi

[2021-05-25 13:35] #465 closed

[2021-05-25 13:36] schosterbarak commented on #465
Hi @Gisson  this was introduced https://bridgecrew.io/blog/built-in-helm-chart-scanning-with-checkov/

[2021-05-25 13:38] Gisson commented on #465
Ah thanks. Hadn't found it in the docs. My bad. Great job!

[2021-05-25 18:33] johannesgiorgis-galvanize opened #1246 "Encounter `KeyError: 'aws'` error with latest checkov version (2.0.163)"
**Describe the bug**
We are encoutering a `KeyError: 'aws'` with the latest version of checkov - 2.0.163 in our CI systems. The source file is `checkov/terraform/context_parsers/base_parser.py` which had recent changes. Please find below the relevant output showcasing the error.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the latest version of checkov via `pip install checkov`
2.

[2021-05-26 06:44] #1246 closed

[2021-05-26 08:42] schosterbarak commented on #1246
@johannesgiorgis-galvanize thank you for reporting this! we've applied a fix

[2021-05-26 14:51] ashishsme14 opened #1250 "Monitor services in azure"
Our task is -

- Write a terraform script in azmonitor.tf to create a storage account, storage container, storage blob to monitor and send log reports everyday.
- Define the variables resourcegroup and location in the variables.tf file, and call those variables in the azmonitor.tf file using string interpolation syntax

With help of vi command we created variables.tf file as

[code]

In normal way

[2021-05-26 15:55] johannesgiorgis-galvanize commented on #1246
Thanks for the quick turn around on this @schosterbarak ! Appreciate all the hard work :)

[2021-05-26 18:27] acdha opened #1251 "RDS triggers CKV2_AWS_16: "Ensure that Auto Scaling is enabled on your DynamoDB tables""
I noticed a regression with 2.0.165:

Check: CKV2_AWS_16: "Ensure that Auto Scaling is enabled on your DynamoDB tables"
	FAILED for resource: aws_appautoscaling_policy.read_replicas
	File: /rds/main.tf:169-187
	Guide: https://docs.bridgecrew.io/docs/ensure-that-auto-scaling-is-enabled-on-your-dynamodb-tables

The resource in question is an RDS Aurora cluster which would explain this failure if it'

[2021-05-26 18:31] acdha commented on #1203
Not sure if #1186 shipped in 2.0.165 but if it did, I'm still seeing this for security groups which are assigned to ECS services:

[code]

(That group is used by an ECS service)

I also see this for a group used for VPC endpoints which allows ingress from various CIDR ranges and is configured for the endpoint services (SES and EFS).

[2021-05-26 19:37] gruebel commented on #1251
I checked the code and how it is implemented it doesn't make much sense at the moment. it will flag each `aws_appautoscaling_policy` resource, which is not related to a DynamoDB table

[2021-05-26 19:47] eric-kinsa commented on #1203
Sorry for the late reply. Here's a couple that come up that I verified are attached to an ENI:

Both are these are created within a module.

Attached to a ClientVPN Endpoint resource:
`resource "aws_security_group" "vpn_sg" {
  vpc_id = aws_vpc.main.id
  name   = "vpn-sg"

  tags = {
    Name        = "vpn"
    environment = "vpn"
    terraform   = "true"
  }
}
`
RDSNetworkInterface
`resource "aws

[2021-05-27 07:28] #1251 closed

[2021-05-27 07:38] nimrodkor commented on #1251
Thanks for reporting @acdha !

[2021-05-28 07:45] Marcus-James-Adams commented on #971
@HarleyB123 , the problem with the above especially with tf 0.15 it only works on the new infrastructure code as plan now only shows the lines that change in order to make it more readable.

@bridgecrew-bot this really does need supporting as it stops us from taking checkov & bridgecrew forwards

[2021-05-28 08:54] Marcus-James-Adams opened #1257 "checkov plan -f not reading json file"
**Describe the bug**
checkov -f fails to scan terraform.json

**To Reproduce**
terraform show -json > tfplan.json
checkov -f tfplan.json

**Expected behavior**
*NOTE* this was taken by running checkov plan -d . in the same directory

[code]

**Actual behavior**
[code]

**Desktop (please complete the following information):**

OS: Windows 10 - both command prompt and PowerShell, Python 3.9.5
Checko

[2021-05-28 08:57] Marcus-James-Adams commented on #971
@schosterbarak

[2021-05-28 21:55] #1173 closed

[2021-06-01 16:06] knoxknot opened #1262 "Dockerfile Framework Only Scans files named "Dockerfile""
**Is your feature request related to a problem? Please describe.**
The tool cannot scan file names other than Dockerfile for the dockerfile framework
Ex. checkov -f Dockerfile --framework dockerfile #works
      checkov -f Dockerfile.prod --framework dockerfile  #does not work

**Describe the solution you'd like**
Passing a framework flag should be able to scan the file irrespective of whether it

[2021-06-03 17:09] #681 closed

[2021-06-04 08:09] rbmarkh opened #1265 "Checkov 2.0.176 runner error with plan input"
**Describe the bug**
Running with a JSON input produces:

[code]

**To Reproduce**
1. `checkov -f tfplan.json`, where tfplan.json is a TF plan file from terraform show

**Expected behavior**
2.0.175 works fine with exactly the same input.

**Additional context**
Looks like in `checkov/main.py' the bc_integration stuff needed removing in line 123 too, see :

https://github.com/bridgecrewio/checkov/

[2021-06-04 14:15] larryboymi commented on #560
To further illustrate the point I was trying to make, I established a very simple initial data contract for exceptions, such as:

[code]

Now we just need a mechanism (currently) to get those suppressions in-line (although my preference would lean towards a new mechanism where skips could be passed automatically to the filter where they're utilized). However, the current model can be processed by

[2021-06-05 06:06] gattil commented on #1265
I observed the same issue with version 2.0.177, but it was solved with release 2.0.178 (https://github.com/bridgecrewio/checkov/pull/1266)

[2021-06-05 21:26] eladmotola commented on #991
@schosterbarak Hey, sorry for pinging. Can you please take a look?

[2021-06-06 08:17] schosterbarak commented on #1265
Thank you for helping ti verify @gattil

[2021-06-06 08:17] #1265 closed

[2021-06-07 09:28] michal-adamkiewicz opened #1270 "Checkov don't work with custom checks when -f option is given"
**Describe the bug**
When I work with **-d** flag and points terraform files everything works like a charm accordingly with documentation. But because we all know, that some things are being generated using modules in Terraform (a lot!) - modules hide underneath resources details - that's why we often need to provide a full plan (in JSON format) as input for Checkov (instead of static files). As s

[2021-06-07 09:53] nimrodkor commented on #1270
Hey @michal-adamkiewicz !

Can you please add these details:
1. Are these yaml (aka graph) checks or python checks?
2. Did providing the absolute path to the checks still reproduce this issue?

[2021-06-07 18:41] michal-adamkiewicz commented on #1270
Sure. First of all, thank you @nimrodkor for such a quick response!
It's crucial for me, as I would like incorporate checkov into our generic CI/CD standard

1. I have been trying with both of them, but let me paste my YAML check:

`---
metadata:
       name: "Check that all resources are tagged with the key - checkit"
       id: "CUSTOM_AWS_1"
       category: "GENERAL_SECURITY"
scope:
       pro

[2021-06-10 07:26] michal-adamkiewicz commented on #1270
Probably I have to switch to a different tool if this functionality doesn't work :(

[2021-06-10 08:19] schosterbarak commented on #1270
hi @michal-adamkiewicz i'll work on a fix sometime next week. Stay tuned.

[2021-06-10 08:32] michal-adamkiewicz commented on #1270
@schosterbarak seriously? 🙀 Thank you so much, buddy 👍 . I have already incorporated checkov inside Atlantis Gitops tool - your tool is a life safer for people like me;). I will be very grateful for any update on this 👌

[2021-06-10 11:30] etscheid-devk commented on #1203
Hi, yes I see this also if the SG is attached to RDS, VPC Endpoints, Redshift,...
Here a working example that throws a false positive for the CKV2_AWS-5:

`resource "aws_vpc" "this" {
  cidr_block = "10.0.0.0/16"
}

resource "aws_db_instance" "default" {
  allocated_storage    = 10
  engine               = "mysql"
  engine_version       = "5.7"
  instance_class       = "db.t3.micro"
  name

[2021-06-10 11:33] Marcus-James-Adams commented on #560
I too think a .checkovignore file would be useful as we too have multiple repos/folders with different requirements.

Specifying each one individually via the cli is not an option when you are passing through to automated co/cd pipelines in the above scenario

[2021-06-10 11:43] schosterbarak commented on #560
Thanks guys. @nimrodkor and @tronxd will work on adding a "baseline" file - inspired by yelp/detect-secrets to have that option